<% content_for :head do %>
<title><%= @dl_category.typename %>资源下载 托福资料 tpo 下载 机经下载,雅思资料,GRE的下载资料 - 小马过河 xiaoma.com</title>
<meta name="keywords" content="<%= @dl_category.typename %>下载 出国留学考试资料下载,托福,雅思,tpo 下载 机经下载,GRE,GMAT,SAT,ACT,SSAT,AP" />
<meta name="description" content="浏览所有<%= @dl_category.typename %>资源下载 <%= @dl_category.description %>" />
<% end %>

<div class="Cen_Main">
	<div class="DLtop">
    	<p><a href="<%= XMAPP_MAIN_DOMAIN_URL %>">小马过河</a> &gt;&gt; <%= link_to '资源下载', dl_index_path %>&gt;&gt; <%= @dl_category.typename %></p>
        <b><%= @dl_category.typename %>下载</b>
    </div>
    
    <div class="DLleft">
		<% @dl_threads.each do |dl_thread| %>	
    	<div class="DLleftList">
        	<div class="DLleftListTop">
				<%= link_to "[#{dl_thread.dl_type.typename}]", dl_category_url(dl_thread.dl_type_id), :style => "color:#ff6600;" %>
				<%= link_to dl_thread.name,  dl_path(dl_thread), :style => "color:#004276; font-size:16px;" %>
            </div>
            <div class="DLleftListCen">
            	<img src="<%= dl_thread.photo.url(:thumb)%>" />
                <p>
					<%= h(dl_thread.content_desc.truncate(160))%>
				</p>
            </div>
            <div class="DLleftListBot">
            	<a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', dl_thread.user.dz_common_id.to_s) %>"><%= dl_thread.user.username%></a>
                <img src="/dzstyle/images/icon_arrow.gif" />
                <span>有<%= dl_thread.views %>人浏览</span>
                <span style="color:#a12a2a;"><%= dl_thread.created_at.strftime('%Y-%m-%d') %></span>
                <img src="/dzstyle/images/indwd_52.gif" />
                <span>售价<%= dl_thread.gold %></span>
                <img src="/dzstyle/images/star.jpg" />
                <% if dl_thread.level == 0 %>
				<span class="level0">普通</span>
				<% elsif dl_thread.level == 1 %>
				<span class="level1">推荐</span>
				<% elsif dl_thread.level == 2%>
				<span class="level2">精华</span>
				<% end %>
				
            </div>
        </div>
		<% end %>
        
        
        <div class="DLpaging">
			<%=h will_paginate @dl_threads, :previous_label => '上一页',  :next_label => '下一页'%>
        </div>
        
        <script src="http://www.xiaoma.com/plus/ad_js.php?aid=57" language="javascript"></script>
    </div>
    <div class="DLright">
    	<div class="DlrigntFenXiang">
        	<!-- JiaThis Button BEGIN -->
            <div id="ckepop">
                <span class="jiathis_txt">分享到：</span>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_renren"></a>
                <a class="jiathis_button_kaixin001"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
            </div>
            <script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
			<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
			<!-- JiaThis Button END -->
        </div>
        <div class="DlrightSousuo">
		<form method="get" action="/search" accept-charset="UTF-8">
			<input type="hidden" value="dl" name="type"/>
			<input id="query" type="text" name="query" class="text"/>
            <input type="submit" value="搜索" class="input"/>
		</form>
        </div>
        <a href="<%= XMAPP_MAIN_DOMAIN_URL %>/dl/threads/new" class="DLrightUplode"><img src="/dzstyle/images/upload.png" /></a>
        <a href="<%= XMAPP_MAIN_DOMAIN_URL %>/manage/uploads" class="DLrightGLUplode">管理我的上传</a>
        
		<div class="DLrightBiaoQ">
        	<b>下载热门分类标签</b>
            <ul>
            	<li>[类型]</li>
				<li><a href="http://www.xiaoma.com/dl/category/13">小马过河备考听力包</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/3">托福</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/4">雅思</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/5">SAT</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/9">有声读物</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/10">托福口语</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/11">托福写作</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/6">托福听力</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/7">托福阅读</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/35">雅思词汇</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/36">雅思听力</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/37">雅思阅读</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/38">雅思口语</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/18">SAT2</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/19">GRE</a></li>
				<li><a href="http://www.xiaoma.com/dl/category/27">GMAT</a></li>


				<li>[标签]</li>
				<li><a href="http://www.xiaoma.com/tags/%E9%A9%AC%E9%AA%8F">马骏</a></li>
				<li><a href="http://www.xiaoma.com/tags/TPO">TPO</a></li>
				<li><a href="http://www.xiaoma.com/tags/%E8%AE%B2%E4%B9%89%E8%AF%BE%E4%BB%B6">讲义课件</a></li>
				<li><a href="http://www.xiaoma.com/tags/%E8%AF%8D%E6%B1%87">词汇</a></li>
				<li><a href="http://www.xiaoma.com/tags/%E6%95%99%E8%BE%85%E4%B9%A6">教辅书</a></li>
				<li><a href="http://www.xiaoma.com/tags/%E8%AF%AD%E6%B3%95">语法</a></li>
				<li><a href="http://www.xiaoma.com/tags/%E6%89%98%E7%A6%8F%E8%AF%8D%E6%B1%87">托福词汇</a></li>
				<li><a href="http://www.xiaoma.com/tags/%E6%9C%BA%E7%BB%8F%E9%A2%84%E6%B5%8B">机经预测</a></li>
				<li><a href="http://www.xiaoma.com/tags/%E9%9B%85%E6%80%9D%E7%9C%9F%E9%A2%98">雅思真题</a></li>
				<li><a href="http://www.xiaoma.com/tags/%E5%89%91%E6%A1%A5%E9%9B%85%E6%80%9D">剑桥雅思</a></li>
				<li><a href="http://www.xiaoma.com/tags/SAT%E7%89%A9%E7%90%86">SAT物理</a></li>
				<li><a href="http://www.xiaoma.com/tags/SAT%E7%9C%9F%E9%A2%98">SAT真题</a></li>
            </ul>
        </div>
        
		<dl class="DLrightMold">
        	<dt>论坛精华</dt>
            <script type="text/javascript" src="http://bbs.xiaoma.com/api.php?mod=js&bid=286"></script>
        </dl>
        
    </div>
    
</div>
