<% content_for :head do %>
<title>小马过河-浏览所有<%= @dl_category.typename %>资源下载</title>
<meta name="description" content="浏览所有<%= @dl_category.typename %>资源下载" /> 
<meta name="keywords" content="小马过河 英语 学习资料 下载 <%= @dl_category.typename %>" /> 
<% end %>

		<div class="container">
			<div class="page_path">
				<a href="/">首页</a> &gt;&gt; <%= link_to "资源下载", dl_index_path %> &gt;&gt; <%= @dl_category.typename %>
			</div><!-- .page_path -->
			<div class="page_title"><h1>所有<%= @dl_category.typename %>下载列表</h1></div>
			<div class="list_leftside">
				<div class="index_rich_list">
					<% if flash[:message] %>
					<div class="submit_message"><%= flash[:message] %></div><!-- .message -->
					<% end %>
					<% if flash[:error] %>
					<div class="submit_error"><%= flash[:error] %></div><!-- .error -->
					<% end %>
						<ul>
						   <% @dl_threads.each do |dl_thread| %>
							<li>
								<div class="content">
									<h5>
										<%= link_to "[#{@dl_category.typename}]", dl_category_url(dl_thread.dl_type_id), :class => "dl_type" %>
										&nbsp;
										<%= link_to dl_thread.name,  dl_path(dl_thread), :class => "title" %>
									</h5>
									
									<div class="description">
									<p><img src="<%= dl_thread.photo.url(:thumb)%>"></img>
									<%= h(dl_thread.content_desc.truncate(160))%>
									</p>
									</div>
									<div class="clear"></div>
									<div class="upload_info">
										<a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', dl_thread.user.dz_common_id.to_s) %>"><%= dl_thread.user.username%></a> 
										<!-- <span class="comment">评论(18)</span> -->
										<span class="view">有<%= dl_thread.views %>人浏览</span>
										<span class="date"><%= dl_thread.created_at.strftime('%Y-%m-%d') %></span> 
										
									</div>
								</div>
							</li>
							<% end %>					
						</ul>
					<div class="clear"></div>
					<div class="paginate">
						<%=h will_paginate @dl_threads, :previous_label => '上一页',  :next_label => '下一页'%>
					</div>
				</div><!-- .index_rich_list -->
			</div><!-- .list_leftside -->
			<div class="list_rightside">
<!-- JiaThis Button BEGIN -->
<div id="ckepop">
	<a href="http://www.jiathis.com/share/?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_kaixin001"></a>
	<a class="jiathis_button_renren"></a>
</div>
<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
<!-- JiaThis Button END -->
				<div class="user_upload">
					<p>
						<input type="button" class="upload_img"  onclick="location.href='<%= new_downloads_dl_thread_path %>'">
					</p>
				</div>
				<div>
					<p>
						<h5><a href="/manage/uploads">管理我的上传</a></h5>
					</p>
				</div>
				<h2 class="subject">英语学习资料下载热门分类标签</h2>
				<ul class="content clearfix">
					<li>[类型]</li>
					<li><%= link_to "托福", dl_category_url(3) %></li>
					<li><%= link_to "雅思", dl_category_url(4) %></li>
					<li><%= link_to "SAT", dl_category_url(5) %></li>
					<li><%= link_to "有声读物", dl_category_url(9) %></li>
					<li><%= link_to "托福口语", dl_category_url(10) %></li>
					<li><%= link_to "托福写作", dl_category_url(11) %></li>
					<li><%= link_to "托福综合", dl_category_url(12) %></li>
					<li><%= link_to "托福听力", dl_category_url(6) %></li>
					<li><%= link_to "托福阅读", dl_category_url(7) %></li>
					
					<li class="split">[标签]</li>
					<li><%= link_to "马骏", tag_url("马骏") %></li>
					<li><%= link_to "TPO", tag_url("TPO") %></li>
					<li><%= link_to "讲义课件", tag_url("讲义课件") %></li>
					<li><%= link_to "词汇", tag_url("词汇") %></li>
					<li><%= link_to "教辅书", tag_url("教辅书") %></li>
					<li><%= link_to "语法", tag_url("语法") %></li>
				</ul>
				<h2 class="subject"><%= @dl_category.typename %>最热下载</h2>
				<ul class="rank_list clearfix">
					<% @hot_dl_threads.each do |hot_dl_thread| %>
					<li>
						<%= link_to hot_dl_thread.name, dl_path(hot_dl_thread.id) %> (<%= hot_dl_thread.views %>)
					</li>
					<% end %>
				</ul>
				
				
			</div>
			<div class="clear"></div>
		</div><!-- #content_container -->
		<div class="clear"></div>