<% content_for :head do %>
<title>小马过河-资料下载,浏览所有出国留学考试资料 托福,雅思,GRE的下载资料</title>
<meta name="keywords" content="出国留学考试资料下载,托福,雅思,GRE,GMAT,SAT,ACT,SSAT,AP" />
<meta name="description" content="这里有大量包括 托福,雅思,GRE,GMAT,SAT,ACT,SSAT,AP 等等考试资料学习资源 " />
<% end %>

		<div class="container">
		<embed height="150" width="950" flashvars="bannerWidth=950&bannerHeight=150&bannerSID=http://img.uu1001.cn/x2/2011-07-02/20-29/2011-07-02_6088547e1fbc8d817a1a984782e2c422_0.xml&bannerXML=&bannerLink=http%3A%2F%2F&dataSource=&bid=23213064&appSource=default" wmode="transparent" allowscriptaccess="always" quality="high" name="23213064" id="23213064" style="" src="http://img.uu1001.cn/bcv3.swf?v=20110610" type="application/x-shockwave-flash"/></embed>
			<div class="page_path">
				<a href="/">首页</a> &gt;&gt; 资源下载
			</div><!-- .page_path -->
			<div class="page_title"><h1>所有英语学习资料下载列表</h1></div>
			<div class="list_leftside">
				<div class="index_rich_list">
						<ul>
						   <% @dl_threads.each do |dl_thread| %>
							<li>
								<div class="content">
									<h5>
										<%= link_to "[#{dl_thread.dl_type.typename}]", dl_category_url(dl_thread.dl_type_id), :class => "dl_type" %>
										&nbsp;
										<%= link_to dl_thread.name,  dl_path(dl_thread), :class => "title" %>
									</h5>

									<div class="description">
									<p><img src="<%= dl_thread.photo.url(:thumb)%>"></img>
									<%= h(dl_thread.content_desc.truncate(160))%>
									</p>
									</div>
									<div class="clear"></div>
									<div class="upload_info">
										<a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', dl_thread.user.dz_common_id.to_s) %>"><%= dl_thread.user.username%></a>
										<!-- <span class="comment">评论(18)</span> -->
										<span class="view">有<%= dl_thread.views %>人浏览</span>
										<span class="date"><%= dl_thread.created_at.strftime('%Y-%m-%d') %></span>
										<span class="score">售价<%= dl_thread.gold %></span>

										<% if dl_thread.level == 0 %>
										<span class="level0">普通</span>
										<% elsif dl_thread.level == 1 %>
										<span class="level1">推荐</span>
										<% elsif dl_thread.level == 2%>
										<span class="level2">精华</span>
										<% end %>
									</div>
								</div>
							</li>
							<% end %>
						</ul>
					<div class="clear"></div>
					<div class="will_pagination">
						<%=h will_paginate @dl_threads, :previous_label => '上一页',  :next_label => '下一页'%>
					</div>
				</div><!-- .index_rich_list -->
			</div><!-- .list_leftside -->
			<div class="list_rightside">
<!-- JiaThis Button BEGIN -->
<div id="ckepop">
	<a href="http://www.jiathis.com/share/?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_kaixin001"></a>
	<a class="jiathis_button_renren"></a>
</div>
<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
<!-- JiaThis Button END -->
        <div class="right_search">
					<form method="get" action="/search" accept-charset="UTF-8">
						<input type="hidden" value="dl" name="type">
						<input id="query" type="text" name="query">
						<input id="search_submit" class="btn_srh" type="submit" value="搜索">
					</form>
				</div>
				<div class="user_upload">
					<p>
						<input type="button" class="upload_img"  onclick="location.href='<%= XMAPP_MAIN_DOMAIN_URL %>/dl/threads/new'">
					</p>
				</div>
				<div>
					<p>
						<h5><a href="<%= XMAPP_MAIN_DOMAIN_URL %>/manage/uploads">管理我的上传</a></h5>
					</p>
				</div>

				<h2 class="subject">下载热门分类标签</h2>
				<ul class="content clearfix">
					<li>[类型]</li>
					<li><%= link_to "小马过河备考听力包", dl_category_url(13) %></li>
					<li><%= link_to "托福", dl_category_url(3) %></li>
					<li><%= link_to "雅思", dl_category_url(4) %></li>
					<li><%= link_to "SAT", dl_category_url(5) %></li>
					<li><%= link_to "有声读物", dl_category_url(9) %></li>
					<li><%= link_to "托福口语", dl_category_url(10) %></li>
					<li><%= link_to "托福写作", dl_category_url(11) %></li>
					<li><%= link_to "托福听力", dl_category_url(6) %></li>
					<li><%= link_to "托福阅读", dl_category_url(7) %></li>
					<li><%= link_to "雅思词汇", dl_category_url(35) %></li>
					<li><%= link_to "雅思听力", dl_category_url(36) %></li>
					<li><%= link_to "雅思阅读", dl_category_url(37) %></li>
					<li><%= link_to "雅思口语", dl_category_url(38) %></li>
					<li><%= link_to "SAT2", dl_category_url(18) %></li>
					<li><%= link_to "GRE", dl_category_url(19) %></li>
					<li><%= link_to "GMAT", dl_category_url(27) %></li>


					<li class="split">[标签]</li>
					<li><%= link_to "马骏", tag_url("马骏") %></li>
					<li><%= link_to "TPO", tag_url("TPO") %></li>
					<li><%= link_to "讲义课件", tag_url("讲义课件") %></li>
					<li><%= link_to "词汇", tag_url("词汇") %></li>
					<li><%= link_to "教辅书", tag_url("教辅书") %></li>
					<li><%= link_to "语法", tag_url("语法") %></li>
					<li><%= link_to "托福词汇", tag_url("托福词汇") %></li>
					<li><%= link_to "机经预测", tag_url("机经预测") %></li>
					<li><%= link_to "雅思真题", tag_url("雅思真题") %></li>
					<li><%= link_to "剑桥雅思", tag_url("剑桥雅思") %></li>
					<li><%= link_to "SAT物理", tag_url("SAT物理") %></li>
					<li><%= link_to "SAT真题", tag_url("SAT真题") %></li>
				</ul>
				<h2 class="subject">本周热门</h2>
				<ul class="rank_list clearfix">
					<% @week_hot.each do |hot_dl_thread| %>
					<li>
						<%= link_to hot_dl_thread.name, dl_path(hot_dl_thread.id) %> (<%= hot_dl_thread.views %>)
					</li>
					<% end %>
				</ul>
				<h2 class="subject">精华和推荐</h2>
				<ul class="rank_list clearfix">
					<% @tuijian.each do |hot_dl_thread| %>
					<li>
						<%= link_to hot_dl_thread.name, dl_path(hot_dl_thread.id) %> (<%= hot_dl_thread.views %>)
					</li>
					<% end %>
				</ul>
				<h2 class="subject">最新免费</h2>
				<ul class="rank_list clearfix">
					<% @free_dl.each do |hot_dl_thread| %>
					<li>
						<%= link_to hot_dl_thread.name, dl_path(hot_dl_thread.id) %> (<%= hot_dl_thread.views %>)
					</li>
					<% end %>
				</ul>


			</div>
			<div class="clear"></div>
		</div><!-- #content_container -->
		<div class="clear"></div>

