<% content_for :head do %>
<title>小马过河-浏览<%= @dl_thread.name if @dl_thread %> <%= @dl_thread.dl_type.typename if @dl_thread %></title>
<meta name="description" content="浏览<%= @dl_thread.name if @dl_thread%> 描述:<%= @dl_thread.content_desc if @dl_thread %>" />
<meta name="keywords" content="小马过河 资料 下载 <%= @dl_thread.name if @dl_thread %> <%= @dl_thread.dl_type.keywords if @dl_thread %>" />
<% end %>

		<div class="container <%= "empty_list" if not @dl_thread %>">
			<div class="page_path">
				<a href="/">首页</a> &gt;&gt; <%= link_to "资源下载", dl_index_path %> &gt;&gt; <%= @dl_thread.name if @dl_thread %>
			</div><!-- .page_path -->

			<div class="page_title">
			<% if @dl_thread %>
				<h1>
					<%= link_to "[#{@dl_thread.dl_type.typename}]", dl_category_url(@dl_thread.dl_type_id), :class => "dl_type" %>&nbsp;
					<%= @dl_thread.name %>
				</h1>
			<% end %>
			</div>

			<div class="list_leftside">
					<% if flash[:message] %>
					<div class="submit_message"><%= flash[:message] %></div><!-- .message -->
					<% end %>
					<% if flash[:error] %>
					<div class="submit_error"><%= flash[:error] %></div><!-- .error -->
					<% end %>
				<% if @dl_thread %>
				<div class="page_sample_info">
					<div class="page_user_info">
						<a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', @dl_thread.user.dz_common_id.to_s) %>">
							<img src="<%= USER_DISCUZ_SMALL_AVATAR_BASE.gsub('{dz_uid}', @dl_thread.user.dz_common_id.to_s) %>">
						</a>
					</div><!-- .page_user_info -->
					<div class="upload_info">
						<a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', @dl_thread.user.dz_common_id.to_s) %>"><%= @dl_thread.user.username%></a>
						<!-- <span class="comment">评论(18)</span> -->
						<span class="view">有<%= @dl_thread.views %>人浏览</span>
						<span class="date"><%= @dl_thread.created_at.strftime('%Y-%m-%d') %></span>
					</div><!-- .upload_info -->
					<div class="clear"></div>
					<h4>
					<span class="tag_title">标签:</span>
					<% @tags.each do |tag| %>
						<%= link_to tag.name , tag_path(tag.slug) %>&nbsp;&nbsp;
					<% end %>
					</h4>
				</div><!-- .page_sample_info -->
				<div class="downloads_content_desc list_bottom_partition">
					<p>
						<img src="<%= @dl_thread.photo.url(:medium)%>"></img>

					</p>
					<h2>内容简介</h2>
					<%= raw(@dl_thread.content_desc) %>
					<div class="clear"></div>
				</div>
				<div class="downloads_content list_bottom_partition">
					<h5><%= @dl_thread.name %><span>的详细介绍</span></h5>

					<%= raw(@dl_thread.content) %>
					<div class="clear"></div>
				</div>
				<div class="downloads_list">
					<h3>下载地址</h3>
					<ul>
					<% @dl_attachments.each do |dl_attachments| %>
						<li class="">
							<a href="<%= DOWNLOAD_SERVER_URL %>/dl/attachment/<%= dl_attachments.id %>"><%= dl_attachments.originname%></a>
							<span class="file_size"><%= number_to_human_size dl_attachments.filesize, :locale => :en %></span>
							<span class="downloads_count">下载次数:<%= dl_attachments.donwloads %></span>
						</li>
					<% end %>
					</ul>
				</div>
				<% end %>
			</div><!-- .list_leftside -->

			<div class="list_rightside">
<!-- JiaThis Button BEGIN -->
<div id="ckepop">
	<a href="http://www.jiathis.com/share/?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_kaixin001"></a>
	<a class="jiathis_button_renren"></a>
</div>
<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
<!-- JiaThis Button END -->
        <div class="right_search">
					<form method="get" action="/search" accept-charset="UTF-8">
						<input type="hidden" value="dl" name="type">
						<input id="query" type="text" name="query">
						<input id="search_submit" class="btn_srh" type="submit" value="搜索">
					</form>
				</div>
				<div class="user_upload">
					<p>
						<input type="button" class="upload_img"  onclick="location.href='<%= XMAPP_MAIN_DOMAIN_URL %>/downloads/dl_threads/new'">
					</p>
				</div>
				<div>
					<p>
						<h5><a href="<%= XMAPP_MAIN_DOMAIN_URL %>/manage/uploads">管理我的上传</a></h5>
					</p>
				</div>

			</div>
			<div class="clear"></div>
		</div><!-- #content_container -->
		<div class="clear"></div>

