<% content_for :head do %>
<title>小马过河-快速上传资料</title>
<meta name="description" content="快速上传资料" />
<meta name="keywords" content="小马过河 英语 学习资料 上传" />
<%= stylesheet_link_tag('jquery.fileupload-ui') %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/localization/messages_cn.js"></script>
<%= javascript_include_tag 'jquery.fileupload', 'jquery.fileupload-ui' %>
<script language="Javascript">
	$(document).ready(function(){
    $("#simplenew").validate(
      {
        rules: {
          thread_name: {
             required: true,
             minlength: 5,
             maxlength: 64
           },
          content_desc: {
             required: true,
             minlength: 10,
             maxlength: 128
           },
          photo: {
             required: false,
             accept:"gif|jpg|jpeg|png"
           }
         },
         messages: {
          photo: {
              accept: "这里是上传此资源的预览图和封面,必须是图片格式,比如jpg和png"
          }
         }
      }
    );
  });
</script>


<% end %>
		<div class="container">
			<div class="page_path">
			<a href="/">首页</a> &gt;&gt; <%= link_to '资源下载', dl_index_path %> &gt;&gt; 快速上传资料
			</div><!-- .page_path -->
			<div class="page_title"><h1>快速上传资料</h1></div>
			<div class="form_container">

				<div class="form_left">
         <% if flash[:message] %>
					<div class="submit_message"><%= flash[:message] %></div><!-- .message -->
					<% end %>
					<% if flash[:error] %>
					<div class="submit_error"><%= flash[:error] %></div><!-- .error -->
					<% end %>
				  <form id="simplenew" method="post" action="/dl/threads" accept-charset="UTF-8" enctype="multipart/form-data">
					<div class="global_form">
						<%= label_tag :name, "下载资源的标题:" %><div class="clear"></div>
						<input id="thread_name" type="text" name="thread_name" >
					</div>
					<div class="form_tips">清填写下载资源的标题</div>
					<div class="global_form">
						<%= label_tag :dl_type_id, "下载资源的类型:" %><div class="clear"></div>
						<%= select_tag(:dl_type_id,  options_for_select(DlType.where("id not in ( 1, 2, 3 ,4 ,5, 19, 27 )").collect{ |p| [p.typename, p.id] }) ) %>
					</div>
					<div class="form_tips">清选择下载资源的类型</div>
					<div class="global_form">
          <%= label_tag :gold, "售价:" %><div class="clear"></div>
          <div class="clear"></div>
          <%= select_tag(:gold,  options_for_select({ "0" => "0", "5" => "5", "10" => "10", "15" => "15", "20" => 20 }, "5") ) %>
        </div>
        <div class="form_tips">清选择该资源下载的售价</div>
					<div class="global_form">
						<label for="photo">预览图:</label><div class="clear"></div>
						<input id="photo" type="file" name="photo">
					</div>
					<div class="form_tips">选择您要上传的预览图或者封面,文件格式为jpeg,gif或者png,大小不要超过300k</div>
					<div class="global_form">
						<%= label_tag :content_desc, "简介:" %><div class="clear"></div>
						<textarea id="content_desc" rows="4" name="content_desc"  cols="60"></textarea>
					</div>
					<div class="form_tips">请填写这个资源的简单介绍,请输入大于20,小于128个字</div>



					<div id="form_submit">
						<input class="submit" id="campaign_submit" name="commit" type="submit" value="提交">
					</div>
					<div class="clear"></div>
				</form>



				</div><!-- .form_left -->

				<div class="form_right">
				  <div>
					<p>
						<h5><a href="<%= XMAPP_MAIN_DOMAIN_URL %>/manage/uploads">管理我的上传</a></h5>
					</p>
				</div>
				<div class="right_search">
					<form method="get" action="/search" accept-charset="UTF-8">
						<input type="hidden" value="dl" name="type">
						<input id="query" type="text" name="query">
						<input id="search_submit" class="btn_srh" type="submit" value="搜索">
					</form>
				</div>
					<h5>上传资料有什么好处</h5>
					<p>出国留学的历程充满了酸甜苦乐,备考的同道中人彼此相互默默地支撑.分享,无形的共勉与快乐.大家行动起来吧,把资源分享给每一个需要的人
				,现在每上传一个资源,在审核通过后,您将得到50的积分和100的金币,
					</p>
					<h5>什么样的资源才能通过审核</h5>
					<p>首先保证您上传的资源在我们现有的下载里不会重复,所以建议上传之前先进行搜索,其次,您在填写信息时描述的比较具体(最好带有一张形象的封面图,图片格式为jpg或者png,gif),
					最后您按照您的描述上传了相应的附件,这样您上传的资源基本上就可以通过审核了
					</p>
				</div><!-- .form_right -->
			</div><!-- .form_container -->
		</div><!-- #content_container -->
		<div class="clear"></div>

