		<div class="container">
			<div class="page_path">
			<a href="#" title="">后台管理</a> &gt;&gt; 新建下载分类
			</div><!-- .page_path -->
			<div class="page_title"><h1>新建下载分类</h1></div>
			<div class="form_container">
				<% if flash[:message] %>
				<div class="message"><%= flash[:message] %></div><!-- .message -->
				<% end %>
				<% if flash[:error] %>
				<div class="error"><%= flash[:error] %></div><!-- .error -->
				<% end %>
				<div class="form_left">
				<%= form_for([:downloads, :admin,  @dl_type]) do |f| %>
				
					<div class="yuyue_form">
						<%= label_tag(:typename, "类型名称:") %>
						<%= f.text_field :typename %>				
					</div><div class="clear"></div>
					<div class="form_tips">清填写类型名称</div>
					
					<div class="yuyue_form">
						<%= label_tag(:keywords, "关键字:") %>
						<%= f.text_field :keywords %>				
					</div><div class="clear"></div>
					<div class="form_tips">清填写关键字</div>
					<div class="yuyue_form">
						<%= label_tag(:description, "描述:") %>
						<%= f.text_field :description %>				
					</div><div class="clear"></div>
					<div class="form_tips">清填写描述</div>
					
					<div class="yuyue_form">
						<%= label_tag(:dl_type_id, "父级id:") %>
						<%= f.text_field :dl_type_id %>			
					</div><div class="clear"></div>
					<div class="form_tips">请填写父级的id</div>
					
					<div id="form_submit">
						<input id="campaign_submit" name="commit" type="submit" value="提交">				
					</div>
					<div class="clear"></div>
					
				
				<% end %>
				</div><!-- .form_left -->
				
				<div class="form_right">
					<div class="form_right">
					
					
				</div>
				</div><!-- .form_right -->
			</div><!-- .form_container -->
		</div><!-- #content_container -->
		<div class="clear"></div>

