<% content_for :head do %>
<title>小马留学网-提示信息</title>
<meta name="description" content="提示信息" />
<meta name="keywords" content="小马留学网" />
<script type="text/javascript" src ="http://t.agrantsem.com/AG_Tracking.js"></script>
<% end %>
<script type="text/javascript">
var _agq = _agq || [];
_agq.push(['_cid', '211']); //生成value
_agq.push(['_eid', '120']); //生成value

//以下参数需要客户配合填写。'**'为需要替代内容
_agq.push（['_id','<%= @baoming.id %>']）;            //客户方唯一标识id
_agq.push（['_name','<%= @baoming.name %>']）;        //患者姓名
_agq.push（['_tel','<%= @baoming.telnum %>']）;            //电话号码
ag_send(_agq); //在AG_Tracking.js中定义
</script>
	<div class="container empty_list">


					<% if flash[:message] %>
						<div class="common_message"><%= flash[:message] %><br/><a href="/">返回首页</a></div><!-- .message -->
						<% end %>
						<% if flash[:error] %>
						<div class="common_error"><%= flash[:error] %><br/><a href="/">返回首页</a></div><!-- .error -->
					<% end %>




	</div><!-- #content_container -->

	<div class="clear"></div>

