		<div class="container">
			<div class="page_path">
			<a href="/">首页</a> &gt;&gt; <%= link_to '讲座', campaigns_path %> &gt;&gt;  <%= link_to @campaign.name, @campaign %> &gt;&gt; 已申请人列表
			</div><!-- .page_path -->
			<div class="page_title"><h1><%= @campaign.name %>已申请人信息列表</h1></div>
			<div class="list_container">
				
				
				<div class="list_left">
					<% @applies.each do |apply| %>
					<div class="list_line">
						<h3><%= link_to apply.name, campaign_apply_path(@campaign, apply) %></h3>
						<div>
							<label>学校:</label><%= apply.school %> 
							<label>年龄:</label><%= apply.age %>
							<label>城市:</label> <%= apply.city %>
                        <label>报名日期:</label> <%= apply.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
						</div>
					</div>
					<% end %>
				
				</div><!-- .list_left -->
				
				<div class="list_right">
					<h3>简要的一些提示和说明</h3>
					<p>请您留下您的个人真实信息,</p>
					<p>不公布活动地点，预约确认后在通过短信或站内信发给他，避免非目标客户临时到场过于混乱。</p>
				</div><!-- .list_right -->
			</div><!-- .list_container -->
		</div><!-- #content_container -->
		<div class="clear"></div>
