<% content_for :head do %>
<title>小马过河-预约参加讲座活动-<%= @campaign.name %></title>
<meta name="keywords" content="小马过河 申请参加讲座活动,<%= @campaign.name %>" />
<meta name="description" content="小马过河 讲座活动,<%= @campaign.name %>" />

<% end %>
		<div class="container">
			<div class="page_path">
			<a href="/">首页</a> &gt;&gt; <%= link_to '讲座', campaigns_path %> &gt;&gt;  <%= link_to @campaign.name, @campaign %> &gt;&gt; 预约此次讲座
			</div><!-- .page_path -->
			<div class="page_title"><h1><%= @campaign.name %></h1></div>
			<div class="form_container">
				<div class="form_desc">1.填写表单 -> 2.点击提交 -> 3.完成申请</div><!-- .form_desc -->

				<div class="form_left">
				<%= form_for([@campaign, @apply]) do |f| %>

					<div class="yuyue_form">
						<%= f.label :name, "姓名" %>
						<%= f.text_field :name %>
					</div><div class="clear"></div>
					<div class="form_tips">请填您的姓名</div>
					<div class="yuyue_form">
						<%= f.label :email, "电子邮件"%>
						<%= f.text_field :email %>
					</div><div class="clear"></div>
					<div class="form_tips">请填您的电子邮件</div>
					<div class="yuyue_form">
						<%= f.label :mobile, "手机号码"%>
						<%= f.text_field :mobile %>
					</div><div class="clear"></div>
					<div class="form_tips">请填您的手机号码,活动地点将通过手机短信形式通知</div>
					<div class="yuyue_form">
						<%= f.label :school, "就读学校"%>
						<%= f.text_field :school %>
					</div><div class="clear"></div>
					<div class="form_tips">请填您现在所就读的学校</div>
					<div class="yuyue_form">
						<%= f.label :age, "年龄"%>
						<%= f.text_field :age %>
					</div><div class="clear"></div>
					<div class="form_tips">请填您的年龄</div>
					<div class="yuyue_form">
						<%= f.label :city, "城市"%>
						<%= f.text_field :city %>
					</div><div class="clear"></div>
					<div class="form_tips">请填您所在的城市</div>
					<div id="form_submit">
						<input id="campaign_submit" name="commit" type="submit" value="提交预约">
					</div>
					<div class="clear"></div>


				<% end %>
				</div><!-- .form_left -->

				<div class="form_right">
					<h3>简要的一些提示和说明</h3>
					<p>请您留下您的个人真实信息,</p>
					<p>不公布活动地点，预约确认后在通过短信或站内信发给他，避免非目标客户临时到场过于混乱。</p>
				</div><!-- .form_right -->
			</div><!-- .form_container -->
		</div><!-- #content_container -->
		<div class="clear"></div>

