		<div class="content_container">
			<div class="page_path">
			<%= link_to "首页", root_path %> &gt;&gt; <a href="#" title="">讲座</a> &gt;&gt;  <a href="#" title=""><%= @campaign.name %></a> &gt;&gt; 预约信息
			</div><!-- .page_path -->
			<div class="page_title"><h1><%= @campaign.name %>预约者 <%= @apply.name %></h1></div>
			<div class="form_info_container">
				<div class="form_info_desc"><%= @campaign.name %>预约者<%= @apply.name %>的详细信息</div><!-- .form_desc -->
				<div class="form_info_left">
					<p><label>姓名:</label><%= @apply.name %></p>
					<p><label>电子邮件:</label> <%= @apply.email %></p>
					<p><label>就读学校:</label><%= @apply.school %></p>
					<p><label>年龄:</label> <%= @apply.age %></p>
					<p><label>城市:</label><%= @apply.city %></p>
					<p><label>手机号码:</label><%= @apply.mobile %></p>
					
					
				
				</div><!-- .form_info_left -->
				
				<div class="form_info_right">
					<h3>简要的一些提示和说明</h3>
					<p>请您留下您的个人真实信息,</p>
					<p>不公布活动地点，预约确认后在通过短信或站内信发给他，避免非目标客户临时到场过于混乱。</p>
				</div><!-- .form_right -->
			</div><!-- .form_info_container -->
		</div><!-- #content_container -->
		<div class="clear"></div>
