<% content_for :head do %>
<title>小马留学网-译文频道</title>
<meta name="description" content="国外精品文章 翻译 译文 英语学习 英语文章 ">
<meta name="keywords" content="国外精品文章 翻译 译文 英语学习 英语文章 英语范文学习 ">
<%= stylesheet_link_tag "global" %>
<%= stylesheet_link_tag "index" %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<% end %>

		<div class="container">
			<div class="main_left fl">
				<div>
					<h3><span class="ask_title">最新发布的原文</span><a href="/sources/release">更多</a></h3>
					<table class="grid">
						<thead>
							<tr>
							  <td>标题</td>
							  <td width="80">类型</td>
							  <td width="80">发布日期</td>
							  <td width="55">语言</td>
							  <td width="35">浏览</td>
							</tr>
						</thead>
						<tbody>
             <% @sources.each do |source| %>
             <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							  <td>
							  <a title="<%= source.title %>" href="/sources/<%= source.id%>"><%= source.title %></a>
							  </td>
							  <td class="tag"><a href="/sources/search?tags=<%= source.source_type.id%>">[<%= source.source_type.name%>]</a></td>
							  <td class="date"><%= source.created_at.strftime('%Y-%m-%d') %></td>
							  <td><%= source.source_lang.name %></td>
							  <td><span class="browse"><%= source.views %></span></td>
						  </tr>
             <% end %>
					  </tbody>
					</table>

					<h3><span class="ask_title">悬赏翻译的原文</span><a href="/sources/release">更多</a></h3>
					<table class="grid">
						<thead>
							<tr>
							  <td>标题</td>
							  <td width="80">类型</td>
							  <td width="80">发布日期</td>
							  <td width="55">语言</td>
							  <td width="35">悬赏</td>
							</tr>
						</thead>
						<tbody>
             <% @untrans_sources.each do |source| %>
             <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							  <td>
							  <a title="<%= source.title %>" href="/sources/<%= source.id%>"><%= source.title %></a>
							  </td>
							  <td class="tag"><a href="/sources/search?tags=<%= source.source_type.id%>">[<%= source.source_type.name%>]</a></td>
							  <td class="date"><%= source.created_at.strftime('%Y-%m-%d') %></td>
							  <td><%= source.source_lang.name %></td>
							  <td><span class="score"><%= source.excredits %></span></td>
						  </tr>
             <% end %>
					  </tbody>
					</table>

         <h3><span class="ask_title">最新翻译的文章</span><a href="/sources/trans">更多</a></h3>
					<table class="grid">
						<thead>
							<tr>
							  <td>标题</td>
							  <td width="80">类型</td>
							  <td width="80">发布日期</td>
							  <td width="35">语言</td>
							  <td width="35">浏览</td>
							</tr>
						</thead>
						<tbody>
             <% @translations.each do |source| %>
             <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							  <td>
							  <a title="<%= source.title %>" href="/sources/<%= source.source_id%>/translations/<%= source.id %>"><%= source.title %></a>
							  </td>
							  <td class="tag"><a href="/sources/search?tags=<%= source.source_type.id%>">[<%= source.source_type.name%>]</a></td>
							  <td class="date"><%= source.created_at.strftime('%Y-%m-%d') %></td>
							  <td><%= source.source_lang.name %></td>
							  <td><span class="browse"><%= source.views %></span></td>
						  </tr>
             <% end %>
					  </tbody>
					</table>



				</div>
			</div>
			<div class="main_right fl">
<!-- JiaThis Button BEGIN -->
<div id="ckepop">
	<a href="http://www.jiathis.com/share/?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_kaixin001"></a>
	<a class="jiathis_button_renren"></a>
</div>
<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
<!-- JiaThis Button END -->
			  <div class="right_search">
					<form method="get" action="/sources/search" accept-charset="UTF-8">
						<input type="hidden" value="source" name="type">
						<input id="query" type="text" name="query">
						<input id="search_submit" class="btn_srh" type="submit" value="搜索">
					</form>
				</div>
				<div class="my_ask">
				  <h2><a href="/sources/my">我的译文</a></h2>
					<h2><a href="/sources/new">我要发布</a></h2>
					<h2><a href="/sources/untrans">我要翻译</a></h2>
				</div>
				<script type="text/javascript">BAIDU_CLB_fillSlot("182239");</script>
				<div class="ask_tags">
					<h2 class="subject">译文分类</h2>
					<h4>
					<a href="/sources/search?tags=1">科技</a>&nbsp;
					<a href="/sources/search?tags=2">文化</a>&nbsp;
					<a href="/sources/search?tags=3">体育</a>&nbsp;
					<a href="/sources/search?tags=4">生活</a>&nbsp;
					<a href="/sources/search?tags=5">八卦</a>&nbsp;
					<a href="/sources/search?tags=6">社会</a>&nbsp;
					<a href="/sources/search?tags=99">其他</a>
					</h4>
				</div>
				<div class="ask_tags">
					<h2 class="subject">语言分类</h2>
					<h4>
					<a href="/sources/search?lang=1">英语</a>&nbsp;
					<a href="/sources/search?lang=2">德语</a>&nbsp;
					<a href="/sources/search?lang=3">法语</a>&nbsp;
					<a href="/sources/search?lang=4">西班牙语</a>&nbsp;
					<a href="/sources/search?lang=5">意大利语</a>&nbsp;
					<a href="/sources/search?lang=6">日语</a>&nbsp;
					<a href="/sources/search?lang=7">韩语</a>&nbsp;
					<a href="/sources/search?lang=8">俄语</a>&nbsp;
					<a href="/sources/search?lang=9">葡语</a>&nbsp;
					<a href="/sources/search?lang=99">其他</a>
					</h4>
				</div>
				<div class="rank_list">
			    <h2 class="subject">翻译排行总榜</h2>
				  <ul>
						<% @trans_rank.each do |userrank| %>
						<li>
							<a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', userrank.dz_user_id.to_s) %>"><%= userrank.username %></a>
							金币:<%= userrank.total_excredits  %>,翻译:<%= userrank.total_trans   %>篇
						</li>

						<% end %>
						<div class="clear"></div>
					</ul>
			  </div>
			</div>
			<div class="clear"></div>
		</div><!-- #container -->

