<% content_for :head do %>
<title>小马留学网-译文频道 我的译文</title>
<meta name="description" content="国外精品文章 翻译 译文 英语学习 英语文章 ">
<meta name="keywords" content="国外精品文章 翻译 译文 英语学习 英语文章 英语范文学习 ">
<%= stylesheet_link_tag "global" %>
<%= stylesheet_link_tag "index" %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<% end %>

		<div class="container">
	      <div class="page_path">
			  <a href="/">首页</a> &gt;&gt; <a href="/sources">译文频道</a> &gt;&gt; 我的译文
			  </div><!-- .page_path -->
			  <div class="page_title"><h1>所有我参与的译文</h1></div>
			<div class="main_left fl">
				<div>
				  <% if flash[:message] %>
					<div class="submit_message"><%= flash[:message] %></div><!-- .message -->
					<% end %>
					<% if flash[:error] %>
					<div class="submit_error"><%= flash[:error] %></div><!-- .error -->
					<% end %>
					<h3><span class="ask_title">我发布的原文</span><a href="/sources/my_release">更多</a></h3>
					<table class="grid">
						<thead>
							<tr>
							  <td>标题</td>
							  <td width="80">类型</td>
							  <td width="80">发布日期</td>
							  <td width="35">语言</td>
							  <td width="35">浏览</td>
							  <td width="35">编辑</td>
							</tr>
						</thead>
						<tbody>
             <% @my_release.each do |source| %>
             <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							  <td>
							  <a title="<%= source.title %>" href="/sources/<%= source.id%>"><%= source.title %></a>
							  </td>
							  <td class="tag"><a href="/sources/search?tags=<%= source.source_type.id%>">[<%= source.source_type.name%>]</a></td>
							  <td class="date"><%= source.created_at.strftime('%Y-%m-%d') %></td>
							  <td><%= source.source_lang.name %></td>
							  <td><span class="browse"><%= source.views %></span></td>
							  <td><a href="/sources/<%= source.id%>/edit">编辑</a></td>
						  </tr>
             <% end %>
					  </tbody>
					</table>

					<h3><span class="ask_title">我翻译的译文</span><a href="/sources/my_trans">更多</a></h3>
					<table class="grid">
						<thead>
							<tr>
							  <td>标题</td>
							  <td width="80">类型</td>
							  <td width="80">发布日期</td>
							  <td width="35">语言</td>
							  <td width="35">浏览</td>
							  <td width="35">编辑</td>
							</tr>
						</thead>
						<tbody>
             <% @my_trans.each do |source| %>
             <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							  <td>
							  <a title="<%= source.title %>" href="/sources/<%= source.source_id%>/translations/<%= source.id%>"><%= source.title %></a>
							  </td>
							  <td class="tag"><a href="/sources/search?tags=<%= source.source_type.id%>">[<%= source.source_type.name%>]</a></td>
							  <td class="date"><%= source.created_at.strftime('%Y-%m-%d') %></td>
							  <td><%= source.source_lang.name %></td>
							  <td><span class="browse"><%= source.views %></span></td>
							  <td><a href="/sources/<%= source.source_id%>/translations/<%= source.id%>/edit">编辑</a></td>
						  </tr>
             <% end %>
					  </tbody>
					</table>




				</div>
			</div>
			<div class="main_right fl">

			  <div class="right_search">
					<form method="get" action="/sources/search" accept-charset="UTF-8">
						<input type="hidden" value="source" name="type">
						<input id="query" type="text" name="query">
						<input id="search_submit" class="btn_srh" type="submit" value="搜索">
					</form>
				</div>
				<div class="my_ask">
				  <h2><a href="/sources/my">我的译文</a></h2>
					<h2><a href="/sources/new">我要发布</a></h2>
					<h2><a href="/sources/untrans">我要翻译</a></h2>
				</div>
				<div class="ask_tags">
					<h2 class="subject">译文分类</h2>
					<h4>
					<a href="/sources/search?tags=1">科技</a>&nbsp;
					<a href="/sources/search?tags=2">文化</a>&nbsp;
					<a href="/sources/search?tags=3">体育</a>&nbsp;
					<a href="/sources/search?tags=4">生活</a>&nbsp;
					<a href="/sources/search?tags=5">八卦</a>&nbsp;
					<a href="/sources/search?tags=6">社会</a>&nbsp;
					<a href="/sources/search?tags=99">其他</a>
					</h4>
				</div>
				<div class="ask_tags">
					<h2 class="subject">语言分类</h2>
					<h4>
					<a href="/sources/search?lang=1">英语</a>&nbsp;
					<a href="/sources/search?lang=2">德语</a>&nbsp;
					<a href="/sources/search?lang=3">法语</a>&nbsp;
					<a href="/sources/search?lang=4">西班牙语</a>&nbsp;
					<a href="/sources/search?lang=5">意大利语</a>&nbsp;
					<a href="/sources/search?lang=6">日语</a>&nbsp;
					<a href="/sources/search?lang=7">韩语</a>&nbsp;
					<a href="/sources/search?lang=8">俄语</a>&nbsp;
					<a href="/sources/search?lang=9">葡语</a>&nbsp;
					<a href="/sources/search?lang=99">其他</a>
					</h4>
				</div>
			</div>
			<div class="clear"></div>
		</div><!-- #container -->

