<% content_for :head do %>
<title>译文-<%= @source.source_type.name%>-<%= @source.title %> - </title>
<meta name="description" content="国外精品文章 翻译 译文 英语学习 英语文章 <%= @source.source_type.name%>-<%= @source.title %>">
<meta name="keywords" content="国外精品文章 翻译 译文 英语学习 英语文章 英语范文学习 <%= @source.source_type.name%>-<%= @source.title %>">
<%= javascript_include_tag 'jquery.min' %>
<% end %>

		<div class="container <%= "empty_list" if not @dl_thread %>">
			<div class="page_path">
				<a href="/">首页</a> &gt;&gt; <a href="/sources">译文频道</a> &gt;&gt; <a href="/sources/release">国外原文</a> &gt;&gt; <%= @source.title %>
			</div><!-- .page_path -->

			<div class="page_title">
			<% if @source %>
				<h1>
					<a class="dl_type" href="/sources/search?tags=<%= @source.source_type.id%>">[<%= @source.source_type.name%>]</a>
					<%= @source.title %>
        <% if @source.status == 2 || @source.status == 1 %>
        <span class="warning"><a href="/sources/<%= @source.id %>/translations/new" target="_blank">我来翻译</a></span>
        <% end %>
        <% if @source.status == 3 %>
					--<span class="ask_status_1">已有最佳翻译</span>
					<% end %>
				</h1>
			<% end %>
			</div>

			<div class="list_leftside">
					<% if flash[:message] %>
					<div class="submit_message"><%= flash[:message] %></div><!-- .message -->
					<% end %>
					<% if flash[:error] %>
					<div class="submit_error"><%= flash[:error] %></div><!-- .error -->
					<% end %>
				<% if @source %>
				<div class="page_sample_info">
					<div class="page_user_info">
						<a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', @source.dz_user_id.to_s) %>">
							<img src="<%= USER_DISCUZ_SMALL_AVATAR_BASE.gsub('{dz_uid}', @source.dz_user_id.to_s) %>">
						</a>
					</div><!-- .page_user_info -->
					<div class="upload_info">
						<a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', @source.dz_user_id.to_s) %>"><%= @source.username%></a>
						<!-- <span class="comment">评论(18)</span> -->
						<span class="view">有<%= @source.views %>人浏览</span>
						<span class="date"><%= @source.created_at.strftime('%Y-%m-%d') %></span>
						<span class="score"><%= @source.excredits %></span>
            <% if @source.status == 1 %>
            <span class="warning fr">
            <a href="/sources/<%= @source.id %>/translations/new" target="_blank">我来翻译</a>
            </span>
            <% end %>
            <% if @source.status == 2 %>
            <span class="other_trans fr">
            <a href="/sources/<%= @source.id %>/translations" target="_blank">其他翻译</a>
            </span>
            <span class="warning fr">
            <a href="/sources/<%= @source.id %>/translations/new" target="_blank">我来翻译</a>
            </span>
            <% end %>
							<% if @source.status == 3 %>
            <span class="other_trans fr">
            <a href="/sources/<%= @source.id %>/translations" target="_blank">其他翻译</a>
            </span>
            <span class="best_trans fr">
            <a href="/sources/<%= @source.id %>/translations/<%= @source.best_trans_id %>" target="_blank">浏览最佳翻译</a>
            </span>
            <% end %>
					</div><!-- .upload_info -->
					<div class="clear"></div>

				</div><!-- .page_sample_info -->
				<div class="downloads_content_desc list_bottom_partition">
					<p>
						<img src="<%= @source.photo.url(:medium)%>"></img>

					</p>
					<h2>内容简介</h2>
					<%= raw(@source.source_desc) %>
					<div class="clear"></div>
				</div>

				<div class="downloads_list">
					<h3><span class="warning">来源网址:</span><a href="<%= @source.origin_url %>" target="_blank"><%= @source.origin_url %></a></h3>
				</div>

				<% if @translations %>
				  <% if @translations.size > 0  %>
				  <div class="downloads_list">
					  <h3>已有翻译</h3>
					  <table class="grid">
						  <thead>
							  <tr>
							    <td>标题</td>
							    <td width="80">翻译者</td>
							    <td width="80">翻译时间</td>
							    <td width="40">好评数</td>
							    <td width="40">差评数</td>
							  </tr>
						  </thead>
						  <tbody>
               <% @translations.each do |translation| %>
               <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							    <td>
							      <a title="<%= translation.title%>" target="_blank" href="/sources/<%= @source.id %>/translations/<%= translation.id %>"><%= translation.title%></a>
							    </td>
							    <td class="tag"><a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', translation.dz_user_id.to_s) %>"><%= translation.username%></a></td>
							    <td class="date"><%= translation.created_at.strftime('%Y-%m-%d') %></td>
							    <td><%= translation.trans_good %></td>
							    <td><%= translation.trans_bad %></td>
						    </tr>
               <% end %>
					    </tbody>
					  </table>
					  <h3><a href="/sources/<%= @source.id %>/translations/new" target="_blank"><span class="warning">不满意? 我来翻译</span></a></h3>
				  </div>
				  <% else %>
				    <% if @source.status != 3 %>
				  <div class="downloads_list">
					  <h3>此文章还没有人翻译</h3>
					  <h2><a href="/sources/<%= @source.id %>/translations/new" target="_blank"><span class="warning">我来翻译</span></a></h2>
				  </div>
				    <% end %>
				  <% end %>
				<% end %>
				<div class="downloads_content list_bottom_partition">
					<h5><%= @source.title %><span>原文正文</span></h5>

					<%= raw(@source.content) %>
					<div class="clear"></div>
				</div>

				<% end %>
			</div><!-- .list_leftside -->

			<div class="list_rightside">
<!-- JiaThis Button BEGIN -->
<div id="ckepop">
	<a href="http://www.jiathis.com/share/?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_kaixin001"></a>
	<a class="jiathis_button_renren"></a>
</div>
<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
<!-- JiaThis Button END -->
        <div class="right_search">
					<form method="get" action="/sources/search" accept-charset="UTF-8">
						<input type="hidden" value="source" name="type">
						<input id="query" type="text" name="query">
						<input id="search_submit" class="btn_srh" type="submit" value="搜索">
					</form>
				</div>
				<div class="my_ask">
				  <h2><a href="/sources/my">我的译文</a></h2>
					<h2><a href="/sources/new">我要发布</a></h2>
					<h2><a href="/sources/untrans">我要翻译</a></h2>
				</div>
				<div class="ask_tags">
					<h2 class="subject">译文分类</h2>
					<h4>
					<a href="/sources/search?tags=1">科技</a>&nbsp;
					<a href="/sources/search?tags=2">文化</a>&nbsp;
					<a href="/sources/search?tags=3">体育</a>&nbsp;
					<a href="/sources/search?tags=4">生活</a>&nbsp;
					<a href="/sources/search?tags=5">八卦</a>&nbsp;
					<a href="/sources/search?tags=6">社会</a>&nbsp;
					<a href="/sources/search?tags=99">其他</a>
					</h4>
				</div>
				<div class="ask_tags">
					<h2 class="subject">语言分类</h2>
					<h4>
					<a href="/sources/search?lang=1">英语</a>&nbsp;
					<a href="/sources/search?lang=2">德语</a>&nbsp;
					<a href="/sources/search?lang=3">法语</a>&nbsp;
					<a href="/sources/search?lang=4">西班牙语</a>&nbsp;
					<a href="/sources/search?lang=5">意大利语</a>&nbsp;
					<a href="/sources/search?lang=6">日语</a>&nbsp;
					<a href="/sources/search?lang=7">韩语</a>&nbsp;
					<a href="/sources/search?lang=8">俄语</a>&nbsp;
					<a href="/sources/search?lang=9">葡语</a>&nbsp;
					<a href="/sources/search?lang=99">其他</a>
					</h4>
				</div>

			</div>
			<div class="clear"></div>
		</div><!-- #content_container -->
		<div class="clear"></div>

