<% content_for :head do %>
<title>小马过河-问答频道 所有<%= @origin_words%>的相关问题</title>
<meta name="description" content="小马过河-问答频道 所有<%= @origin_words%>的相关问题">
<meta name="keywords" content="小马过河-问答频道 所有<%= @origin_words%>的相关问题">
<%= stylesheet_link_tag "global" %>
<%= stylesheet_link_tag "index" %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<% end %>

		<div class="container">
	    <div class="page_path">
			  <a href="/">首页</a> &gt;&gt; <a href="/asks">问答频道</a> &gt;&gt; <%= @origin_words%>的相关问题
			  </div><!-- .page_path -->
			  <div class="page_title"><h1><%= @origin_words%>的问题</h1></div>
			<div class="main_left fl">

				<div>


					<h3><span class="ask_title"><%= @origin_words%></span>
					<table class="grid">
						<thead>
							<tr>
							  <td>问题</td>
							  <td width="80">类型</td>
							  <td width="80">提问时间</td>
							  <td width="35">回答</td>
							  <td width="35">悬赏</td>
							</tr>
						</thead>
						<tbody>
             <% @asks.each do |unsolve_ask| %>
             <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							  <td class="open"><a title="<%= unsolve_ask.title%>" href="/asks/<%= unsolve_ask.id%>"><%= unsolve_ask.title%></a></td>
							  <td class="tag"><a href="/asks/tags/<%= unsolve_ask.ask_type.name%>">[<%= unsolve_ask.ask_type.name%>]</a></td>
							  <td class="date"><%= unsolve_ask.created_at.strftime('%Y-%m-%d') %></td>
							  <td><%= unsolve_ask.replies%></td>
							  <td><span class="score">20</span></td>
						  </tr>
             <% end %>
					  </tbody>
					</table>


				</div>
				<div class="clear"></div>
				<div class="will_pagination">
					<%=h will_paginate @asks, :previous_label => '上一页',  :next_label => '下一页'%>
				</div>
			</div>
			<div class="main_right fl">
<!-- JiaThis Button BEGIN -->
<div id="ckepop">
	<a href="http://www.jiathis.com/share/?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_kaixin001"></a>
	<a class="jiathis_button_renren"></a>
</div>
<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
<!-- JiaThis Button END -->
			  <div class="right_search">
					<form method="get" action="/search" accept-charset="UTF-8">
						<input type="hidden" value="ask" name="type">
						<input id="query" type="text" name="query">
						<input id="search_submit" class="btn_srh" type="submit" value="搜索">
					</form>
				</div>
				<div class="my_ask">
					<h2><a href="/asks/new">我要提问</a></h2>
					<h2><a href="/asks/my">我的问答</a></h2>
				</div>
				<div class="ask_tags">
					<h2 class="subject">问答分类</h2>
					<h4><a href="/asks/tags/托福">托福</a></h4>
					<h4><a href="/asks/tags/雅思">雅思</a></h4>
					<h4><a href="/asks/tags/GRE">GRE</a></h4>
					<h4><a href="/asks/tags/SAT">SAT</a></h4>
					<h4><a href="/asks/tags/出国留学">出国留学</a></h4>
				</div>
			</div>
			<div class="clear"></div>
		</div><!-- #container -->

