<% content_for :head do %>
<title>小马留学网-<%= @origin_words %> </title>
<meta name="description" content="小马留学网-<%= @origin_words %> ">
<meta name="keywords" content="小马留学网-<%= @origin_words %> ">
<%= stylesheet_link_tag "global" %>
<%= stylesheet_link_tag "index" %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<% end %>

		<div class="container">
	    <div class="page_path">
			  <a href="/">首页</a> &gt;&gt; 搜索
			  </div><!-- .page_path -->
			  <div class="page_title"><h1><%= @origin_words %>的相关文章</h1></div>
			<div class="main_left fl">
        <div class="search_result">
          <%= raw @html_str %>
        </div>
        <div class="clear"></div>

			</div>
			<div class="main_right fl">
			<script src='http://www.xiaoma.com/plus/ad_js.php?aid=14' language='javascript'></script>
              <div class="search_ads">
                <ol>
                    <li>
                        <div>
                            <h3>美国商学院咨询热线</h3>

                            <div>
                                    热线:<em>400-0326-788</em>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h3><a href="http://www.xiaoma.com/zhuanti/ceo/">未来CEO美国夏令营</a></h3>
                            <span class="search_url">http://www.xiaoma.com/zhuanti/ceo/</span>
                            <div>
                                    与全球最好的七大商学院院长会面，拜访金融界政治界四大泰斗，获得美国长春藤名校推荐机会。热线:<em>400-0326-788</em>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h3><a href="http://www.xiaoma.com/zhuanti/jwuedu/">强生威尔士大学面试招生</a></h3>
                            <span class="search_url">http://www.xiaoma.com/zhuanti/jwuedu/</span>
                            <div>
                                    强生威尔士大学是中国教育部涉外监管网公布的美国大学之一，于2007年3月在北京成立了代表处，专门为中国大陆学生申请去强尔威士大学留学进行服务。热线:<em>400-0326-788</em>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h3><a href="http://www.xiaoma.com/zhuanti/cptsx/">美国带薪读研CPT项目</a></h3>
                            <span class="search_url">http://www.xiaoma.com/zhuanti/cptsx/</span>
                            <div>
                                    免费攻读美国大学硕士并获得美国工作经验的捷径。热线:<em>400-0326-788</em>
                            </div>
                        </div>
                    </li>
                </ol>
              </div>
			</div>
			<div class="clear"></div>
		</div><!-- #container -->

