<% content_for :head do %>
<title>小马过河-<%= @origin_words %> </title>
<meta name="description" content="小马过河-<%= @origin_words %> ">
<meta name="keywords" content="小马过河-<%= @origin_words %> ">
<%= stylesheet_link_tag "global" %>
<%= stylesheet_link_tag "index" %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<% end %>

		<div class="container">
		<embed height="150" width="950" flashvars="bannerWidth=950&bannerHeight=150&bannerSID=http://img.uu1001.cn/x2/2011-07-02/20-29/2011-07-02_6088547e1fbc8d817a1a984782e2c422_0.xml&bannerXML=&bannerLink=http%3A%2F%2F&dataSource=&bid=23213064&appSource=default" wmode="transparent" allowscriptaccess="always" quality="high" name="23213064" id="23213064" style="" src="http://img.uu1001.cn/bcv3.swf?v=20110610" type="application/x-shockwave-flash"/></embed>
	    <div class="page_path">
			  <a href="/">首页</a> &gt;&gt; 搜索
			  </div><!-- .page_path -->
			  <div class="page_title"><h1><%= @origin_words %>的相关文章</h1></div>
			<div class="main_left fl">
        <div class="search_result">
          <%= raw @html_str %>
        </div>
        <div class="clear"></div>

			</div>
			<div class="main_right fl">

			</div>
			<div class="clear"></div>
		</div><!-- #container -->

