<% content_for :head do %>
<title>小马过河-xiaoma教育 问答频道 </title>
<meta name="description" content="任何的雅思,托福,留学,GRE,SAT,GMAT,SSAT,AP,等考试相关的问题,留学申请,签证,考试技巧,经验,考试报名,考试流程,等留学相关问题,可以在这里提问和寻找答案">
<meta name="keywords" content="雅思,托福,留学,出国,GRE,SAT,GMAT,SSAT,AP,留学申请,签证,考试技巧,经验,考试报名,考试流程">
<%= stylesheet_link_tag "xmwdcss" %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

<% end %>

<div class="Main_box">
  <!--=======Left===================================================-->
  <div class="Main_Left">
    <div class="L_top_1">
      <table width="610" border="0" cellspacing="0" cellpadding="0" class="tbox">
		<form method="get" id="form1" name="form1" action="/search" accept-charset="UTF-8">
          <tr>
			<input type="hidden" value="ask" name="type">
            <td width="380"><input type="text" name="query" id="textfield" class="sou_input" /></td>
            <td width="108">
				<input type="submit" style="border: 0;background: url(http://img.xiaoma.com/xmimg1/wdimg/indwd_sou_08.gif) no-repeat; background-position: 0px 0px;
width: 102px; height: 28px; cursor: pointer;"   id="button" value="" title="搜索答案"/>
			</td>
            <td width="115" align="right"><a href="/asks/new" target="_blank"><img src="http://img.xiaoma.com/xmimg1/wdimg/indwd_sou_10.gif" width="102" height="28" border="0" /></a></td>
          </tr>
        </form>
      </table>
      <div class="hot_sou">
        <ul>
          <li><span>热门搜索：</span></li>
          <li><a href="http://search.xiaoma.com/?type=all&page=1&query=美国留学" target="_blank">美国留学</a></li>
          <li><a href="http://search.xiaoma.com/?type=all&page=1&query=签证" target="_blank">签证</a></li>
          <li><a href="http://search.xiaoma.com/?type=all&page=1&query=转学申请" target="_blank">转学申请</a></li>
          <li><a href="http://search.xiaoma.com/?type=all&page=1&query=留学费用" target="_blank">留学费用</a></li>
          <li><a href="http://search.xiaoma.com/?type=all&page=1&query=大学排名" target="_blank">大学排名</a></li>
          <li><a href="http://search.xiaoma.com/?type=all&page=1&query=托福报名" target="_blank">托福报名</a></li>
          <li><a href="http://search.xiaoma.com/?type=all&page=1&query=托福考试" target="_blank">托福考试</a></li>
          <li><a href="http://search.xiaoma.com/?type=all&page=1&query=雅思考试" target="_blank">雅思考试</a></li>
          <li><a href="http://search.xiaoma.com/?type=all&page=1&query=GRE" target="_blank">GRE</a></li>
          <li><a href="http://search.xiaoma.com/?type=all&page=1&query=GMAT" target="_blank">GMAT</a></li>
          <li><a href="http://search.xiaoma.com/?type=all&page=1&query=SAT" target="_blank">SAT</a></li>
          <li><a href="http://search.xiaoma.com/?type=all&page=1&query=机经预测" target="_blank">机经预测</a></li>
        </ul>
      </div>
    </div>
    <div class="L_top_2_title">热门问题</div>
    <div class="L_top_2_Con">
      <div class="BOX">
        <div class="title_bg">
          <div class="title">出国留学</div>
          <div class="more"><a href="#" target="_blank">更多</a></div>
        </div>
        <div class="Content_B">
          <ul>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">区别对待五种托福阅读题型</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读备考需要注意的四大误区</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">区别对待五种托福阅读题型</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读备考需要注意的四大误区</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读材料：陨石与人类起源研究</a></div>
              <div class="rtime">11-15</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="BOX">
        <div class="title_bg">
          <div class="title">托福</div>
          <div class="more"><a href="#" target="_blank">更多</a></div>
        </div>
        <div class="Content_B">
          <ul>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">区别对待五种托福阅读题型</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读备考需要注意的四大误区</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">区别对待五种托福阅读题型</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读备考需要注意的四大误区</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读材料：陨石与人类起源研究</a></div>
              <div class="rtime">11-15</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="BOX">
        <div class="title_bg">
          <div class="title">雅思</div>
          <div class="more"><a href="#" target="_blank">更多</a></div>
        </div>
        <div class="Content_B">
          <ul>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">区别对待五种托福阅读题型</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读备考需要注意的四大误区</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">区别对待五种托福阅读题型</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读备考需要注意的四大误区</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读材料：陨石与人类起源研究</a></div>
              <div class="rtime">11-15</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="BOX">
        <div class="title_bg">
          <div class="title">GRE</div>
          <div class="more"><a href="#" target="_blank">更多</a></div>
        </div>
        <div class="Content_B">
          <ul>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">区别对待五种托福阅读题型</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读备考需要注意的四大误区</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">区别对待五种托福阅读题型</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读备考需要注意的四大误区</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读材料：陨石与人类起源研究</a></div>
              <div class="rtime">11-15</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="BOX">
        <div class="title_bg">
          <div class="title">SAT</div>
          <div class="more"><a href="#" target="_blank">更多</a></div>
        </div>
        <div class="Content_B">
          <ul>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">区别对待五种托福阅读题型</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读备考需要注意的四大误区</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">区别对待五种托福阅读题型</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读备考需要注意的四大误区</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读材料：陨石与人类起源研究</a></div>
              <div class="rtime">11-15</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="BOX">
        <div class="title_bg">
          <div class="title">GMAT</div>
          <div class="more"><a href="#" target="_blank">更多</a></div>
        </div>
        <div class="Content_B">
          <ul>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">区别对待五种托福阅读题型</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读备考需要注意的四大误区</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">区别对待五种托福阅读题型</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读备考需要注意的四大误区</a></div>
              <div class="rtime">11-15</div>
            </li>
            <li>
              <div class="L_tit">·<a href="#" target="_blank">托福阅读材料：陨石与人类起源研究</a></div>
              <div class="rtime">11-15</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    
    <div class="gg_l"><img src="http://img.xiaoma.com/xmimg1/wdimg/indwd_35.gif" width="705" height="96" /></div>
    
    
    <div class="L_top_3_title">待解决问题 &nbsp;&nbsp;<a href="/asks/unsolved">更多</a></div>
    <div class="L_top_3_Con">
        <div class="T_tit"><div class="title">问题</div><div class="title_type">类型</div><div class="title_time">更新时间</div><div class="title_huida">回答数</div><div class="title_shang">悬赏</div></div>
        <div class="T_conlist">
           <UL>
			 <% @unsolve_asks.each do |unsolve_ask| %>
             <LI>
				<div class="title"><a title="<%= unsolve_ask.title%>" href="/asks/<%= unsolve_ask.id%>" target="_blank"><%= unsolve_ask.title%></a></div>
				<div class="title_type"><a href="/asks/tags/<%= unsolve_ask.ask_type.name%>">[<%= unsolve_ask.ask_type.name%>]</a></div>
				<div class="title_time"><%= unsolve_ask.created_at.strftime('%Y-%m-%d') %></div>
				<div class="title_huida"><%= unsolve_ask.replies%>回答</div>
				<div class="title_shang">20</div>
			 </LI>
             <% end %>
           </UL>
        </div>
    </div>
    
    
    <div class="L_top_4_title">已解决问题 &nbsp;&nbsp;<a href="/asks/closed">更多</a></div>
    <div class="L_top_4_Con">
        <div class="T_tit"><div class="title">问题</div><div class="title_type">类型</div><div class="title_time">更新时间</div><div class="title_huida">回答者</div></div>
        <div class="T_conlist">
           <UL>
			<% @solved_asks.each do |solved_ask| %>
             <LI>
				 <div class="title"><a title="<%= solved_ask.title%>" href="/asks/<%= solved_ask.id%>" target="_blank"><%= solved_ask.title%></a></div>
				 <div class="title_type"><a href="/asks/tags/<%= solved_ask.ask_type.name%>">[<%= solved_ask.ask_type.name%>]</a></div>
				 <div class="title_time"><%= solved_ask.updated_at.strftime('%Y-%m-%d') %></div>
				 <div class="title_huida"><%= solved_ask.bestanswer_username %></div>
			 </LI>
			<% end %>
           </UL>
        </div>
    </div>
    
    
    
    
  </div>
  <!--=======Right===================================================-->
  <div class="Main_Right">
	<!-- JiaThis Button BEGIN -->
	<div id="ckepop">
		<a href="http://www.jiathis.com/share/?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
		<a class="jiathis_button_qzone"></a>
		<a class="jiathis_button_tsina"></a>
		<a class="jiathis_button_kaixin001"></a>
		<a class="jiathis_button_renren"></a>
	</div>
	<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
	<!-- JiaThis Button END -->
    <div class="R_top_1_tit"><a href="/asks/new" target="_blank"><img src="http://img.xiaoma.com/xmimg1/wdimg/indwd_05.gif" width="240" height="49" border="0" /></a></div>
    <div class="R_top_2_tit"><a href="/asks/my" target="_blank"><img src="http://img.xiaoma.com/xmimg1/wdimg/indwd_08.gif" width="240" height="49" border="0" /></a></div>
    <div class="R_top_3_tit"><a href="#" target="_blank"><img src="http://img.xiaoma.com/xmimg1/wdimg/indwd_12.gif" width="240" height="91" border="0" /></a></div>
    <div class="M_R_r4_tit">
      <div class="title_r1">问答分类</div>
    </div>
    <div class="M_R_r4_con">
      <ul>
        <li><a href="/asks/tags/出国留学" target="_blank">出国留学</a></li>
        <li><a href="/asks/tags/托福" target="_blank">托福</a></li>
        <li><a href="/asks/tags/雅思" target="_blank">雅思</a></li>
        <li><a href="/asks/tags/GRE" target="_blank">GRE</a></li>
        <li><a href="/asks/tags/GMAT" target="_blank">GMAT</a></li>
        <li><a href="/asks/tags/SAT" target="_blank">SAT</a></li>
      </ul>
    </div>
	<!--
    <div class="M_R_r5_tit">
      <div class="title_r1">编辑推荐</div>
      <div class="more2"><a href="#" target="_blank">更多>></a></div>
    </div>
    <div class="M_R_r5_con">
      <div class="M_R_r5_con_picBox">
        <div class="M_R_r5_con_picBox_pic"><a href="#" target="_blank"><img src="http://img.xiaoma.com/xmimg1/wdimg/indwd_31.gif" width="83" height="77" border="0" /></a></div>
        <div class="M_R_r5_con_picBox_con">
          <div class="M3picBox_con_tit"><a href="#" target="_blank">美国留学专家精家精家精家精彩</a></div>
          <div class="M3picBox_con_con">曾经有一个美国家精家精友人给我...<a href="#" target="_blank">[更多]</a></div>
        </div>
      </div>
      <div class="M_R_r5_con_content">
        <ul>
          <li>·<a href="#" target="_blank">ETS揭晓2011年度中国奖学金项目获奖</a></li>
          <li>·<a href="#" target="_blank">2011年起中国大陆新托福考试打折促销</a></li>
          <li>·<a href="#" target="_blank">ETS官方针对新托福关注问题进行解答</a></li>
          <li>·<a href="#" target="_blank">新版《新托福考试官方指南》发布</a></li>
          <li>·<a href="#" target="_blank">经验分享：取得新托福高分的十大关键</a></li>
          <li>·<a href="#" target="_blank">北外网院成为新托福考试考点</a></li>
          <li>·<a href="#" target="_blank">小马过河2011年托福机经预测中标记录</a></li>
          <li>·<a href="#" target="_blank">2011年5~7月大陆托福考试新题日预测</a></li>
          <li>·<a href="#" target="_blank">小马过河2011年托福机经预测中标记录</a></li>
          <li>·<a href="#" target="_blank">2011年5~7月大陆托福考试新题日预测</a></li>
        </ul>
      </div>
    </div>
    <div class="M_R_r6_tit">
      <div class="title_r1">编辑推荐</div>
      <div class="more2"><a href="#" target="_blank">更多>></a></div>
    </div>
    <div class="M_R_r6_con">
      <ul>
        <li>
          <div class="M_R_r6_con_picBox_pic"><a href="#" target="_blank"><img src="http://img.xiaoma.com/xmimg1/wdimg/indwd_40.gif" width="66" height="64" border="0" /></a></div>
          <div class="M_R_r6_con_picBox_con">
            <div class="M3picBox_con_tit"><a href="#" target="_blank">美国留学专家精彩专栏</a></div>
            <div class="M3picBox_con_con">浏览：<span>1280</span></div>
            <div class="M3picBox_con_con2">日期：10-18</div>
          </div>
        </li>
        <li>
          <div class="M_R_r6_con_picBox_pic"><a href="#" target="_blank"><img src="http://img.xiaoma.com/xmimg1/wdimg/indwd_40.gif" width="66" height="64" border="0" /></a></div>
          <div class="M_R_r6_con_picBox_con">
            <div class="M3picBox_con_tit"><a href="#" target="_blank">美国留学专家精彩专栏</a></div>
            <div class="M3picBox_con_con">浏览：<span>1280</span></div>
            <div class="M3picBox_con_con2">日期：10-18</div>
          </div>
        </li>
        <li>
          <div class="M_R_r6_con_picBox_pic"><a href="#" target="_blank"><img src="http://img.xiaoma.com/xmimg1/wdimg/indwd_40.gif" width="66" height="64" border="0" /></a></div>
          <div class="M_R_r6_con_picBox_con">
            <div class="M3picBox_con_tit"><a href="#" target="_blank">美国留学专家精彩专栏</a></div>
            <div class="M3picBox_con_con">浏览：<span>1280</span></div>
            <div class="M3picBox_con_con2">日期：10-18</div>
          </div>
        </li>
        <li>
          <div class="M_R_r6_con_picBox_pic"><a href="#" target="_blank"><img src="http://img.xiaoma.com/xmimg1/wdimg/indwd_40.gif" width="66" height="64" border="0" /></a></div>
          <div class="M_R_r6_con_picBox_con">
            <div class="M3picBox_con_tit"><a href="#" target="_blank">美国留学专家精彩专栏</a></div>
            <div class="M3picBox_con_con">浏览：<span>1280</span></div>
            <div class="M3picBox_con_con2">日期：10-18</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="M_R_r7_tit">
      <div class="title_r1">编辑推荐</div>
      <div class="more2"><a href="#" target="_blank">更多>></a></div>
    </div>
    <div class="M_R_r7_con">
      <div class="M_R_r7_con_picBox">
        <div class="M_R_r7_con_picBox_pic"><a href="#" target="_blank"><img src="http://img.xiaoma.com/xmimg1/wdimg/indwd_31.gif" width="83" height="77" border="0" /></a></div>
        <div class="M_R_r7_con_picBox_con">
          <div class="M3picBox_con_tit"><a href="#" target="_blank">美国留学专家精家精家精家精彩</a></div>
          <div class="M3picBox_con_con">曾经有一个美国家精家精友人给我...<a href="#" target="_blank">[更多]</a></div>
        </div>
      </div>
      <div class="M_R_r7_con_content">
        <ul>
          <li>·<a href="#" target="_blank">ETS揭晓2011年度中国奖学金项目获奖</a></li>
          <li>·<a href="#" target="_blank">2011年起中国大陆新托福考试打折促销</a></li>
          <li>·<a href="#" target="_blank">ETS官方针对新托福关注问题进行解答</a></li>
          <li>·<a href="#" target="_blank">新版《新托福考试官方指南》发布</a></li>
          <li>·<a href="#" target="_blank">经验分享：取得新托福高分的十大关键</a></li>
          <li>·<a href="#" target="_blank">北外网院成为新托福考试考点</a></li>
          <li>·<a href="#" target="_blank">小马过河2011年托福机经预测中标记录</a></li>
          <li>·<a href="#" target="_blank">2011年5~7月大陆托福考试新题日预测</a></li>
          <li>·<a href="#" target="_blank">小马过河2011年托福机经预测中标记录</a></li>
          <li>·<a href="#" target="_blank">2011年5~7月大陆托福考试新题日预测</a></li>
          <li>·<a href="#" target="_blank">2011年5~7月大陆托福考试新题日预测</a></li>
        </ul>
      </div>
    </div>
	-->
  </div>
	
</div>
