<% content_for :head do %>
<title>问答频道 托福考试 雅思考试 留学问答 - 小马过河 xiaoma.com</title>
<meta name="description" content="任何的雅思,托福,留学,GRE,SAT,GMAT,SSAT,AP,等考试相关的问题,留学申请,签证,考试技巧,经验,考试报名,考试流程,等留学相关问题,可以在这里提问和寻找答案">
<meta name="keywords" content="雅思,托福,留学,出国,GRE,SAT,GMAT,SSAT,AP,留学申请,签证,考试技巧,经验,考试报名,考试流程">
<% end %>


<div class="Cen_Main">
	<div class="Cen_Left">
    	<div class="Cen_Sou">
			<form method="get" id="form1" name="form1" action="/search" accept-charset="UTF-8">
				<input type="hidden" value="ask" name="type">
				<input type="hidden" value="1" name="page">				
        		<input  type="text" name="query" id="textfield" />
				
                <input type="submit" class="asksSubm" value=""/>
			</form>
			
            <a href="/asks/new" target="_blank"><img src="/dzstyle/images/indwd_sou_10.gif" /></a>
            <dl>
            	<dt>热门搜索：</dt>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=美国留学">美国留学</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=签证">签证</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=转学申请">转学申请</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=留学费用">留学费用</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=大学排名">大学排名</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=托福报名">托福报名</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=托福">托福考试</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=雅思">雅思考试</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=GRE">GRE</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=GMAT">GMAT</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=SAT">SAT</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=机经预测">机经预测</a></dd>
            </dl>
        </div>

        <div class="Cen_RmWt">
        	<div class="Cen_RmWtTop"><b>热门问题</b></div>
            <div class="Cen_RmWtBot">
            	<div class="Cen_RmWtBotB">
                	<div class="Cen_RmWtBotBTop">
                    	<b>出国留学</b>
						<a href="/asks/tags/出国留学" title="出国留学的相关问题" target="_blank">更多</a>
                    </div>
                    <ul class="Cen_RmWtBotBList">
						<% @tag_asks_6.each do |tag_ask| %>
	
                    	<li><a href="/asks/<%= tag_ask.id %>" target="_blank"><%= tag_ask.title %></a><span><%= tag_ask.updated_at.strftime('%m/%d') %></span></li>
						<% end %>
                    </ul>
                </div>
                <div class="Cen_RmWtBotB">
                	<div class="Cen_RmWtBotBTop">
                    	<b>托福</b>
						<a href="/asks/tags/托福" target="_blank" title="托福相关问题">更多</a>
                    </div>
                    <ul class="Cen_RmWtBotBList">
                    	<% @tag_asks_1.each do |tag_ask| %>
	
                    	<li><a href="/asks/<%= tag_ask.id %>" target="_blank"><%= tag_ask.title %></a><span><%= tag_ask.updated_at.strftime('%m/%d') %></span></li>
						<% end %>
                    </ul>
                </div>
                <div class="Cen_RmWtBotB">
                	<div class="Cen_RmWtBotBTop">
                    	<b>雅思</b>
						<a href="/asks/tags/雅思" target="_blank" title="雅思相关问题">更多</a>
                    </div>
                    <ul class="Cen_RmWtBotBList">
                    	<% @tag_asks_2.each do |tag_ask| %>
	
                    	<li><a href="/asks/<%= tag_ask.id %>" target="_blank"><%= tag_ask.title %></a><span><%= tag_ask.updated_at.strftime('%m/%d') %></span></li>
						<% end %>
                    </ul>
                </div>
                <div class="Cen_RmWtBotB">
                	<div class="Cen_RmWtBotBTop">
                    	<b>GRE</b>
						<a href="/asks/tags/GRE" target="_blank" title="GRE相关问题">更多</a>
                    </div>
                    <ul class="Cen_RmWtBotBList">
                    	<% @tag_asks_3.each do |tag_ask| %>
	
                    	<li><a href="/asks/<%= tag_ask.id %>" target="_blank"><%= tag_ask.title %></a><span><%= tag_ask.updated_at.strftime('%m/%d') %></span></li>
						<% end %>
                    </ul>
                </div>
                <div class="Cen_RmWtBotB">
                	<div class="Cen_RmWtBotBTop">
                    	<b>SAT</b>
						<a href="/asks/tags/SAT" target="_blank" title="SAT相关问题">更多</a>
                    </div>
                    <ul class="Cen_RmWtBotBList">
                    	<% @tag_asks_5.each do |tag_ask| %>
	
                    	<li><a href="/asks/<%= tag_ask.id %>" target="_blank"><%= tag_ask.title %></a><span><%= tag_ask.updated_at.strftime('%m/%d') %></span></li>
						<% end %>
                    </ul>
                </div>
                <div class="Cen_RmWtBotB">
                	<div class="Cen_RmWtBotBTop">
                    	<b>GMAT</b>
						<a href="/asks/tags/GMAT" target="_blank" title="GMAT相关问题">更多</a>
                    </div>
                    <ul class="Cen_RmWtBotBList">
                    	<% @tag_asks_4.each do |tag_ask| %>
	
                    	<li><a href="/asks/<%= tag_ask.id %>" target="_blank"><%= tag_ask.title %></a><span><%= tag_ask.updated_at.strftime('%m/%d') %></span></li>
						<% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="height5">
        	
        </div>
		<script src="http://www.xiaoma.com/plus/ad_js.php?aid=113" language="javascript"></script>
		
        <div class="Cen_DaiJJWT">
        	<div class="Cen_DaiJJWTTop"><b>待解决问题</b><a href="/asks/unsolved" target="_blank">更多</a></div>
            <dl>
            	<dt>
                	<span style="width:410px;">问题</span>
                    <span style="width:60px;">类型</span>
                    <span style="width:70px;">更新时间</span>
                    <span style="width:50px;">问答数</span>
                    <span style="width:60px;">悬赏</span>
                </dt>
                <dd>
				    <% @unsolve_asks.each do |unsolve_ask| %>
		
                	<span style="width:400px; text-align:left; padding-left:10px;word-wrap:break-word; overflow:hidden;"><img src="/dzstyle/images/indwd_49.gif" />&nbsp;<a title="<%= unsolve_ask.title%>" href="/asks/<%= unsolve_ask.id%>" target="_blank" style="color:#ad6a00;" class="Cen_AskeStr"><%= unsolve_ask.title%></a></span>
                    <span style="width:60px;"><a href="/asks/tags/<%= unsolve_ask.ask_type.name%>" target="_blank" style="color:#0062ad;">[<%= unsolve_ask.ask_type.name%>]</a></span>
                    <span style="width:70px;word-wrap:break-word; overflow:hidden;"><%= unsolve_ask.created_at.strftime('%m/%d') %></span>
                    <span style="width:50px;"><%= unsolve_ask.replies%>回答</span>
                    <span style="width:60px;"><img src="/dzstyle/images/indwd_52.gif">&nbsp;20</span>
					<% end %>
                </dd>
                
            </dl>
        </div>
        <div class="Cen_DaiJJWT">
        	<div class="Cen_DaiJJWTTop Cen_YiJJWTTop"><b>已解决问题</b><a href="/asks/closed" target="_blank">更多</a></div>
            <dl style="border-color:#26f202;">
            	<dt>
                	<span style="width:410px;">问题</span>
                    <span style="width:60px;">类型</span>
                    <span style="width:70px;">更新时间</span>
                    <span style="width:50px;">问答数</span>
                    <span style="width:60px;">解决者</span>
                </dt>
                <dd>
					<% @solved_asks.each do |solved_ask| %>
                	<span style="width:400px; text-align:left; padding-left:10px;word-wrap:break-word; overflow:hidden;"><img src="/dzstyle/images/indwdDUI_61.gif" />&nbsp;<a title="<%= solved_ask.title%>" href="/asks/<%= solved_ask.id%>" target="_blank" style="color:#ad6a00;" class="Cen_DaiJJWTStr"><%= solved_ask.title%></a></span>
                    <span style="width:60px;"><a  href="/asks/tags/<%= solved_ask.ask_type.name%>" target="_blank" style="color:#0062ad;">[<%= solved_ask.ask_type.name%>]</a></span>
                    <span style="width:70px;word-wrap:break-word; overflow:hidden;"><%= solved_ask.updated_at.strftime('%m/%d') %></span>
					<span style="width:50px;"><%= solved_ask.replies%>回答</span>
                    <span style="width:60px;word-wrap:break-word; overflow:hidden;"><%= solved_ask.bestanswer_username %></span>
					<% end %>
                </dd>               
            </dl>
        </div>
    </div>
    <div class="Cen_Right">
    	<div class="Cen_RightTop">
        <!-- JiaThis Button BEGIN -->
        <div id="ckepop">
            <span class="jiathis_txt">分享到：</span>
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_tqq"></a>
            <a class="jiathis_button_renren"></a>
            <a class="jiathis_button_kaixin001"></a>
            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
            <a class="jiathis_counter_style"></a>
        </div>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1335068966358573" charset="utf-8"></script>
      <!--  JiaThis Button END -->
        </div>	
        <a href="/asks/new" target="_blank"><img src="/dzstyle/images/indwd_05.gif" /></a>
        <a href="/asks/my" target="_blank"><img src="/dzstyle/images/indwd_08.gif" /></a>
		<div class="height5"></div>
        <script src="http://www.xiaoma.com/plus/ad_js.php?aid=114" language="javascript"></script>
        <div style="clear:both"></div>
        <dl>
        	<dt><b>问答分类</b></dt>
            <dd><a href="/asks/tags/出国留学" target="_blank">出国留学</a></dd>
            <dd><a href="/asks/tags/托福" target="_blank">托福</a></dd>
            <dd><a href="/asks/tags/雅思" target="_blank">雅思</a></dd>
            <dd><a href="/asks/tags/GRE" target="_blank">GRE</a></dd>
            <dd><a href="/asks/tags/GMAT" target="_blank">GMAT</a></dd>
            <dd><a href="/asks/tags/SAT" target="_blank">SAT</a></dd>
            <div style="clear:both"></div>
        </dl>
        
    </div>
</div>


