<% content_for :head do %>
<title>小马留学网-问答频道 我的问答</title>
<meta name="description" content="任何的雅思,托福,留学,GRE,SAT,GMAT,SSAT,AP,等考试相关的问题,留学申请,签证,考试技巧,经验,考试报名,考试流程,等留学相关问题,可以在这里提问和寻找答案">
<meta name="keywords" content="雅思,托福,留学,出国,GRE,SAT,GMAT,SSAT,AP,留学申请,签证,考试技巧,经验,考试报名,考试流程">
<%= stylesheet_link_tag "global" %>
<%= stylesheet_link_tag "index" %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<% end %>

		<div class="container">
	      <div class="page_path">
			  <a href="/">首页</a> &gt;&gt; <a href="/asks">问答频道</a> &gt;&gt; 我的问答
			  </div><!-- .page_path -->
			  <div class="page_title"><h1>所有我参与的问题</h1></div>
			<div class="main_left fl">
				<div>
					<h3><span class="ask_title">我的提问</span></h3>
					<table class="grid">
						<thead>
							<tr>
							  <td>问题</td>
							  <td width="80">类型</td>
							  <td width="80">提问时间</td>
							  <td width="35">回答</td>
							  <td width="35">悬赏</td>
							</tr>
						</thead>
						<tbody>
             <% @my_asks.each do |ask| %>
             <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							  <% if ask.status == 0 %>
							  <td class="open">
							  <% else %>
							  <td class="close">
							  <% end %>
							  <a title="<%= ask.title %>" href="/asks/<%= ask.id%>"><%= ask.title %></a>
							  </td>
							  <td class="tag"><a href="/asks/tags/<%= ask.ask_type.name%>">[<%= ask.ask_type.name%>]</a></td>
							  <td class="date"><%= ask.created_at.strftime('%Y-%m-%d') %></td>
							  <td><%= ask.replies%></td>
							  <td><span class="score">20</span></td>
						  </tr>
             <% end %>
					  </tbody>
					</table>

					<h3><span class="ask_title">我回答的问题</span></h3>
					<table class="grid">
						<thead>
							<tr>
							  <td>问题</td>
							  <td width="80">类型</td>
							  <td width="80">提问时间</td>
							  <td width="35">回答</td>
							  <td width="35">悬赏</td>
							</tr>
						</thead>
						<tbody>
             <% @my_answer_asks.each do |ask| %>
             <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							  <% if ask.status == 0 %>
							  <td class="open">
							  <% else %>
							  <td class="close">
							  <% end %>
							  <a title="<%= ask.title %>" href="/asks/<%= ask.id%>"><%= ask.title %></a>
							  </td>
							  <td class="tag"><a href="/asks/tags/<%= ask.ask_type.name%>">[<%= ask.ask_type.name%>]</a></td>
							  <td class="date"><%= ask.created_at.strftime('%Y-%m-%d') %></td>
							  <td><%= ask.replies%></td>
							  <td><span class="score">20</span></td>
						  </tr>
             <% end %>
					  </tbody>
					</table>

					<h3><span class="ask_title">我解决问题</span></h3>
					<table class="grid">
						<thead>
							<tr>
							  <td>问题</td>
							  <td width="80">类型</td>
							  <td width="80">提问时间</td>
							  <td width="35">回答</td>
							  <td width="35">悬赏</td>
							</tr>
						</thead>
						<tbody>
             <% @my_solved_asks.each do |ask| %>
             <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							  <% if ask.status == 0 %>
							  <td class="open">
							  <% else %>
							  <td class="close">
							  <% end %>
							  <a title="<%= ask.title %>" href="/asks/<%= ask.id%>"><%= ask.title %></a>
							  </td>
							  <td class="tag"><a href="/asks/tags/<%= ask.ask_type.name%>">[<%= ask.ask_type.name%>]</a></td>
							  <td class="date"><%= ask.created_at.strftime('%Y-%m-%d') %></td>
							  <td><%= ask.replies%></td>
							  <td><span class="score">20</span></td>
						  </tr>
             <% end %>
					  </tbody>
					</table>
				</div>
			</div>
			<div class="main_right fl">

			  <div class="right_search">
					<form method="get" action="/search" accept-charset="UTF-8">
						<input type="hidden" value="ask" name="type">
						<input id="query" type="text" name="query">
						<input id="search_submit" class="btn_srh" type="submit" value="搜索">
					</form>
				</div>
				<div class="my_ask">
					<h2><a href="/asks/new">我要提问</a></h2>
					<h2><a href="/asks/my">我的问答</a></h2>
				</div>
				<script type="text/javascript">BAIDU_CLB_fillSlot("182236");</script>
				<div class="ask_tags">
					<h2 class="subject">问答分类</h2>
					<h4><a href="/asks/tags/托福">托福</a></h4>
					<h4><a href="/asks/tags/雅思">雅思</a></h4>
					<h4><a href="/asks/tags/GRE">GRE</a></h4>
					<h4><a href="/asks/tags/SAT">SAT</a></h4>
					<h4><a href="/asks/tags/出国留学">出国留学</a></h4>
				</div>
			</div>
			<div class="clear"></div>
		</div><!-- #container -->

