<% content_for :head do %>
<title>小马过河-xiaoma教育-问答频道 我要提问</title>
<meta name="keywords" content="小马留学网 问答频道" />
<meta name="description" content="问答频道" />
<%= stylesheet_link_tag "Nei_wd_ask" %>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/localization/messages_cn.js"></script>
<% end %>
<script type="text/javascript">
  var isinit = 0;
	$(document).ready(function() {

	  $("#new_ask").validate(
      	{
	        rules: {
	          "ask[title]": {
	             required: true,
	             minlength: 5,
	             maxlength: 128
	           }
	         },
	        messages: {
	           "ask[title]": {
	             required: "请填写您问题的标题,最少5个字",
	             minlength: "您问题的标题少于5个字"
	            }
	         }
	      }
      );
	
	});


</script>




<div class="Cen_Main">
	<div class="Cen_Left">
		<div class="Cen_Sou">
			<form method="get" id="form1" name="form1" action="/search" accept-charset="UTF-8">
				<input type="hidden" value="ask" name="type">
				<input type="hidden" value="1" name="page">				
        		<input  type="text" name="query" id="textfield" />
				
                <input type="submit" class="asksSubm" value=""/>
			</form>
			
            <a href="/asks/new" target="_blank"><img src="/dzstyle/images/indwd_sou_10.gif" /></a>
            <dl>
            	<dt>热门搜索：</dt>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=美国留学">美国留学</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=签证">签证</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=转学申请">转学申请</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=留学费用">留学费用</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=大学排名">大学排名</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=托福报名">托福报名</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=托福">托福考试</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=雅思">雅思考试</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=GRE">GRE</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=GMAT">GMAT</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=SAT">SAT</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=机经预测">机经预测</a></dd>
            </dl>
        </div>
    	<!--===top以上======================================-->
		<div class="Main_box">
		  <!--=======Left===================================================-->
		  <div class="Main_Left">

		    <div class="L_top_1_title"><a href="<%= XMAPP_MAIN_DOMAIN_URL %>" target="_blank">小马过河</a> > <a href="<%= XMAPP_MAIN_DOMAIN_URL %>/asks" target="_blank">问答</a> > <span>我要提问</span></div>

		    <div class="L_top_3_title">我要提问：</div>
		    <div class="L_top_3_Con">

		          <table width="100%" border="0" cellspacing="2" cellpadding="2" style="margin-top:10px;">
		            <%= form_for(@ask ) do |f| %>
		            <tr>
		              <td width="16%" style="padding-left:30px;">您的问题：</td>
		              <td width="84%">
						<%= f.text_field :title, :class => "Text_input" %><span style="font-size:12px; color:#999;">（请填写您的问题）</span>
					</tr>
		            <tr>
		              <td style="padding-left:30px;">问题类型：</td>
		              <td>
		               <%= select_tag(:ask_type_id,  options_for_select(AskType.all.collect{ |p| [p.name, p.id] }) ) %>
		               <span style="font-size:12px; color:#999;">（请选择您的问题的分类）</span>
		              </td>
		            </tr>
		            <tr>
		              <td colspan="2" style="padding-left:30px;">问题的详细描述：<span style="font-size:12px; color:#999;">（请在这里详细描述您的问题）</span></td>
		              </tr>
		            <tr>
		              <td colspan="2" align="center">
		                <textarea name="ask[content]" id="textarea" cols="45" rows="5" class="Text_Box"></textarea>
		              </td>
		              </tr>
		            <tr>
		              <td height="50" colspan="2" align="center">
		                <input type="submit" style="border: 0;background: url(http://img.xiaoma.com/xmimg1/wdimg/nei/WDask_11.gif) no-repeat; background-position: 0px 0px;
		width: 200px; height: 35px; cursor: pointer;"  name="button2" id="button" value="" />
		             </td>
		              </tr>
		            <% end %>
		          </table>

		    </div>




		  </div>

		</div>
        
    </div>




    <div class="Cen_Right">
    	<div class="Cen_RightTop">
        	<!-- JiaThis Button BEGIN -->
			<div id="ckepop">
				<span class="jiathis_txt">分享到：</span>
				<a class="jiathis_button_qzone"></a>
				<a class="jiathis_button_tsina"></a>
				<a class="jiathis_button_tqq"></a>
				<a class="jiathis_button_renren"></a>
				<a class="jiathis_button_kaixin001"></a>
				<a href="http://www.jiathis.com/share?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
				<a class="jiathis_counter_style"></a>
			</div>
			<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
			<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
			<!-- JiaThis Button END -->
        </div>	
        <a href="/asks/new" target="_blank"><img src="/dzstyle/images/indwd_05.gif" /></a>
        <a href="/asks/my" target="_blank"><img src="/dzstyle/images/indwd_08.gif" /></a>
		<div class="height5"></div>
        <script src="http://www.xiaoma.com/plus/ad_js.php?aid=114" language="javascript"></script>
        <div style="clear:both"></div>
        <dl>
        	<dt><b>问答分类</b></dt>
            <dd><a href="/asks/tags/出国留学" target="_blank">出国留学</a></dd>
            <dd><a href="/asks/tags/托福" target="_blank">托福</a></dd>
            <dd><a href="/asks/tags/雅思" target="_blank">雅思</a></dd>
            <dd><a href="/asks/tags/GRE" target="_blank">GRE</a></dd>
            <dd><a href="/asks/tags/GMAT" target="_blank">GMAT</a></dd>
            <dd><a href="/asks/tags/SAT" target="_blank">SAT</a></dd>
            <div style="clear:both"></div>
        </dl>
        
    </div>
</div>








