<% content_for :head do %>
<title>小马留学网-问答频道</title>
<meta name="keywords" content="小马留学网 问答频道" />
<meta name="description" content="问答频道" />
<%= stylesheet_link_tag "global" %>
<%= stylesheet_link_tag "index" %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/localization/messages_cn.js"></script>
<%= javascript_include_tag 'editor/kindeditor-min'%>
<script type="text/javascript">
  var isinit = 0;
	$(document).ready(function() {

	  $("#new_ask").validate(
      {
        rules: {
          "ask[title]": {
             required: true,
             minlength: 5,
             maxlength: 128
           }
         },
        messages: {
           "ask[title]": {
             required: "请填写您问题的标题,最少5个字",
             minlength: "您问题的标题少于5个字"
            }
         }
      }
    );



	});
	KE.show({
		id : 'ask_content',
		resizeMode : 1,
		allowPreviewEmoticons : false,
		allowUpload : false,
		items : [
		'textcolor','removeformat'],
		afterFocus : function(){if (isinit == 0){KE.html('ask_content', '');isinit = 1;}}
	});


</script>
<% end %>

<div class="container">
			<div class="page_path">
			<a href="<%= XMAPP_MAIN_DOMAIN_URL %>">首页</a> &gt;&gt; <a href="/asks">问答频道</a> &gt;&gt; 我要提问
			</div><!-- .page_path -->
			<div class="page_title"><h1>我要提问</h1></div>
			<div class="form_container">
				<div class="form_left">
				  <div class="clear"></div>
				  <%= form_for(@ask ) do |f| %>
					  <% if flash[:message] %>
					  <div class="submit_message"><%= flash[:message] %></div><!-- .message -->
					  <% end %>
					  <% if flash[:error] %>
					  <div class="submit_error"><%= flash[:error] %></div><!-- .error -->
					  <% end %>
					  <div class="global_form">
						  <%= f.label :title, "您的问题:" %><div class="clear"></div>
						  <%= f.text_field :title %>
					  </div>
					  <div class="form_tips">请填写您问题的标题</div>
					  <div class="global_form">
						  <%= f.label :ask_type_id, "问题的类型:" %><div class="clear"></div>
						  <%= select_tag(:ask_type_id,  options_for_select(AskType.all.collect{ |p| [p.name, p.id] }) ) %>
					  </div>
					  <div class="form_tips">清选择您要提问的分类</div>
					  <div class="global_form">
						  <%= f.label :content, "问题的详细介绍:" %><div class="clear"></div>
						  <%= f.text_area :content , :size => "65x15", :class => "tinymce", :value => '请在这里详细描述您的问题' %>
					  </div>
					  <div class="form_tips">请填写这个问题的详细介绍</div>
					  <div id="form_submit">
						  <input id="campaign_submit" name="commit" type="submit" value="提交">
					  </div>
					  <div class="clear"></div>
				  <% end %>
				</div><!-- .form_left -->

				<div class="form_right">

			  <div class="right_search">
					<form method="get" action="/search" accept-charset="UTF-8">
						<input type="hidden" value="ask" name="type">
						<input id="query" type="text" name="query">
						<input id="search_submit" class="btn_srh" type="submit" value="搜索">
					</form>
				</div>
					<h5></h5>
					<p>
					</p>
				</div><!-- .form_right -->
			</div><!-- .form_container -->
		</div><!-- #content_container -->
		<div class="clear"></div>

