<% content_for :head do %>
<title><%= @ask.title %></title>
<meta name="keywords" content="小马留学网问答频道 <%= @ask.title %>" />
<meta name="description" content="浏览问题,<%= @ask.title %>" />

<% end %>

		<div class="container">
      <script src='http://www.xiaoma.com/plus/ad_js.php?aid=48' language='javascript'></script>
			<div class="page_path">
				<a href="/">首页</a> &gt;&gt; <a href="/asks">问答频道</a> &gt;&gt; <%= @ask.title %>
			</div><!-- .page_path -->

			<div class="page_title">
			<% if @ask %>
				<h1>
         <a href="/asks/tags/<%= @ask.ask_type.name %>" title="<%= @ask.ask_type.name %>" class="category">[<%= @ask.ask_type.name %>]</a>&nbsp;
					<%= @ask.title %>

					<% if @ask.status == 2 or @ask.status == 3 %>
					--
					<span class="ask_status_2">已关闭</span>
					<% elsif @ask.status == 1 %>
					--
					<span class="ask_status_1">已解决</span>
					<% end %>
				</h1>
			<% end %>
			</div>

			<div class="list_leftside">
			  <% if not @messages_rendered -%>
					<% if flash[:message] %>
					<div class="submit_message"><%= flash[:message] %></div><!-- .message -->
					<% end %>
					<% if flash[:error] %>
					<div class="submit_error"><%= flash[:error] %></div><!-- .error -->
					<% end %>
				<% end -%>
      <% @messages_rendered = true -%>
					<h4 class="base_short_info">
					悬赏:<span class="score">20</span>  &nbsp;
					提问时间:<span class="date"><%= @ask.created_at.strftime('%Y-%m-%d') %></span>&nbsp;
					提问者:<span class="question_asker">
					        <a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', @ask.user.dz_common_id.to_s) %>"><%= @ask.user.username %></a>
					      </span>
					</h4>
          <div class="question">
          <%= raw @ask.content %>
          </div>
          <% if @ask.status == 0 and @ask.user_id == session[:login_user_id] %>
          <div class="operation">
              <h5><a href="/asks/<%= @ask.id %>" onclick="if (confirm('确定关闭问题?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var at = document.createElement('input'); at.setAttribute('type', 'hidden'); at.setAttribute('name', 'authenticity_token'); at.setAttribute('value', '#{form_authenticity_token}'); f.appendChild(at);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var fl = document.createElement('input'); fl.setAttribute('type', 'hidden'); fl.setAttribute('name', 'status'); fl.setAttribute('value','2'); f.appendChild(fl);f.submit(); };return false;">没有合适答案关闭问题</a></h5>
            <div class="clear"></div>
          </div>
          <% end %>
          <script src='http://www.xiaoma.com/plus/ad_js.php?aid=49' language='javascript'></script>
          <div class="other_answers">
              <h5>回答</h5>
                  <% @ask_answers.each do |answer| %>
                <div class="answers">
                    <div><%= raw answer.content %>
                    </div>
                    <div class="answer_info">
                        <% if @ask.status == 0 and @ask.user_id == session[:login_user_id] %>
                      <span class="fl mark_right_answer"><a href="/asks/<%= @ask.id %>" onclick="if (confirm('确定关闭问题?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var at = document.createElement('input'); at.setAttribute('type', 'hidden'); at.setAttribute('name', 'authenticity_token'); at.setAttribute('value', '#{form_authenticity_token}'); f.appendChild(at);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var fl = document.createElement('input'); fl.setAttribute('type', 'hidden'); fl.setAttribute('name', 'status'); fl.setAttribute('value','1'); f.appendChild(fl);var fs = document.createElement('input'); fs.setAttribute('type', 'hidden'); fs.setAttribute('name', 'answer_id'); fs.setAttribute('value','<%= answer.id %>'); f.appendChild(fs);f.submit(); };return false;">选择为正确答案</a></span>
                        <% end %>
                        <% if @ask.status == 1 and @ask.bestanswer == answer.id %>
                        <span class="fl right_answer">正确答案</span>
                        <% end %>
                      <a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', answer.user.dz_common_id.to_s) %>"><%= answer.username%></a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="date"><%= answer.created_at.strftime('%Y-%m-%d %H:%M:%S') %></span>&nbsp;&nbsp;
                    </div>
                </div>
                <% end %>
              <div class="clear"></div>
           </div>
           <% if @ask.user_id != session[:login_user_id] and @ask.status == 0 %>
<%= javascript_include_tag 'editor/kindeditor-min'%>
<script type="text/javascript">
  var is_answers_content_init = 0
  KE.show({
      id : 'answers_content',
      resizeMode : 1,
      allowPreviewEmoticons : false,
      allowUpload : false,
      items : [
      'textcolor','removeformat'],
		   afterFocus : function(){if (is_answers_content_init == 0){KE.html('answers_content', '');is_renew_ask_init = 1;}}
    });
</script>
           <div class="answer_form">
            <h5>我来回答</h5>
              <form id="answers_form" method="post" action="/asks/<%= @ask.id %>/ask_answers">
                  <div class="global_form">
                    <textarea id="answers_textarea" name="answers_content" rows="20" cols="60">在这里填写您的回答,最少10个字</textarea>
                  </div>
                    <div id="form_submit">
						          <input id="campaign_submit" name="commit" type="submit" value="回答">
					          </div>
              </form>
              <div class="clear"></div>
           </div>
          <% elsif @ask.user_id == session[:login_user_id] and @ask.status == 0 %>
<%= javascript_include_tag 'editor/kindeditor-min'%>
<script type="text/javascript">
  var is_renew_ask_init = 0;
  KE.show({
		  id : 'answers_content_renew',
		  resizeMode : 1,
		  allowPreviewEmoticons : false,
		  allowUpload : false,
		  items : [
		  'textcolor','removeformat'],
		afterFocus : function(){if (is_renew_ask_init == 0){KE.html('answers_content_renew', '');is_renew_ask_init = 1;}}
	  });
</script>
           <div class="answer_form">
            <h5>问题补充</h5>
              <form id="answers_form" method="post" action="/asks/<%= @ask.id %>">
                  <div style="margin: 0pt; padding: 0pt; display: inline;">
                  <input type="hidden" value="✓" name="utf8">
                  <input type="hidden" value="put" name="_method">
                  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
                  </div>
                  <div class="global_form">
                    <textarea id="answers_textarea" name="answers_content_renew" rows="20" cols="60">在这里补充您的问题</textarea>
                  </div>
                    <div id="form_submit">
						          <input id="campaign_submit" name="commit" type="submit" value="回答">
					          </div>
              </form>
              <div class="clear"></div>
           </div>
          <% end %>


			</div><!-- .list_leftside -->

			<div class="list_rightside">
<!-- JiaThis Button BEGIN -->
<div id="ckepop">
	<a href="http://www.jiathis.com/share/?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_kaixin001"></a>
	<a class="jiathis_button_renren"></a>
</div>
<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
<!-- JiaThis Button END -->
			  <div class="right_search">
					<form method="get" action="/search" accept-charset="UTF-8">
						<input type="hidden" value="ask" name="type">
						<input id="query" type="text" name="query">
						<input id="search_submit" class="btn_srh" type="submit" value="搜索">
					</form>
				</div>
      <div class="my_ask">
					<h2><a href="/asks/new">我要提问</a></h2>
					<h2><a href="/asks/my">我的问答</a></h2>
				</div>
				<h2 class="subject">留学推荐</h2>
				<script src='http://www.xiaoma.com/plus/ad_js.php?aid=84' language='javascript'></script>
				<div class="clear"></div>
				<h2 class="subject">热点文章</h2>
				<script src='http://www.xiaoma.com/plus/ad_js.php?aid=85' language='javascript'></script>
				<div class="clear"></div>
				<h2 class="subject">论坛精华</h2>
				<script type="text/javascript" src="http://bbs.xiaoma.com/api.php?mod=js&bid=286"></script>
				<div class="clear"></div>
				<script src='http://www.xiaoma.com/plus/ad_js.php?aid=12' language='javascript'></script>
				<div class="ask_tags">
					<h2 class="subject">问答分类</h2>
					<h4><a href="/asks/tags/托福">托福</a></h4>
					<h4><a href="/asks/tags/雅思">雅思</a></h4>
					<h4><a href="/asks/tags/GRE">GRE</a></h4>
					<h4><a href="/asks/tags/SAT">SAT</a></h4>
					<h4><a href="/asks/tags/出国留学">出国留学</a></h4>
				</div>

			 </div>
			 <div class="clear"></div>
		</div><!-- #content_container -->
		<div class="clear"></div>

