<% content_for :head do %>
<title><%= @ask.title %> 问答频道 托福考试 雅思考试 留学问答 - 小马过河 xiaoma.com </title>
<meta name="keywords" content="小马过河问答频道 <%= @ask.title %> 雅思,托福,留学,出国,GRE,SAT,GMAT,SSAT,AP,留学申请,签证,考试技巧,经验,考试报名,考试流程" />
<meta name="description" content="小马过河 浏览问题,<%= @ask.title %> 雅思,托福,留学,出国,GRE,SAT,GMAT,SSAT,AP,等考试相关的问题,留学申请,签证,考试技巧,经验,考试报名,考试流程,等留学相关问题,可以在这里提问和寻找答案" />
<%= stylesheet_link_tag "Nei_wd_det1" %>
<% end %>







<div class="Cen_Main">
	<div class="Cen_Left">
		<div class="Cen_Sou">
			<form method="get" id="form1" name="form1" action="/search" accept-charset="UTF-8">
				<input type="hidden" value="ask" name="type">
				<input type="hidden" value="1" name="page">				
        		<input  type="text" name="query" id="textfield" />
				
             <input type="submit" class="asksSubm" value=""/>
			</form>
			
            <a href="/asks/new" target="_blank"><img src="/dzstyle/images/indwd_sou_10.gif" /></a>
            <dl>
            	<dt>热门搜索：</dt>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=美国留学">美国留学</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=签证">签证</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=转学申请">转学申请</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=留学费用">留学费用</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=大学排名">大学排名</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=托福报名">托福报名</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=托福">托福考试</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=雅思">雅思考试</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=GRE">GRE</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=GMAT">GMAT</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=SAT">SAT</a></dd>
                <dd><a target="_blank" href="http://www.xiaoma.com/search?type=all&page=1&query=机经预测">机经预测</a></dd>
            </dl>
        </div>
    	<div class="asksList_Title">
        	<a href="<%= XMAPP_MAIN_DOMAIN_URL %>" target="_blank">小马过河</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="<%= XMAPP_MAIN_DOMAIN_URL %>/asks" target="_blank">问答</a>&nbsp;&nbsp;>&nbsp;&nbsp;<b><%= @ask.title %></b>
        </div>
        
        	
            
			
			<div class="asksPage_Title">
            	<img src="/dzstyle/images/indwd_49.gif" /><b><%= @ask.title %></b>
												<% if @ask.status == 2 or @ask.status == 3 %>
												
												<span>-- 已关闭</span>
												<% elsif @ask.status == 1 %>
												
												<span>-- 已解决</span>
												<% end %>
            </div>
            <div class="askaPage_Box">
            	<a href="/asks/tags/<%= @ask.ask_type.name %>" title="<%= @ask.ask_type.name %>" target="_blank">[<%= @ask.ask_type.name %>]</a>
                <span>悬赏:20</span>
                
                <a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', @ask.user.dz_common_id.to_s) %>" target="_blank" style="float:right; margin-right:10px;"><%= @ask.user.username %></a>
                <span style="float:right">提问者:</span>
                <span style="float:right; margin-right:10px;">提问时间:<font color="#FF0000"><%= @ask.created_at.strftime('%Y-%m-%d') %></font></span>
            </div>
            <p class="asksPage_Text">
            	<%= raw @ask.content %>
            </p>
            <% if @ask.status == 0 and @ask.user_id == session[:login_user_id] %>
	          <div>
	              <h5><a style="color: red;" href="/asks/<%= @ask.id %>" onclick="if (confirm('确定关闭问题?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var at = document.createElement('input'); at.setAttribute('type', 'hidden'); at.setAttribute('name', 'authenticity_token'); at.setAttribute('value', '#{form_authenticity_token}'); f.appendChild(at);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var fl = document.createElement('input'); fl.setAttribute('type', 'hidden'); fl.setAttribute('name', 'status'); fl.setAttribute('value','2'); f.appendChild(fl);f.submit(); };return false;">没有合适答案关闭问题</a></h5>
	          </div>
	          <% end %>
            <div class="asksPage_SouText">
            	<a href="http://search.xiaoma.com/?type=all&page=1&query=<%= @ask.title %>" target="_blank">和'<%= @ask.title %>'相关的问题</a>
                
                
				<!-- 搜索 -->
				<form id="form2" name="form2" method="get" action="/search" accept-charset="UTF-8">
					<input type="hidden" value="ask" name="type">
					<input type="submit" class="asksPagesub" value=""/>
                	<input type="text" name="query"/>
				</form>
				<!-- 搜索结束 -->
            </div>
			<div class="height5"></div>
            <script src="http://www.xiaoma.com/plus/ad_js.php?aid=113" language="javascript"></script>
            
			<!-- 如果不是本人 可以回答问题 -->
			<% if @ask.user_id != session[:login_user_id] and @ask.status == 0 %>
            <div class="asksPage_Answer">
            	<div class="asksPage_AnswerTitle">
                	<b>我来回答这个问题：</b>
                </div>
                <div class="asksPage_AnswerText">
				<form name="form1" id="form1" action="/asks/<%= @ask.id %>/ask_answers" method="post">
                	<textarea name="answers_content" cols="94" rows="10" style="width:680px;"></textarea>
                    <input type="submit" value=""/>
				</form>
                </div>
            </div>			
			<!-- 如果不是本人 可以回答问题 end-->
			<% elsif @ask.user_id == session[:login_user_id] and @ask.status == 0 %>
			<div class="asksPage_Answer">
            	<div class="asksPage_AnswerTitle">
                	<b>问题补充：</b>
                </div>
                <div class="asksPage_AnswerText">
				<form name="form1" id="form1" method="post" action="/asks/<%= @ask.id %>">
						<input type="hidden" value="✓" name="utf8">
						<input type="hidden" value="put" name="_method">
			            <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
                	<textarea name="answers_content_renew" cols="94" rows="10" style="width:680px;"></textarea>
                    <input type="submit" value=""/>
				</form>
                </div>
            </div>
			<% end %>
            <div class="asksPage_AnswerList">
            	<div class="asksPage_AnswerListTitle">
                	<b>别人的回答：</b>
                </div>
                <ul>
				<% @ask_answers.each do |answer| %>
                	<li>
                    	<p><%= raw answer.content %></p>
						<% if @ask.status == 0 and @ask.user_id == session[:login_user_id] %>
						   	<b><a style="color: red;" href="/asks/<%= @ask.id %>" onclick="if (confirm('确定关闭问题?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var at = document.createElement('input'); at.setAttribute('type', 'hidden'); at.setAttribute('name', 'authenticity_token'); at.setAttribute('value', '#{form_authenticity_token}'); f.appendChild(at);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var fl = document.createElement('input'); fl.setAttribute('type', 'hidden'); fl.setAttribute('name', 'status'); fl.setAttribute('value','1'); f.appendChild(fl);var fs = document.createElement('input'); fs.setAttribute('type', 'hidden'); fs.setAttribute('name', 'answer_id'); fs.setAttribute('value','<%= answer.id %>'); f.appendChild(fs);f.submit(); };return false;">选择为正确答案</a></b>
					    <% end %>
						<% if @ask.status == 1 and @ask.bestanswer == answer.id %>
                        <b>正确答案</b>
						<% end %>
                        <span>会员ID：<a href="<%= USER_SPACE_URL_BASE.gsub('{dz_uid}', answer.user.dz_common_id.to_s) %>" target="_blank"><%= answer.username%></a> 回答时间：<%= answer.created_at.strftime('%Y-%m-%d %H:%M:%S') %></span>
                    </li>
				<% end %>
                </ul>
            </div>
            
            



        
    </div>


    <div class="Cen_Right">
    	<div class="Cen_RightTop">
        	<!-- JiaThis Button BEGIN -->
			<div id="ckepop">
				<span class="jiathis_txt">分享到：</span>
				<a class="jiathis_button_qzone"></a>
				<a class="jiathis_button_tsina"></a>
				<a class="jiathis_button_tqq"></a>
				<a class="jiathis_button_renren"></a>
				<a class="jiathis_button_kaixin001"></a>
				<a href="http://www.jiathis.com/share?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
				<a class="jiathis_counter_style"></a>
			</div>
			<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
			<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
			<!-- JiaThis Button END -->
        </div>	
        <a href="/asks/new" target="_blank"><img src="/dzstyle/images/indwd_05.gif" /></a>
        <a href="/asks/my" target="_blank"><img src="/dzstyle/images/indwd_08.gif" /></a>
		<div class="height5"></div>
        <script src="http://www.xiaoma.com/plus/ad_js.php?aid=114" language="javascript"></script>
        <div style="clear:both"></div>
        <dl>
        	<dt><b>问答分类</b></dt>
            <dd><a href="/asks/tags/出国留学" target="_blank">出国留学</a></dd>
            <dd><a href="/asks/tags/托福" target="_blank">托福</a></dd>
            <dd><a href="/asks/tags/雅思" target="_blank">雅思</a></dd>
            <dd><a href="/asks/tags/GRE" target="_blank">GRE</a></dd>
            <dd><a href="/asks/tags/GMAT" target="_blank">GMAT</a></dd>
            <dd><a href="/asks/tags/SAT" target="_blank">SAT</a></dd>
            <div style="clear:both"></div>
        </dl>
        
    </div>
</div>