<% content_for :head do %>
<title>小马过河-上传资料</title>
<meta name="description" content="上传资料" /> 
<meta name="keywords" content="小马过河 英语 学习资料 上传" /> 
<%= stylesheet_link_tag('jquery.fileupload-ui') %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<%= javascript_include_tag 'jquery.fileupload', 'jquery.fileupload-ui' %>

<script type="text/javascript" charset="utf-8"> 
   $(function () {
   var maxFiles = <%= @max_files %>,
   filesCounter = 0;
  $('.upload').fileUploadUI({
        uploadTable: $('.upload_files'),
        downloadTable: $('.download_files'),
		beforeSend: function (event, files, index, xhr, handler, callBack) {
			var regexp = /\.(zip)|(rar)|(tar.gz)|(tgz)$/i;
			if (filesCounter + index + 1 > maxFiles) {
				alert('最多只能上传'+maxFiles+'个文件')
				return;
			}
			filesCounter = filesCounter + 1;
			if (files[index].size > 5000000) {
				handler.uploadRow.find('.file_upload_progress').html('<span class="warning">文件大小超出限制!<\/span>');
				setTimeout(function () {
					handler.removeNode(handler.uploadRow);
				}, 10000);
				return;
			}
			if (!regexp.test(files[index].name)) {
				handler.uploadRow.find('.file_upload_progress').html('<span class="warning">文件格式错误,不允许的上传文件类型<\/span>');
				setTimeout(function () {
					handler.removeNode(handler.uploadRow);
				}, 10000);
				return;
			}
			callBack();
		},
        buildUploadRow: function (files, index) {
			if (filesCounter + index + 1 > maxFiles) {
				return null;
			}
            var file = files[index];
            return $('<tr><td>' + file.name + '<\/td>' +
                    '<td class="file_upload_progress"><div><\/div><\/td>' +
                    '<td class="file_upload_cancel">' +
                    '<button class="ui-state-default ui-corner-all" title="Cancel">' +
                    '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                    '<\/button><\/td><\/tr>');
        },
        buildDownloadRow: function (file) {
			return $('<li>成功上传文件:  <span class="upload_file_name">' + file.name + '</span><\/li>');
        },
    });
	
});
</script>
<% end %>
		<div class="content_container">
			<div class="page_path">
			<%= link_to "首页", root_path %> &gt;&gt; <%= link_to '资源下载', downloads_dl_threads_path %> &gt;&gt; 上传资料
			</div><!-- .page_path -->
			<div class="page_title"><h1>为<span><%= @dl_thread.name %></span>添加附件</h1></div>
			<div class="form_container">
				<div class="form_desc"><span class="form_desc_tip">操作流程:&nbsp;</span>1.填写基本信息 -> 2.编辑缩略图 -> <span class="current">3.添加附件</span></div><!-- .form_desc -->
				<div class="form_left">
				<div class="files"> 
					<%= form_for( [:downloads, @dl_thread, @dl_attachment], :html => { :class => "upload", :multipart => true } ) do |f| %>
					  <%= f.file_field :attachment %>
					  <div>点击添加附件</div>
					<% end %>
					
					
				</div>
				<div class="clear"></div>
				<div class="uploaded_files">
					<h5>上传的文件列表</h5>
					<ul>
						<div class="upload_files"></div>
						<div class="download_files">
						<% @dl_attachments.each do |old_attchm|%>
							<li>
								<b>已存在的文件</b>:   <span class="upload_file_name"><%= old_attchm.originname %></span>
							</li>
						<% end %>
						</div>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="left_bottom_link">
						<%= link_to "点击完成,并返回下载首页", dl_index_path %>		或		 <%= link_to "返回我的上传", manage_uploads_path %>
				</div>
				</div><!-- .form_left -->
				
				<div class="form_right">
					<div class="submit_message">
					<h3>上传帮助</h3>
					<p>点击左边绿色的"点击添加附件"按钮来选择上传的文件,一次只能选择一个文件,当一个文件上传完了之后不会刷新页面,在本页面就会有提示,之后您可以继续上传下一个附件.
					
					</p>
					<h3>注意</h3>
					<p>请不要上传大于<span class="warning">5M</span>的文件,
					并且只允许上传 <span class="warning">zip,rar,tgz,tar</span>.gz格式的文件,这样可以节省大量的带宽,使你上传和下载要快许多,
					所以请用相关的工具,如winrar或者winzip等工具来给你的文件或文件夹进行压缩,打包之后再上传.
					</p>
					<h3>我的文件大于5M我该怎么上传</h3>
					<p>请不要上传大于<span class="warning">5M</span>的文件,
					并且只允许上传 <span class="warning">zip,rar,tgz,tar</span>.gz格式的文件,这样可以节省大量的带宽,使你上传和下载要快许多,
					所以请用相关的工具,如winrar或者winzip等工具来给你的文件或文件夹进行压缩,打包之后再上传.
					</p>
					</div>
				</div><!-- .form_right -->
			</div><!-- .form_container -->
		</div><!-- #content_container -->
		<div class="clear"></div>
