<% content_for :head do %>
<title>上传附件 资料下载 - 小马过河</title>
<meta name="description" content="上传资料" />
<meta name="keywords" content="小马留学网 英语 学习资料 上传" />
<%= stylesheet_link_tag('jquery.fileupload-ui','apps','common') %>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<%= javascript_include_tag 'jquery.fileupload', 'jquery.fileupload-ui' %>

<script type="text/javascript" charset="utf-8">
   $(function () {
   var maxFiles = <%= @max_files %>,
   filesCounter = 0;
  $('.upload').fileUploadUI({
        uploadTable: $('.upload_files'),
        downloadTable: $('.download_files'),
		beforeSend: function (event, files, index, xhr, handler, callBack) {
			var regexp = /\.(zip)|(rar)|(tar.gz)|(tgz)$/i;
			if (filesCounter + index + 1 > maxFiles) {
				alert('最多只能上传'+maxFiles+'个文件')
				return;
			}
			filesCounter = filesCounter + 1;
			if (files[index].size > 20000000) {
				handler.uploadRow.find('.file_upload_progress').html('<span class="warning">文件大小超出限制!<\/span>');
				setTimeout(function () {
					handler.removeNode(handler.uploadRow);
				}, 10000);
				return;
			}
			if (!regexp.test(files[index].name)) {
				handler.uploadRow.find('.file_upload_progress').html('<span class="warning">文件格式错误,不允许的上传文件类型<\/span>');
				setTimeout(function () {
					handler.removeNode(handler.uploadRow);
				}, 10000);
				return;
			}
			callBack();
		},
        buildUploadRow: function (files, index) {
			if (filesCounter + index + 1 > maxFiles) {
				return null;
			}
            var file = files[index];
            return $('<tr><td>' + file.name + '<\/td>' +
                    '<td class="file_upload_progress"><div><\/div><\/td>' +
                    '<td class="file_upload_cancel">' +
                    '<button class="ui-state-default ui-corner-all" title="Cancel">' +
                    '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                    '<\/button><\/td><\/tr>');
        },
        buildDownloadRow: function (file) {
			var inner_html = '<li>成功上传文件:  <span class="upload_file_name">' + file.name + '</span> <span>'+file.size+'</span></li>'
			return $(inner_html);
        },
    });

});
</script>
<% end %>

<div class="Cen_Main">
	<div class="DLtop">
    	<p><a href="<%= XMAPP_MAIN_DOMAIN_URL %>">小马过河</a>&nbsp;>>&nbsp;<%= link_to '资源下载', dl_index_path %>&nbsp;>>&nbsp;<%= @dl_thread.name %> 附件管理</p>
        <b>为<font color="#004276"><%= @dl_thread.name %></font>添加附件</b>
    </div>
    
    <div class="DLleft">
    	<p class="DLattachP">操作流程: 1.填写基本信息 -> 2.编辑缩略图 -> <b>3.添加附件</b></p>
		<div class="height5"></div>
        <div class="DLattachConnt">
           	
				<% if flash[:message] %>
				<div class="submit_message"><%= flash[:message] %></div><!-- .message -->
				<% end %>
				<% if flash[:error] %>
				<div class="submit_error"><%= flash[:error] %></div><!-- .error -->
				<% end %>
			<div class="files">
				<%= form_for( [:downloads, @dl_thread, @dl_attachment], :html => { :class => "upload", :multipart => true } ) do |f| %>
				  <%= f.file_field :attachment %>
				  <div>点击添加附件</div>
				<% end %>


			</div>
			<div class="clear"></div>
			<div class="uploaded_files">
				<h5>上传的文件列表</h5>
				<ul>
					<div class="upload_files"></div>
					<div class="download_files">
					<% @dl_attachments.each do |old_attchm|%>
						<li>
							<b>已存在的文件</b>:   <span class="upload_file_name"><%= old_attchm.originname %></span>&nbsp;<span><%= number_to_human_size(old_attchm.filesize, :locale => :en)%></span>
							<span class="fr">
							<a href="/downloads/dl_threads/<%= @dl_thread.id %>/dl_attachments/<%= old_attchm.id %>" onclick="if (confirm('Are you sure?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var at = document.createElement('input'); at.setAttribute('type', 'hidden'); at.setAttribute('name', 'authenticity_token'); at.setAttribute('value', '#{form_authenticity_token}'); f.appendChild(at);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);f.submit(); };return false;">删除</a>
							</span>
						</li>
					<% end %>
					</div>
				</ul>
				<div class="clear"></div>
			</div>
        
        </div>
        <p class="DLattachP"><%= link_to "点击完成,并返回下载首页", dl_index_path %>&nbsp;&nbsp;&nbsp;&nbsp;或&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "返回我的上传", manage_uploads_path %></p>
    </div>
    <div class="DLright">
    	<ul class="DLattachRight">
        	<li><b>上传帮助</b></li>
            <li>点击左边绿色的"点击添加附件"按钮来选择上传的文件,一次只能选择一个文件,当一个文件上传完了之后不会刷新页面,在本页面就会有提示,之后您可以继续上传下一个附件.</li>
            <li><b>注意</b></li>
            <li><a href="http://bbs.xiaoma.com/thread-158620-1-1.html" class="warning">大于10M的文件如何上传看这里</a></li>
            <li><a href="http://bbs.xiaoma.com/thread-158629-1-1.html" class="warning">上传资料的教学</a></li>
            <li>请不要上传大于<font>10M</font>的文件, 并且只允许上传 <font>zip,rar,tgz,tar.gz</font>格式的文件,这样可以节省大量的带宽,使你上传和下载要快许多, 所以请用相关的工具,如winrar或者winzip等工具来给你的文件或文件夹进行压缩,打包之后再上传.</li>
            <li><b>我的文件大于10M我该怎么上传</b></li>
        </ul>
    </div>
    
</div>




