<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<title>小马过河-上传资料</title>
		<meta name="description" content="上传资料" /> 
		<meta name="keywords" content="小马过河 英语 学习资料 上传" /> 
		<%= stylesheet_link_tag('jquery.fileupload-ui') %>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
		<%= javascript_include_tag 'jquery.fileupload', 'jquery.fileupload-ui' %>
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" /> 
		<%= stylesheet_link_tag "apps" %>
		<%= stylesheet_link_tag "common" %>
		<%= csrf_meta_tag %>
<script type="text/javascript" charset="utf-8"> 
   $(function () {
   var maxFiles = <%= @max_files %>,
   filesCounter = 0;
  $('.upload').fileUploadUI({
        uploadTable: $('.upload_files'),
        downloadTable: $('.download_files'),
		beforeSend: function (event, files, index, xhr, handler, callBack) {
			var regexp = /\.(zip)|(rar)|(tar.gz)|(tgz)$/i;
			if (filesCounter + index + 1 > maxFiles) {
				alert('最多只能上传'+maxFiles+'个文件')
				return;
			}
			filesCounter = filesCounter + 1;
			if (files[index].size > 20000000) {
				handler.uploadRow.find('.file_upload_progress').html('<span class="warning">文件大小超出限制!<\/span>');
				setTimeout(function () {
					handler.removeNode(handler.uploadRow);
				}, 10000);
				return;
			}
			if (!regexp.test(files[index].name)) {
				handler.uploadRow.find('.file_upload_progress').html('<span class="warning">文件格式错误,不允许的上传文件类型<\/span>');
				setTimeout(function () {
					handler.removeNode(handler.uploadRow);
				}, 10000);
				return;
			}
			callBack();
		},
        buildUploadRow: function (files, index) {
			if (filesCounter + index + 1 > maxFiles) {
				return null;
			}
            var file = files[index];
            return $('<tr><td>' + file.name + '<\/td>' +
                    '<td class="file_upload_progress"><div><\/div><\/td>' +
                    '<td class="file_upload_cancel">' +
                    '<button class="ui-state-default ui-corner-all" title="Cancel">' +
                    '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                    '<\/button><\/td><\/tr>');
        },
        buildDownloadRow: function (file) {
			return $('<li>成功上传文件:  <span class="upload_file_name">' + file.name + '</span><\/li>');
        },
    });
	
});
</script>
	</head>
<body>



		
				<div class="files"> 
					<%= form_for( [:downloads, @dl_thread, @dl_attachment], :html => { :class => "upload", :multipart => true } ) do |f| %>
					  <%= f.file_field :attachment %>
					  <div>点击添加附件</div>
					<% end %>
					
					
				</div>
				<div class="clear"></div>
				<div class="uploaded_files">
					<h5>上传的文件列表</h5>
					<ul>
						<div class="upload_files"></div>
						<div class="download_files">
						</div>
					</ul>
					<div class="clear"></div>
				</div>
		<div class="clear"></div>
</body>

</html>