<% content_for :head do %>
<title>赚取金币通道 托福考试,雅思考试,GRE,最专业的出国留学备考社区</title>
<meta name="description" content="小马过河是一个专业的出国留学备考社区,包含丰富的学习资源,资料下载,涉及内容包括托福,sat,gre,雅思,以及出国一些专业知识,并为大家提供一个学习和交流的平台">
<meta name="keywords" content="雅思考试,托福考试,出国,留学,GRE,SAT,GMAT,SSAT,AP,美国名校">
<%= stylesheet_link_tag "global" %>
<%= stylesheet_link_tag "index" %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<% end %>

		<div class="container">
		  <div class="page_path">
				<a href="/">首页</a> &gt;&gt; 快速赚取金币通道
			</div><!-- .page_path -->
			<div class="main_left fl">
			    <div>
              <h3>金币相关说明</h3>
              <p>
              <em>金币</em>是小马(xiaoma.com)的唯一交易虚拟货币,现在可以用来下载本站丰富的学习资料,用金币限制是为了防止同一时间下载用户过多,大家都会下载非常卡,另外也是为了让用户养成好习惯,只下载自己最需要的资料,并不是所有资料你都有时间看完,下载你最需要的就好.给他人创造一个更优良的下载环境,所以我们地址一切p2p软件和浏览器.
              </p>
              <p>
                在不久的将来<em>金币</em>还可以用来换取我们精心准备的奖品,或者马骏的老师的免费vip时间.可以换取作文批改等等
              </p>
              <p>
                其实在小马,获取金币的方式有很多,也不难,比如:在下面<a href="/asks/unsolved"><em>回答其他同学的问题</em></a>,
                <a href="/sources/untrans"><em>翻译精华的国外的文章</em></a>,<a href="/dl/threads/new"><em>上传分享学习资料</em></a>,
                <a href="http://bbs.xiaoma.com/forum-210-1.html"><em>去分享您的学习经验</em></a>
                这样既能提高自己的水平,帮助他人,还能获取大量金币.
              </p>
              <h3>目前金币的获取规则如下</h3>

              <h6>1 <a href="/dl/threads/new"><em>上传分享学习资料</em></a>在审核通过以后,获得<em>100</em>的金币和<em>50</em>的积分</h6>
              <h6>2 <a href="/asks/unsolved"><em>回答其他同学的问题</em></a>,获得<em>30</em>的金币和<em>20</em>的积分</h6>
              <h6>3 <a href="/sources/new"><em>发布国外原文文章</em></a>,获得<em>30</em>的金币和<em>20</em>的积分</h6>
              <h6>4 <a href="/sources/untrans"><em>翻译国外原文文章</em></a>,获得<em>50</em>的金币和<em>30</em>的积分,被投票为最佳翻译以后,会额外再加150的金币和100的积分</h6>
              <h6>5 在论坛的帖子被设置为精华以后,获得<em>200</em>的金币和<em>200</em>的积分</h6>
              <p>
                  更多信息查看<a href="http://bbs.xiaoma.com/thread-155879-1-1.html"><em>小马过河使用帮助</em></a>
              </p>
              <h6>
              <em>郑重声明:</em> (1)一旦发现违规用户,比如在论坛发布索取邮箱,qq号码,或者各种变相散播此类信息者,(因为有用户举报大多数为卖答案和做广告的,给用户带来骚扰和不便)
              一经发现,或者用户举报,在经过核实情况属实,违规者<em>积分和金币清0</em>,并重赏举报者.
              (2)恶意在论坛里刷帖子,刷状态和博客者,产生大量垃圾信息的,将择情<em>扣除200至1000的金币</em>,
              <a href="http://bbs.xiaoma.com/thread-165147-1-1.html"><em>欢迎广大用户举报不良行为,举报者必奖</em></a>
              </h6>
          </div>


				<div>
					<h3><span class="ask_title">没有翻译的文章</span><a href="/sources/untrans">更多</a></h3>
					<table class="grid">
						<thead>
							<tr>
							  <td>标题</td>
							  <td width="80">类型</td>
							  <td width="80">发布日期</td>
							  <td width="35">语言</td>
							  <td width="35">浏览</td>
							</tr>
						</thead>
						<tbody>
             <% @sources.each do |source| %>
             <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							  <td>
							  <a title="<%= source.title %>" href="/sources/<%= source.id%>"><%= source.title %></a>
							  </td>
							  <td class="tag"><a href="/sources/search?tags=<%= source.source_type.id%>">[<%= source.source_type.name%>]</a></td>
							  <td class="date"><%= source.created_at.strftime('%Y-%m-%d') %></td>
							  <td><%= source.source_lang.name %></td>
							  <td><span class="browse"><%= source.views %></span></td>
						  </tr>
             <% end %>
					  </tbody>
					</table>

          <h3><span class="ask_title">未解决问题</span><a href="/asks/unsolved">更多</a></h3>
					<table class="grid">
						<thead>
							<tr>
							  <td>问题</td>
							  <td width="80">类型</td>
							  <td width="80">提问时间</td>
							  <td width="35">回答</td>
							  <td width="35">悬赏</td>
							</tr>
						</thead>
						<tbody>
             <% @unsolve_asks.each do |unsolve_ask| %>
             <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							  <td class="open"><a title="<%= unsolve_ask.title%>" href="/asks/<%= unsolve_ask.id%>"><%= unsolve_ask.title%></a></td>
							  <td class="tag"><a href="/asks/tags/<%= unsolve_ask.ask_type.name%>">[<%= unsolve_ask.ask_type.name%>]</a></td>
							  <td class="date"><%= unsolve_ask.created_at.strftime('%Y-%m-%d') %></td>
							  <td><%= unsolve_ask.replies%></td>
							  <td><span class="score">20</span></td>
						  </tr>
             <% end %>
					  </tbody>
					</table>



				</div>
			</div>
			<div class="main_right fl">
<!-- JiaThis Button BEGIN -->
<div id="ckepop">
	<a href="http://www.jiathis.com/share/?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_kaixin001"></a>
	<a class="jiathis_button_renren"></a>
</div>
<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
<!-- JiaThis Button END -->

				<div class="my_ask">
					<h2><a href="/sources/new">我要发布外文文章</a></h2>
					<h2><a href="/sources/untrans">我要翻译外文文章</a></h2>
					<h2><a href="/asks/unsolved">我要解答用户问题</a></h2>
					<h2><a href="/dl/threads/new">我要上传学习资料</a></h2>
				</div>
      </div>
			<div class="clear"></div>
		</div><!-- #container -->

