<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>小马留学网-托福,雅思,GRE,SAT,最专业的出国留学备考社区</title>
<meta name="keywords" content="雅思,托福,留学,GRE,SAT,GMAT,SSAT,AP考试,美国名校" />
<meta name="description" content="小马留学网是一个专业的出国留学备考社区,包含丰富的学习资源,资料下载,内容涉及托福,sat,gre,雅思,以及出国留学和移民等专业知识,并为大家提供交流和互助平台" />
<link href="http://www.xiaoma.com/templets/default/css/index.css" rel="stylesheet" type="text/css" />

</head>

<body>
<!-- wrap begin -->
<div id="wrap">
<!-- header begin --> 
<dl class="top"> 
     <dt>小马留学官方网站</dt>

<% if session[:login_user] %>
<dd>
欢迎您 | <%= session[:login_user].username %> | 
<a href="<%= XMAPP_MAIN_DOMAIN_URL %>/logout">退出</a> | 
<a href="#">帮助中心</a><a href="#">收藏本站</a><a href="#">设为首页</a></span>
</dd>
<% else %>
<dd><a href="<%= XMAPP_MAIN_DOMAIN_URL %>/login">登录</a>| <a href="http://bbs.xiaoma.com/member.php?mod=asdfasdf">注册</a><span><a href="#">帮助中心</a><a href="#">收藏本站</a><a href="#">设为首页</a></span></dd>
<% end %>

  </dl>
<div class="gg"> 
<script src='http://www.xiaoma.com/plus/ad_js.php?aid=93' language='javascript'></script>
  </div>
<dl class="nav2"> 
    <dt><a href="http://www.xiaoma.com">首页</a><a href="http://products.xiaoma.com/">留学项目</a><a href="http://liuxue.xiaoma.com">留学资讯</a><a href="http://www.xiaoma.com/sources/">译文</a><a href="http://www.xiaoma.com/asks/">问答</a><a href="http://www.xiaoma.com/dl/">下载</a></dt>
    <dd><a href="http://bbs.xiaoma.com">论坛</a><a href="http://space.xiaoma.com">空间</a><a href="http://huodong.xiaoma.com">活动</a></dd>
  </dl>
<dl class="place">
  <dt>
  <span>热门搜索：</span>
	<a href="http://products.xiaoma.com/?source=index_topkws">留学中介</a>
	<a href="http://products.xiaoma.com/zhzx.html?source=index_topkws">转学美国</a>
	<a href="http://search.xiaoma.com/?type=all&query=签证&page=1" title="签证">签证</a>
	<a href="http://search.xiaoma.com/?type=all&query=留学费用&page=1" title="留学费用">留学费用</a>
	<a href="http://search.xiaoma.com/?type=all&query=大学排名&page=1" title="大学排名">大学排名</a>
	<a href="http://search.xiaoma.com/?type=all&query=托福报名&page=1" title="托福报名">托福报名</a>
	<a href="http://search.xiaoma.com/?type=all&query=雅思&page=1" title="雅思">雅思</a>
	<a href="http://search.xiaoma.com/?type=all&query=GRE&page=1" title="GRE">GRE</a>
	<a href="http://search.xiaoma.com/?type=all&query=SAT&page=1" title="SAT">SAT</a>
	<a href="http://products.xiaoma.com/fthm.html?source=index_topkws">商科留学</a>
	<a href="http://products.xiaoma.com/toeflpx.html?source=index_topkws">托福培训</a>
  </dt>
  <dd>
  <form method="get" action="http://search.xiaoma.com/" accept-charset="UTF-8"><input type="hidden" value="all" name="type"><input type="hidden" value="1" name="page"><input class="t3" type="text" name="query" /><input type="submit" value="搜 索" class="but"  /></form></dd>
</dl>  
<div class="wh1">
  <div class="wh3">
    <div class="b1">
      <span><img src="http://www.xiaoma.com/templets/default/images/a_34.jpg" width="98" height="32" alt="留学导航" /></span>
      <dl>
        <dt class="dt1">留学</dt>
        <dd><a href="http://liuxue.xiaoma.com/shenqing/">申请技巧</a>
		<a href="http://product.xiaoma.com/?source=index_navi2">留学中介</a>
		<a href="http://products.xiaoma.com/mgy.html?source=index_navi2">留学预科</a>
		<a href="http://products.xiaoma.com/chelin.html?source=index_navi2">双录取</a>
		<a href="http://liuxue.xiaoma.com/paiming/">院校排名</a>
		<a href="http://products.xiaoma.com/dingrui.html?source=index_navi2">名校申请</a>
		<a href="http://liuxue.xiaoma.com/shenghuo/">海外生活</a>
		<a href="http://liuxue.xiaoma.com/meiguoshangxueyuan/">美国商科</a>
		<a href="http://liuxue.xiaoma.com/zhuanye/">专业介绍</a>
		<a href="http://products.xiaoma.com/kyq.html?source=index_navi2">工科留学</a>
		<a href="http://products.xiaoma.com/xuehui.html"?source=index_navi2>美国高中</a>
		<a href="http://liuxue.xiaoma.com/meiguobenkeliuxue/">美国本科</a>
		<a href="http://liuxue.xiaoma.com/">研究生</a>
		<a href="http://liuxue.xiaoma.com/shenqing/">文书写作</a>
		<a href="http://liuxue.xiaoma.com/qianzheng/">美国签证</a>
		<a href="http://liuxue.xiaoma.com/haigui/">海归</a></dd>
      </dl>
      <dl>
        <dt class="dt2">考试</dt>
        <dd><a href="http://ielts.xiaoma.com">雅思</a>
		<a href="http://sat.xiaoma.com">SAT考试</a>
		<a href="http://toefl.xiaoma.com">托福资讯</a>
		<a href="http://sat.xiaoma.com/SSAT/">SSAT</a>
		<a href="http://products.xiaoma.com/toeflpx.html?source=index_navi2">托福培训</a> 
		<a href="http://gre.xiaoma.com/">GRE</a>
		<a href="http://sat.xiaoma.com/AP/">AP</a>
		<a href="http://gre.xiaoma.com/GMAT/">GMAT</a>
 </dd>
      </dl>
      <div class="img1"><img src="http://www.xiaoma.com/templets/default/images/p1.jpg" width="46" height="41" /></div>
    </div>
    <dl class="b2">
      <dt><strong>热门项目</strong></dt>
      <dd>
        <ul>
<li>
<a href="http://products.xiaoma.com/?source=index_b1t1">美国留学专家精彩专栏推荐</a>
</li>
<li>
<a href="http://products.xiaoma.com/cptsx.html?source=index_b1t1">留学美国带薪读研项目</a>
</li>
<li>
<a href="http://products.xiaoma.com/fthm.html?source=index_b1t1">福特汉姆商学院院长面试</a>
</li>
<li>
<a href="http://products.xiaoma.com/toeflpx.html?source=index_b1t1">精品小班托福培训</a>
</li>
        </ul>
      </dd>
    </dl>
  </div>
  <div class="wh4">
    <div class="slide">
        
        <table width="468" height="311" border="0" align="center" cellpadding="0" cellspacing="0">
<script src='http://www.xiaoma.com/plus/ad_js.php?aid=89' language='javascript'></script>
</table>
<div align="center">
<SCRIPT type=text/javascript>
var currslid = 0;
var slidint;
function setfoc(id){
	document.getElementById("focpic").src = picarry[id];
	document.getElementById("foclnk").href = lnkarry[id];
	//document.getElementById("foctitle").innerHTML = '<a href="'+lnkarry[id]+'" target="_blank">'+ttlarry[id]+'</a>';
	currslid = id;
	for(i=0;i<5;i++){
		document.getElementById("tmb"+i).className = "thumb_off";
	};
	document.getElementById("tmb"+id).className ="thumb_on";
    var focpic = document.getElementById('focpic');
	focpic.style.visibility = "hidden";
	//focpic.filters[0].Apply();
	if (focpic.style.visibility == "visible") {
		focpic.style.visibility = "hidden";
		focpic.filters.revealTrans.transition=23;
	}
	else {
		focpic.style.visibility = "visible";
		//focpic.filters[0].transition=23;
	}
	//focpic.filters[0].Play();
	stopit();
}

function playnext(){
	if(currslid==4){
		currslid = 0;
	}
	else{
		currslid++;
	};
	setfoc(currslid);
	playit();
}
function playit(){
	slidint = setTimeout(playnext,4500);
}
function stopit(){
	clearTimeout(slidint);
	}
window.onload = function(){
	playit();
}</SCRIPT>
</div></div>
    <div class="b3">
	<span><a href="http://liuxue.xiaoma.com/">留学面试：掌握关键词打动面试官</a></span>
	<p>[<a href="http://products.xiaoma.com/ljh.html?source=index_b1t2">美国留学战略规划专栏</a>] [<a href="http://liuxue.xiaoma.com/">美国大学奖学金审批依据</a>]</p>
	<ul>
	<li><a style="color:#9C2900" href="http://liuxue.xiaoma.com/">准留学生家长最关心的九大问题</a></li>
	<li><a style="color:#9C2900" href="http://products.xiaoma.com/fthmmbe.html?source=index_b1t2">什么是工商企业管理硕士(MBE)？</a></li>
	<li><a style="color:#663300" href="http://toefl.xiaoma.com/">托福口语评分标准有哪些？</a></li>
	<li><a style="color:#663300" href="http://gre.xiaoma.com/">GRE issue写作提纲思路分析</a></li>
	<li><a style="color:#9C2900" href="http://products.xiaoma.com/jnd.html?source=index_b1t2">移民加拿大，从留学开始</a></li>
	<li><a style="color:#663300" href="http://sat.xiaoma.com">SAT官方每日一题解析</a></li>
	<li><a style="color:#663300" href="http://liuxue.xiaoma.com/">留学美国：校内打工种类大全</a></li>
	<li><a style="color:#663300" href="http://gre.xiaoma.com/">GMAT写作精彩例句分享</a></li>
	<li><a style="color:#663300" href="http://bbs.xiaoma.com/forum-127-1.html">北美留学申请讨论专区</a></li>
	<li><a style="color:#663300" href="http://www.xiaoma.com/asks/">留学问答—以集体智慧答疑解惑</a></li>
	</ul>
    </div>
  </div>
  <div class="clear"></div>
  <dl class="b5 left">
      <dt><span><a href="http://www.xiaoma.com/zhuanlan/fanqin/">更多>></a></span><strong>中国教育服务中心美国留学专家樊琴专栏</strong></dt>
      <dd class="dd3"> 
        <a href="http://products.xiaoma.com/fanqin.html?source=index_b1x1"><img src="http://img.xiaoma.com/statics/xiaomaad/index/fanqin.jpg" width="120" height="125" /></a>
	   <ul>
<li>
                  <a title="为什么放弃高考要趁早" href="http://www.xiaoma.com/zhuanlan/fanqin//20110824/16598.html">为什么放弃高考要趁早</a>
                </li>
<li>
                  <a title="美国留学：家长应该知道的故事" href="http://www.xiaoma.com/zhuanlan/fanqin//20110824/16596.html">美国留学：家长应该知道的故事</a>
                </li>
<li>
                  <a title="留学中介选公司还是选顾问" href="http://www.xiaoma.com/zhuanlan/fanqin//20110824/16595.html">留学中介选公司还是选顾问</a>
                </li>
<li>
                  <a title="哈佛商学院MBA的最后一堂课——把自己买个好价钱" href="http://www.xiaoma.com/zhuanlan/fanqin//20110824/16594.html">哈佛商学院MBA的最后一堂课——把自己买个好价钱</a>
                </li>
<li>
                  <a title="樊老师和她的“三维留学咨询”" href="http://www.xiaoma.com/zhuanlan/fanqin//20110714/13517.html">樊老师和她的“三维留学咨询”</a>
                </li>
<li>
                  <a title="美国MBA：工作经历不再必要" href="http://www.xiaoma.com/zhuanlan/fanqin//20110824/16589.html">美国MBA：工作经历不再必要</a>
                </li>

        </ul>
      </dd>
</dl>
<dl class="b6 right">
	  <dt><span><a href="http://products.xiaoma.com/?source=index_b1x2">更多>></a></span><strong>更多专家专栏</strong></dt>
      <dd class="dd4"> 
	   <ul>
          <li><a href="http://products.xiaoma.com/kyq.html?source=index_b1x2"><img src="http://www.xiaoma.com/templets/default/images/a_68.jpg"></a><span><a href="http://products.xiaoma.com/kyq.html?source=index_b1x2">康宇清</a></span><p><a href="http://products.xiaoma.com/kyq.html?source=index_b1x2">美国工科申请专栏</a></p></li>
          <li><a href="http://products.xiaoma.com/zhanghao.html?source=index_b1x2"><img src="http://www.xiaoma.com/templets/default/images/a_71.jpg"></a><span><a href="http://products.xiaoma.com/zhanghao.html?source=index_b1x2">张昊</a></span><p><a href="http://products.xiaoma.com/zhanghao.html?source=index_b1x2">新浪十佳留学顾问</a></p></li>
          <li><a href="http://products.xiaoma.com/chelin.html?source=index_b1x2"><img src="http://img.xiaoma.com/statics/xiaomaad/cms_detail/zhuanlan3.jpg"></a><span><a href="http://products.xiaoma.com/chelin.html?source=index_b1x2">车琳</a></span><p><a href="http://products.xiaoma.com/chelin.html?source=index_b1x2">美国本、硕双录取专栏</a></p></li>
          <li><a href="http://products.xiaoma.com/ljh.html?source=index_b1x2"><img src="http://img.xiaoma.com/statics/xiaomaad/cms_detail/zhuanlan4.jpg"></a><span><a href="http://products.xiaoma.com/ljh.html?source=index_b1x2">罗建华</a></span><p><a href="http://products.xiaoma.com/ljh.html?source=index_b1x2">美国留学战略规划</a></p></li>
        </ul>
      </dd>
</dl>
</div>
<div class="wh2 right">
<dl class="b4">
      <dt></span><strong>小马动态</strong></dt>
      <dd class="dd1">
        <ul>
          <li><a style="color:red" href="http://products.xiaoma.com/toeflpx.html?source=index_xmdt">精品托福培训班全年滚动招生</a></li>
          <li><a style="color:#9C2900" href="http://products.xiaoma.com/kuaiche.html?source=index_xmdt">留学直通车开班近况</a></li>
          <li><a style="color:#663300" href="http://bbs.xiaoma.com/thread-182033-1-1.html">2011年9~12月托福新题日预测</a></li>
          <li><a style="color:#663300" href="http://products.xiaoma.com/suffolk.html?source=index_xmdt">Suffolk大学进阶课程开始招生！</a></li>
          <li><a href="http://products.xiaoma.com/lally.html?source=index_xmdt">伦斯勒理工lally商学院面试</a></li>
          <li><a href="http://products.xiaoma.com/fthm.html?source=index_xmdt">福特汉姆商学院院长来京面试</a></li>
          <li><a href="http://damenguo.xiaoma.com/guojixinwen/20111012/88348.html">小马过河国际教育招聘公告</a></li>
       </ul>
      </dd>
</dl>
<dl class="b4">
      <dt><span><a href="http://products.xiaoma.com/">更多>></a></span><strong>热门专题</strong></dt>
      <dd class="dd2">
        <ul>
		<li><a href="http://products.xiaoma.com/toeflpx.html?source=index_rmzt"><img src="http://img.xiaoma.com/statics/xiaomaad/index/zhuanti1.jpg"></a><strong><a href="http://products.xiaoma.com/toeflpx.html?source=index_rmzt">1对6精品托福培训班</a></strong>
<p>托福久攻不克？需要高效率的课程...</p>
</li>
<li><a href="http://products.xiaoma.com/kuaiche.html?source=index_rmzt"><img src="http://img.xiaoma.com/statics/xiaomaad/index/zhuanti2.jpg"></a><strong><a href="?source=index_rmzt">美国留学直通车</a></strong>
<p>快速告别托福煎熬，直通美国名校...</p>
</li>
<li><a href="http://products.xiaoma.com/fthm.html?source=index_rmzt"><img src="http://img.xiaoma.com/statics/xiaomaad/index/zhuanti3.jpg"></a><strong><a href="http://products.xiaoma.com/fthm.html?source=index_rmzt">福特汉姆大学商学院</a></strong>
<p>地处纽约的商学院，院长亲自面试...</p>
</li>
<li><a href="http://products.xiaoma.com/lally.html?source=index_rmzt"><img src="http://img.xiaoma.com/statics/xiaomaad/index/zhuanti4.jpg"></a><strong><a href="http://products.xiaoma.com/lally.html?source=index_rmzt">伦斯勒lally商学院</a></strong>
<p>赢取高额奖学金去名校商学院...</p>
</li>
<li><a href="http://products.xiaoma.com/jnd.html?source=index_rmzt"><img src="http://img.xiaoma.com/statics/xiaomaad/index/zhuanti5.jpg"></a><strong><a href="http://products.xiaoma.com/jnd.html?source=index_rmzt">加拿大名校面试在即</a></strong>
<p>面试在即，快找唐晓红老师预约...</p>
</li>
        </ul>
      </dd>
</dl>
</div>
<div class="clear"></div>
<div class="ad1">
<script src='http://www.xiaoma.com/plus/ad_js.php?aid=95' language='javascript'></script>
</div>
<div class="wh5">
 	<ul class="ul1">
<li>
            <a href="http://liuxue.xiaoma.com/liuxuezhishi/20111130/90122.html"><img src='http://www.xiaoma.com/uploads/allimg/111130/6009-111130130S80-L.jpg' border='0' width='65' height='65' alt='出国留学：选校3步曲'></a><strong><a href="http://liuxue.xiaoma.com/liuxuezhishi/20111130/90122.html">出国留学：选校3步曲</a></strong>
            <p>浏览：69<span>11-11-30</span></p>
          </li>
<li>
            <a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111130/90116.html"><img src='http://www.xiaoma.com/uploads/allimg/111130/6009-1111301253490-L.jpg' border='0' width='65' height='65' alt='美国如何筛选理工研究生？'></a><strong><a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111130/90116.html">美国如何筛选理工研究生？</a></strong>
            <p>浏览：69<span>11-11-30</span></p>
          </li>
<li>
            <a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111129/90077.html"><img src='http://www.xiaoma.com/uploads/allimg/111129/6009-1111291935030-L.jpg' border='0' width='65' height='65' alt='美国大学招生面试有哪些忌讳？'></a><strong><a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111129/90077.html">美国大学招生面试有哪些忌讳？</a></strong>
            <p>浏览：133<span>11-11-29</span></p>
          </li>
<li>
            <a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111129/90066.html"><img src='http://www.xiaoma.com/uploads/allimg/111129/6009-1111291633130-L.jpg' border='0' width='65' height='65' alt='留学美国：院校申请专业各有侧重'></a><strong><a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111129/90066.html">留学美国：院校申请专业各有侧重</a></strong>
            <p>浏览：148<span>11-11-29</span></p>
          </li>
<li>
            <a href="http://toefl.xiaoma.com/tuofutingli/20111128/90022.html"><img src='http://www.xiaoma.com/uploads/111128/4782-11112R22531M2.jpg' border='0' width='65' height='65' alt='提高托福听力的三个步骤'></a><strong><a href="http://toefl.xiaoma.com/tuofutingli/20111128/90022.html">提高托福听力的三个步骤</a></strong>
            <p>浏览：160<span>11-11-28</span></p>
          </li>
<li>
            <a href="http://liuxue.xiaoma.com/shenghuo/20111128/90006.html"><img src='http://www.xiaoma.com/uploads/allimg/111128/6009-11112R10K60-L.jpg' border='0' width='65' height='65' alt='留学美国：掌握关键词打动面试官'></a><strong><a href="http://liuxue.xiaoma.com/shenghuo/20111128/90006.html">留学美国：掌握关键词打动面试官</a></strong>
            <p>浏览：159<span>11-11-28</span></p>
          </li>
<li>
            <a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111128/90002.html"><img src='http://www.xiaoma.com/uploads/allimg/111128/6009-11112R051170-L.jpg' border='0' width='65' height='65' alt='留学美国：就业及人才缺口数据解析'></a><strong><a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111128/90002.html">留学美国：就业及人才缺口数据解析</a></strong>
            <p>浏览：200<span>11-11-28</span></p>
          </li>
<li>
            <a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111128/89998.html"><img src='http://www.xiaoma.com/uploads/111128/6009-11112R02FQ40.jpg' border='0' width='65' height='65' alt='如何积攒美国大学本科申请优势？'></a><strong><a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111128/89998.html">如何积攒美国大学本科申请优势？</a></strong>
            <p>浏览：168<span>11-11-28</span></p>
          </li>
<li>
            <a href="http://toefl.xiaoma.com/tuofuyuedu/20111125/89972.html"><img src='http://www.xiaoma.com/uploads/111125/4782-11112523260b35.jpg' border='0' width='65' height='65' alt='防止浪费时间的小技巧'></a><strong><a href="http://toefl.xiaoma.com/tuofuyuedu/20111125/89972.html">防止浪费时间的小技巧</a></strong>
            <p>浏览：173<span>11-11-25</span></p>
          </li>
<li>
            <a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111125/89950.html"><img src='http://www.xiaoma.com/uploads/allimg/111125/6009-111125162G10-L.jpg' border='0' width='65' height='65' alt='留美：大学怎样审核材料？'></a><strong><a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111125/89950.html">留美：大学怎样审核材料？</a></strong>
            <p>浏览：196<span>11-11-25</span></p>
          </li>

	</ul> 
    <div class="b7">
      <dl>
        <dt><span><a href="http://liuxue.xiaoma.com">更多>></a></span><strong>出国留学</strong></dt>
        <dd>
        <ul>
<li><p>11-11-30</p><span>[<a href='http://liuxue.xiaoma.com/liuxuezhishi/'>留学知识</a>]</span><a href="http://liuxue.xiaoma.com/liuxuezhishi/20111130/90126.html">留学生如何在国外保护自己？</a></li>
<li><p>11-11-30</p><span>[<a href='http://liuxue.xiaoma.com/meiguoliuxueshenqing/'>美国留学申请</a>]</span><a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111130/90125.html">申请美国商学院可用GRE代替</a></li>
<li><p>11-11-30</p><span>[<a href='http://liuxue.xiaoma.com/meiguoliuxueshenqing/'>美国留学申请</a>]</span><a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111130/90124.html">留学美国：理工科优势更明显</a></li>
<li><p>11-11-30</p><span>[<a href='http://liuxue.xiaoma.com/meiguoliuxueshenqing/'>美国留学申请</a>]</span><a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111130/90123.html">美国研究生新兴专业</a></li>
<li><p>11-11-30</p><span>[<a href='http://liuxue.xiaoma.com/meiguoliuxueshenqing/'>美国留学申请</a>]</span><a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111130/90121.html">打破常春藤崇拜，寻找最适合你的学校</a></li>
<li><p>11-11-30</p><span>[<a href='http://liuxue.xiaoma.com/meiguoliuxueshenqing/'>美国留学申请</a>]</span><a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111130/90120.html">留美：先要跨过财力、能力2门槛</a></li>
<li><p>11-11-30</p><span>[<a href='http://liuxue.xiaoma.com/meiguoliuxueshenqing/'>美国留学申请</a>]</span><a href="http://liuxue.xiaoma.com/meiguoliuxueshenqing/20111130/90119.html">美国留学方式选择要慎重</a></li>

        </ul>
        </dd>
        <dt><span><a href="http://toefl.xiaoma.com">更多>></a></span><strong>托福|TOEFL</strong></dt>
        <dd>
        <ul>
<li><p>11-11-28</p><span>[<a href='http://toefl.xiaoma.com/tuofukouyu/'>托福口语</a>]</span><a href="http://toefl.xiaoma.com/tuofukouyu/20111128/90034.html">托福考试：托福口语评分标准有哪些</a></li>
<li><p>11-11-28</p><span>[<a href='http://toefl.xiaoma.com/tuofukouyu/'>托福口语</a>]</span><a href="http://toefl.xiaoma.com/tuofukouyu/20111128/90033.html">托福考试：5个托福口语高分分类模板</a></li>
<li><p>11-11-28</p><span>[<a href='http://toefl.xiaoma.com/tuofuyuedu/'>托福阅读</a>]</span><a href="http://toefl.xiaoma.com/tuofuyuedu/20111128/90032.html">新托福阅读考试中的陷阱定位</a></li>
<li><p>11-11-28</p><span>[<a href='http://toefl.xiaoma.com/tuofuyuedu/'>托福阅读</a>]</span><a href="http://toefl.xiaoma.com/tuofuyuedu/20111128/90031.html">新托福阅读考试中的陷阱隐藏方向</a></li>
<li><p>11-11-28</p><span>[<a href='http://toefl.xiaoma.com/tuofuyuedu/'>托福阅读</a>]</span><a href="http://toefl.xiaoma.com/tuofuyuedu/20111128/90030.html">托福阅读排除题</a></li>
<li><p>11-11-28</p><span>[<a href='http://toefl.xiaoma.com/tuofuyuedu/'>托福阅读</a>]</span><a href="http://toefl.xiaoma.com/tuofuyuedu/20111128/90029.html">新托福阅读考试核心词汇总结</a></li>
<li><p>11-11-28</p><span>[<a href='http://toefl.xiaoma.com/tuofuyuedu/'>托福阅读</a>]</span><a href="http://toefl.xiaoma.com/tuofuyuedu/20111128/90028.html">托福阅读细节题</a></li>

        </ul>
        </dd>
        <dt><span><a href="http://ielts.xiaoma.com">更多>></a></span><strong>雅思|IELTS</strong></dt>
        <dd>
        <ul>
<li><p>11-11-30</p><span>[<a href='http://ielts.xiaoma.com/yasixiezuo/'>雅思写作</a>]</span><a href="http://ielts.xiaoma.com/yasixiezuo/20111130/90105.html">怎样写好雅思大作文？</a></li>
<li><p>11-11-30</p><span>[<a href='http://ielts.xiaoma.com/yasixiezuo/'>雅思写作</a>]</span><a href="http://ielts.xiaoma.com/yasixiezuo/20111130/90104.html">雅思写作：名人名言会有用吗？</a></li>
<li><p>11-11-30</p><span>[<a href='http://ielts.xiaoma.com/beikaocelue/'>备考策略</a>]</span><a href="http://ielts.xiaoma.com/beikaocelue/20111130/90103.html">雅思考试分类词汇：机场</a></li>
<li><p>11-11-30</p><span>[<a href='http://ielts.xiaoma.com/beikaocelue/'>备考策略</a>]</span><a href="http://ielts.xiaoma.com/beikaocelue/20111130/90102.html">雅思单词备考高分规律总结</a></li>
<li><p>11-11-30</p><span>[<a href='http://ielts.xiaoma.com/beikaocelue/'>备考策略</a>]</span><a href="http://ielts.xiaoma.com/beikaocelue/20111130/90101.html">破除雅思背单词难的魔咒</a></li>
<li><p>11-11-30</p><span>[<a href='http://ielts.xiaoma.com/yasixiezuo/'>雅思写作</a>]</span><a href="http://ielts.xiaoma.com/yasixiezuo/20111130/90100.html">25个雅思写作必备词汇</a></li>
<li><p>11-11-30</p><span>[<a href='http://ielts.xiaoma.com/beikaocelue/'>备考策略</a>]</span><a href="http://ielts.xiaoma.com/beikaocelue/20111130/90099.html">怎样才能炼好雅思词汇内功？</a></li>

        </ul>
        </dd>
        <dt><span><a href="http://sat.xiaoma.com">更多>></a></span><strong>SAT SSAT</strong></dt>
        <dd>
        <ul>
<li><p>11-11-28</p><span>[<a href='http://sat.xiaoma.com/SATxiezuo/'>SAT写作</a>]</span><a href="http://sat.xiaoma.com/SATxiezuo/20111128/90037.html">SAT官方每日一题11月26日：Writing</a></li>
<li><p>11-11-28</p><span>[<a href='http://sat.xiaoma.com/SATshuxue/'>SAT数学</a>]</span><a href="http://sat.xiaoma.com/SATshuxue/20111128/90036.html">SAT官方每日一题11月27日：Mathematics</a></li>
<li><p>11-11-28</p><span>[<a href='http://sat.xiaoma.com/SATyuedu/'>SAT阅读</a>]</span><a href="http://sat.xiaoma.com/SATyuedu/20111128/90035.html">SAT官方每日一题11月28日： Critical Reading</a></li>
<li><p>11-11-25</p><span>[<a href='http://sat.xiaoma.com/SATshuxue/'>SAT数学</a>]</span><a href="http://sat.xiaoma.com/SATshuxue/20111125/89979.html">SAT官方每日一题11月24日：Mathematics</a></li>
<li><p>11-11-25</p><span>[<a href='http://sat.xiaoma.com/SATyuedu/'>SAT阅读</a>]</span><a href="http://sat.xiaoma.com/SATyuedu/20111125/89978.html">SAT官方每日一题11月25日： Critical Reading</a></li>
<li><p>11-11-23</p><span>[<a href='http://sat.xiaoma.com/SATxiezuo/'>SAT写作</a>]</span><a href="http://sat.xiaoma.com/SATxiezuo/20111123/89875.html">SAT官方每日一题11月23日：Writing</a></li>
<li><p>11-11-22</p><span>[<a href='http://sat.xiaoma.com/SATyuedu/'>SAT阅读</a>]</span><a href="http://sat.xiaoma.com/SATyuedu/20111122/89816.html">SAT官方每日一题11月22日： Critical Reading</a></li>

        </ul>
        </dd>
       </dl>
    </div>
</div>
<div class="wh2 right">
<dl class="b4">
      <dt><strong>精彩视频</strong></dt>
      <dd class="dd1 dd6">
<script src='http://www.xiaoma.com/plus/ad_js.php?aid=91' language='javascript'></script>
      </dd>
</dl>

<dl class="b4">
      <dt><span><a href="http://huodong.xiaoma.com/">更多>></a></span><strong>热门活动</strong></dt>
      <dd class="dd1 dd6 ldr3">
        <ul>
		<script type="text/javascript" src="http://bbs.xiaoma.com/api.php?mod=js&bid=288"></script>
        </ul>
      </dd>
</dl>
<dl class="b9">
      <dt><strong>专家答疑</strong><span>Expert Q & A</span></dt>
      <dd>
        <ul>
<script src='http://www.xiaoma.com/plus/ad_js.php?aid=92' language='javascript'></script>
        </ul>
        <p class="p1">如果您有留学方面的疑问，请填写下面的表格，我们会请留学专家在1-2个工作日内为您答疑。</p>
        <ol class="ul4">
<form onsubmit="return validate_form(this)" id="new_apply" method="post" action="/baomings" accept-charset="UTF-8" class="wybm-bottom">
          <li><span>姓  名：</span><p><input class="t1" type="text" name="name" id="name" /></p></li>
          <li><span>E-mail：</span><p><input class="t1" type="text" name="email" id="email" /></p></li>
          <li><span>手  机：</span><p><input class="t1" type="text" name="telnum" id="telnum" /></p></li>
          <li><span>答  疑：</span><p><textarea class="t2" cols="" rows=""></textarea></p></li>
		  <input type="hidden" name="campaign" value="www">
		  <input type="hidden" name="flag" value="1">
          <li class="but2"><input name="" type="submit" value="提 交" /><input name="" type="button" value="重 置" /></li>
</form>
        </ol>
      </dd>
</dl>
</div>
<div class="clear"></div>
<div class="ad1">
<script src='http://www.xiaoma.com/plus/ad_js.php?aid=96' language='javascript'></script>
</div>
<div class="wh2 left">
<dl class="b4">
      <dt><strong>小马过河论坛精华</strong></dt>
      <dd class="dd1">
      <div class="b10">
        <script type="text/javascript" src="http://bbs.xiaoma.com/api.php?mod=js&bid=289"></script>
        </div>
        <ul>
<script type="text/javascript" src="http://bbs.xiaoma.com/api.php?mod=js&bid=290"></script>
        </ul>
      </dd>
</dl>
<script src='http://www.xiaoma.com/plus/ad_js.php?aid=98' language='javascript'></script>
</div>
<div class="b11">
  <div class="box1">
    <strong><a href="#">最新下载</a></strong>
<div class="ldr1">
    <ul>
<% @free_dl.each do |hot_dl| %>
<li>
<a target="_blank" href="http://dl.xiaoma.com/<%= hot_dl.id %>" title="<%= hot_dl.name %>"><%= hot_dl.name %></a>
</li>
<% end %>
     </ul>
</div>
    <script src='http://www.xiaoma.com/plus/ad_js.php?aid=97' language='javascript'></script>
    <strong><a href="#">热门下载</a></strong>
<div class="ldr2">
    <ul>
<% @week_hot.each do |hot_dl| %>
<li>
<a target="_blank" href="http://dl.xiaoma.com/<%= hot_dl.id %>" title="<%= hot_dl.name %>"><%= hot_dl.name %></a>
</li>
<% end %>
     </ul>
</div>
    </div>
  <div class="box2">
  <strong><a href="#">最新问答</a></strong>
    <ul>
<% @new_asks.each do |new_ask| %>
<li>
<a target="_blank" href="http://asks.xiaoma.com/<%= new_ask.id %>" title="<%= new_ask.title %>"><%= new_ask.title %></a>
</li>
<% end %>
     </ul>
     <strong><a href="#">已解决的问题</a></strong>
    <ul>
<% @solved_asks.each do |new_ask| %>
<li>
<a target="_blank" href="http://asks.xiaoma.com/<%= new_ask.id %>" title="<%= new_ask.title %>"><%= new_ask.title %></a>
</li>
<% end %>
     </ul>
  </div>
</div>
<div class="wh2 right">

<dl class="b4">
<iframe width="240" height="416" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=240&height=416&fansRow=2&ptype=0&speed=0&skin=-1&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=2082030907&verifier=5eaa3b69&colors=f5ded4,ffffff,666666,0082cb,fff7e9&dpc=1"></iframe>
</dl>
</div>
<div class="clear"></div>
<dl class="links">
  <dt>友情链接</dt>
  <dd>

<li><a href='http://bbs.xiaoma.com' target='_blank'>小马过河论坛</a> </li><li><a href='http://www.ebigear.com' target='_blank'>大耳朵英语</a> </li><li><a href='http://www.ieltschn.com/' target='_blank'>雅思</a> </li><li><a href='http://www.171english.cn' target='_blank'>给力英语网</a> </li><li><a href='http://ts.hjenglish.com' target='_blank'>新概念英语</a> </li><li><a href='http://www.bangexam.com' target='_blank'>帮考网</a> </li><li><a href='http://www.xuenaer.com/' target='_blank'>学哪儿留学网</a> </li><li><a href='http://sz.szhk.com' target='_blank'>深圳美食</a> </li><li><a href='http://www.tingvoa.com' target='_blank'>voa在线收听</a> </li><li><a href='http://www.cyedu.org' target='_blank'>会计从业考试</a> </li>

  </dd>
</dl>
<script language="Javascript">
function validate_required(field,alerttxt)
{
with (field)
  {
  if (value==null||value=="")
    {alert(alerttxt);return false}
  else {return true}
  }
}
function chMobilePhone(field,alerttxt)
 {
	with (field)
	var length = value.length;
	var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
	{
	if (length == 11 && mobile.test(field.value))
		{return true}
	else {alert(alerttxt);return false}
	}
 }
function validate_form(thisform)
{
with (thisform)
  {
  if (validate_required(name,"请填写姓名!")==false)
    {name.focus();return false}
  if (chMobilePhone(telnum,"请填写正确的手机号码!")==false)
    {telnum.focus();return false}
  }
}
</script>
</div>
<!-- wrap end -->
<!-- footer begin --> 
<dl id="footer">
  <dt><a href="http://www.xiaoma.com/help/about.html">关于我们</a>
  <a href="http://space.xiaoma.com/home-space-uid-1-do-blog-view-me-from-space.html">官方日志</a>
  <a href="http://www.xiaoma.com/help/lxwm.html">联系我们</a>
  <a href="http://www.xiaoma.com/help/cpyc.html">诚聘英才</a>
  <a href="http://www.xiaoma.com/help/wzsm.html">网站声明</a>
  <a href="http://www.xiaoma.com/help/qqqlm.html">QQ联盟</a>
  <a href="http://www.xiaoma.com/help/bzzx.html">帮助中心</a></dt>
  <dd> 
  小马留学网<br />
经营许可证编号：京ICP备09050588号<br />
版权所有 2005-2011 www.xiaoma.com All Rights Reserved 本站保留所有权利，未经许可，不得转载</dd>
</dl>
<!-- footer end --> 
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18258123-1']);
  _gaq.push(['_setDomainName', '.xiaoma.com']);
  _gaq.push(['_setAllowHash', false]);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_addOrganic', 'soso', 'w']);
  _gaq.push(['_addOrganic', 'yodao', 'q']);
  _gaq.push(['_addOrganic', 'sogou', 'query']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F587382c4d54e1718065b371cf59fd0a8' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stat.test.916xue.com/" : "http://stat.test.916xue.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.setCookieDomain('*.xiaoma.com');
piwikTracker.setDomains('*.xiaoma.com');
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stat.test.916xue.com/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</body>
</html>
