<% content_for :head do %>
<title>小马留学网-有奖问卷调查</title>
<meta name="keywords" content="小马留学网 有奖问卷调查" />
<meta name="description" content="小马留学网 有奖问卷调查" />
<%= javascript_include_tag 'WdatePicker' %>
<%= javascript_include_tag 'editor/kindeditor-min'%>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/localization/messages_cn.js"></script>
<script language="Javascript">
	$(document).ready(function(){
	  jQuery.validator.addMethod("isMobile", function(value, element) {
	    var length = value.length;
	    var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
	    return this.optional(element) || (length == 11 && mobile.test(value));
	  }, "请正确填写您的手机号码");
    $("#new_questionnaire").validate(
      {
        rules: {
          "questionnaire[name]": {
             required: true,
             maxlength: 64
           },
          "questionnaire[telnum]": {
             required: true,
             isMobile: true
           },
          "questionnaire[school]": {
             required: true,
             maxlength: 128
           },
          "questionnaire[subject]": {
             required: true,
             maxlength: 128
           }
         },
         messages: {
           "questionnaire[name]": {
             required: "请正确填写您的姓名"
            },
            "questionnaire[school]": {
             required: "请正确填写您想申请的学校"
            },
            "questionnaire[telnum]": {
             required: "请正确填写您的手机号码",
             isMobile: "请正确填写您的手机号码"
            },
            "questionnaire[subject]": {
             required: "请正确填写您想申请的专业"
            }
         }
      }
    );
  });
</script>
<% end %>

		<div class="container">
			<div class="page_path">
			<a href="<%= XMAPP_MAIN_DOMAIN_URL %>">首页</a> &gt;&gt; 有奖问卷调查
			</div><!-- .page_path -->
			<div class="page_title"><h1>有奖问卷调查</h1></div>
			<div class="form_container">
				<div class="form_desc">1.填写表单 -> 2.点击提交 -> 3.完成问卷调查</div><!-- .form_desc -->

				<div class="form_left">
				<%= form_for(@questionnaire) do |f| %>

					<div class="yuyue_form">
						<%= f.label :name, "姓名" %>
						<%= f.text_field :name %>
					</div><div class="clear"></div>
					<div class="form_tips">请填写您的姓名</div>
					<div class="yuyue_form">
						<%= f.label :age, "年龄"%>
						<%= select_tag(:age,  options_for_select( (12..60).collect {|i| [i.to_s, i.to_s] } , "16") ) %>
					</div><div class="clear"></div>
					<div class="form_tips">请填您的年龄</div>
					<div class="yuyue_form">
						<%= f.label :gender, "性别"%>
						<select id="gender" name="questionnaire[gender]">
            <option value="1" selected="selected">男</option>
            <option value="2">女</option>
          </select>
					</div><div class="clear"></div>
					<div class="form_tips">请填您的性别</div>
					<div class="yuyue_form">
						<%= f.label :liuxue_plan, "计划几年内出国"%>
						<select id="liuxue_plan" name="questionnaire[liuxue_plan]">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">5年以后</option>
          </select>
					</div><div class="clear"></div>
					<div class="form_tips">请填写您计划在几年内出国</div>

					<div class="yuyue_form">
						<%= f.label :school, "想申请的学校"%>
						<%= f.text_field :school %>
					</div><div class="clear"></div>
					<div class="form_tips">请填写您未来想申请的学校</div>
					<div class="yuyue_form">
						<%= f.label :subject, "想学的专业"%>
						<%= f.text_field :subject %>
					</div><div class="clear"></div>
					<div class="form_tips">请填写您想学习的专业</div>
					<div class="yuyue_form">
						<%= f.label :telnum, "手机号码"%>
						<%= f.text_field :telnum %>
					</div><div class="clear"></div>
					<div class="form_tips">请填写您的手机号码,只在公布奖品的时候用到</div>

					<div id="form_submit">
						<input id="campaign_submit" name="commit" type="submit" value="提交问卷">
					</div>
					<div class="clear"></div>


				<% end %>
				</div><!-- .form_left -->

				<div class="form_right">
					<h3>小马网有奖问卷调查活动</h3>
					<p>简单填写一下您的学习情况</p>
					<p>参与此调查有机会赢取大奖</p>
				</div><!-- .form_right -->
			</div><!-- .form_container -->
		</div><!-- #content_container -->
		<div class="clear"></div>

