<% content_for :head do %>
<title>小马过河-所有专题的索引</title>

<%= stylesheet_link_tag "global" %>
<%= stylesheet_link_tag "index" %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<% end %>

		<div class="container">
		    <div class="page_path">
			  <a href="/xmadmin">后台</a> &gt;&gt; <a href="/xmadmin/searches">专题索引</a> &gt;&gt; 全部
			  </div><!-- .page_path -->
			  <div class="page_title"><h1>所有索引的专题</h1> <a href="/xmadmin/searches/refresh">强制刷新索引</a></div>
			<div class="main_admin fl">
				<div>
          <% if flash[:message] %>
          <div class="submit_message"><%= flash[:message] %></div><!-- .message -->
          <% end %>
          <% if flash[:error] %>
          <div class="submit_error"><%= flash[:error] %></div><!-- .error -->
          <% end %>
					<table class="main_grid">
					  <thead>
						<tr>
						  <td width="220">标题</td>
						  <td width="80">活动</td>
							<td width="200">地址</td>
							<td width="320">描述</td>
							<td width="80">操作</td>
						</tr>
					  </thead>
					  <tbody>
             <% @zhaunti_indexs.each do |zhuanti| %>
             <tr onmouseout="$(this).removeClass('mouse_over');" onmouseover="$(this).addClass('mouse_over');" class="">
							  <td ><a title="<%= zhuanti.title %>" href="/xmadmin/searches/<%= zhuanti.id %>"><%= zhuanti.title %></a></td>
							  <td ><%= zhuanti.campaign %></td>
							  <td ><%= zhuanti.url %></td>

							  <td><%= zhuanti.content_desc %></td>
							  <td>
							  <a onclick="if (confirm('确定删除?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var at = document.createElement('input'); at.setAttribute('type', 'hidden'); at.setAttribute('name', 'authenticity_token'); at.setAttribute('value', '#{form_authenticity_token}'); f.appendChild(at);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var fl = document.createElement('input'); fl.setAttribute('type', 'hidden'); fl.setAttribute('name', 'ispass'); fl.setAttribute('value','1'); f.appendChild(fl);f.submit(); };return false;" href="/xmadmin/searches/<%= zhuanti.id %>">删除</a>
							  </td>
						  </tr>
             <% end %>
					  </tbody>
					</table>


				</div>
				<div class="clear"></div>
				<div class="will_pagination">
					<%=h will_paginate @zhaunti_indexs, :previous_label => '上一页',  :next_label => '下一页'%>
				</div>
			</div>

			<div class="clear"></div>
		</div><!-- #container -->

