	<% content_for :head do %>
<title>小马留学网-讲座活动</title>
<meta name="description" content="小马过河 公益讲座活动">
<meta name="keywords" content="小马过河 公益讲座活动">
<%= stylesheet_link_tag "global" %>
<%= stylesheet_link_tag "index" %>
<% end %>
		<div class="container">
			<div class="page_path">
			<a href="/">首页</a> &gt;&gt; <a href="#" title="">讲座活动</a>
			</div><!-- .page_path -->
			<div class="page_title"><h1>讲座活动信息列表</h1></div>
			<div class="list_container">


				<div class="list_left">
				<% if not @messages_rendered -%>
					<% if flash[:message] %>
					<div class="submit_message"><%= flash[:message] %></div><!-- .message -->
					<% end %>
					<% if flash[:error] %>
					<div class="submit_error"><%= flash[:error] %></div><!-- .error -->
					<% end %>
				<% end -%>
					<% @campaigns.each do |campaign| %>
					<div class="list_line">
						<h3><%= link_to campaign.name, campaign %></h3>
						<div><label>时间:</label> <%= campaign.start_date.strftime('%Y-%m-%d %H:%M') %><label>&nbsp;&nbsp;地点:</label> <%= campaign.addr %></div>
					</div>
					<% end %>

				</div><!-- .list_left -->

				<div class="list_right">
				<!-- JiaThis Button BEGIN -->
<div id="ckepop">
	<a href="http://www.jiathis.com/share/?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_kaixin001"></a>
	<a class="jiathis_button_renren"></a>
</div>
<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
<!-- JiaThis Button END -->
					<h3>这里发布所有考试和留学的一些公益讲座信息</h3>
					<p>任何人都可以申请参加列表里的讲座活动</p>
					<p>更多详细信息点击标题到讲座活动的详细信息页查看</p>
					<h2 class="subject">留学推荐</h2>
				<script src='http://www.xiaoma.com/plus/ad_js.php?aid=84' language='javascript'></script>
				<div class="clear"></div>
				<h2 class="subject">热点文章</h2>
				<script src='http://www.xiaoma.com/plus/ad_js.php?aid=85' language='javascript'></script>
				<div class="clear"></div>
				<h2 class="subject">论坛精华</h2>
				<script type="text/javascript" src="http://bbs.xiaoma.com/api.php?mod=js&bid=286"></script>
				<div class="clear"></div>
					<script src='http://www.xiaoma.com/plus/ad_js.php?aid=16' language='javascript'></script>
				</div><!-- .list_right -->
			</div><!-- .list_container -->
		</div><!-- #content_container -->
		<div class="clear"></div>

