<% content_for :head do %>
<title>小马留学网-线下活动和讲座 <%= @campaign.name%></title>
<meta name="description" content="线下活动和讲座 <%= @campaign.name%>" />
<meta name="keywords" content="小马留学网 线下活动和讲座 <%= @campaign.name%>" />
<% end %>

		<div class="container">
			<div class="page_path">
			<a href="/">首页</a> &gt;&gt; <%= link_to '讲座', campaigns_path %> &gt;&gt;  <%= @campaign.name %>
			</div><!-- .page_path -->
			<div class="page_title"><h1><%= @campaign.name %></h1></div>

			<div class="form_info_container">
				<div class="form_info_desc"><%= @campaign.name %>的详细信息</div><!-- .form_desc -->
				<div class="form_info_left">
				  <div>
				  <p>
						<input type="button" class="shenqing_huodong"  onclick="location.href='<%= XMAPP_MAIN_DOMAIN_URL %>/campaigns/<%= @campaign.id%>/applies/new'">
					</p>
				  </div>
					<div><%= link_to '申请参与此次活动', new_campaign_apply_path(@campaign) , :class => "red" %></div>
					<p><label>讲座名称:</label><%= @campaign.name %></p>
					<p><label>讲座标题:</label> <%= @campaign.title %></p>
					<p><label>讲座地址:</label><%= @campaign.addr %></p>
					<p><label>讲座日期:</label> <%= @campaign.start_date.strftime('%Y-%m-%d %H:%M') %></p>
					<p><label>讲座内容:</label></p>
					<p>
					<%= raw @campaign.desc_content%>
					</p>



				</div><!-- .form_info_left -->

				<div class="form_info_right">
				<!-- JiaThis Button BEGIN -->
<div id="ckepop">
	<a href="http://www.jiathis.com/share/?uid=1502974" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_kaixin001"></a>
	<a class="jiathis_button_renren"></a>
</div>
<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js?uid=1502974" charset="utf-8"></script>
<!-- JiaThis Button END -->
					<h3>查看详细讲座信息</h3>
					<p></p>
					<p>预约参加此讲座活动请点击左侧的"申请参与此次活动"</p>
				</div><!-- .form_right -->
			</div><!-- .form_info_container -->
		</div><!-- #content_container -->
		<div class="clear"></div>

