<% content_for :head do %>
<title>小马留学网-下载文件-<%= @dl_attachment.originname %></title>
<meta name="description" content="下载<%= @dl_attachment.originname %>" />
<meta name="keywords" content="小马留学网 英语 学习资料 下载" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<%= javascript_include_tag 'jqModal' %>
<%= stylesheet_link_tag "jqModal" %>
<script type="text/javascript">
$(document).ready(function() {
  $('#dialog').jqm();
  //$('#dialog').jqmShow();
});
</script>
<% end %>
<div class="jqmWindow" id="dialog">

	<a href="#" class="jqmClose">关闭对话框</a>
	<hr>
	<h3>警告</h3>
	由为了保证下载速度,本站封杀一切p2p技术和下载软件,<span style="color:red;">禁止迅雷,快车,旋风等等下载软件</span>,并且不支持sogou浏览器和IE6,请使用IE7以上版本,推荐火狐和google浏览器经过严格测试正常点击下载非常流畅,
	<a href="http://www.xiaoma.com/dl">老版小马过河下载</a>将于9月份关闭,并且即日起不在提供任何下载服务,我们会尽快将原来的内容转移到这里
	<br /><br />
	关于积分和金币请用户请仔细阅读<a href="http://bbs.xiaoma.com/thread-155879-1-1.html">小马过河论坛使用规则</a></h5>
	<br /><br />
	感谢长期以来大家对小马过河的一贯支持,我们会不断完善我们的服务,给大家提供一个良好的学习环境,问题请留言到<a href="http://space.xiaoma.com/home-space-uid-1-do-blog-id-8618.html">小马过河官方博客</a>
</div>


		<div class="container">
		<script src='http://www.xiaoma.com/plus/ad_js.php?aid=46' language='javascript'></script>
			<div class="page_path">
				<a href="<%= XMAPP_MAIN_DOMAIN_URL %>">首页</a> &gt;&gt; <a href="<%= XMAPP_MAIN_DOMAIN_URL %>/dl">资源下载</a> &gt;&gt; 下载文件 <%= @dl_attachment.originname %>
			</div><!-- .page_path -->
			<div class="page_title">
				<h1>
					下载 <%= @dl_attachment.originname%>
				</h1>
			</div>
			<div class="form_container empty_list">

				<div class="form_left">
				<!--
				<%= form_tag(downloads_attachments_path, :method => "post", :validate => true) do%>
					<% if flash[:message] %>
					<div class="submit_message"><%= flash[:message] %></div>
					<% end %>
					<% if flash[:error] %>
					<div class="submit_error"><%= flash[:error] %></div>
					<% end %>
					<%= hidden_field_tag(:attachment_id, @dl_attachment.id) %>
					<div class="global_form">
						<%= show_simple_captcha(:label => "请输入验证码") %>
					</div>

					<div class="form_tips">提示:重复下载不会重复扣除金币</div>
					<div class="form_tips">注意:本下载经验证不支持sogou浏览器和IE6,请使用IE7以上版本,推荐火狐和google浏览器</div>
					<div class="form_tips">本次下载将要扣除<%= @dl_thread.gold %>个金币,关于金币的获取和使用的更多帮助请访问<a href="http://bbs.xiaoma.com/thread-155879-1-1.html">小马过河论坛使用规则</a></div>


					<div id="form_submit">
						<input id="campaign_submit" class="download" name="commit" type="submit" value="">
					</div>
					-->
					<!--
					<p>
					<em>尊敬的小马用户,目前由于下载用户上万,导致服务器瘫痪,目前正在抢修中......</em>
					</p>
					-->
					<script src='http://www.xiaoma.com/plus/ad_js.php?aid=47' language='javascript'></script>
					<div class="clear"></div>

				<% end %>
				</div><!-- .form_left -->

				<div class="form_right">
					<div class="user_upload">
						<p>
							<input type="button" class="upload_img"  onclick="location.href='<%= XMAPP_MAIN_DOMAIN_URL %>/downloads/dl_threads/new'">
						</p>
					</div>
					<div>
						<p>
							<h5><a href="<%= XMAPP_MAIN_DOMAIN_URL %>/manage/uploads">管理我的上传</a></h5>
						</p>
					</div>
					<h2 class="subject">留学推荐</h2>
				<script src='http://www.xiaoma.com/plus/ad_js.php?aid=84' language='javascript'></script>
				<div class="clear"></div>
				<h2 class="subject">热点文章</h2>
				<script src='http://www.xiaoma.com/plus/ad_js.php?aid=85' language='javascript'></script>
				<div class="clear"></div>
				<h2 class="subject">论坛精华</h2>
				<script type="text/javascript" src="http://bbs.xiaoma.com/api.php?mod=js&bid=286"></script>
				<div class="clear"></div>
					<script src='http://www.xiaoma.com/plus/ad_js.php?aid=15' language='javascript'></script>
					<h5>我当前的金币为:<%= @extcredits.extcredits6%></h5>
					<h5><a href="/i_want_credits" target="_blank"><em>金币不够?来赚取吧</em></a></h5>
					<div class="user_upload">
						<p>
							<input type="button" class="credits_img"  onclick="location.href='<%= XMAPP_MAIN_DOMAIN_URL %>/i_want_credits'">
						</p>
					</div>
					<p>
						由于下载人数众多,服务器压力过大,我们将下载改为需要扣除金币的方式,金币是小马过河的唯一虚拟货币,获取金币的方式有很多,在论坛的帮助里有详细介绍,具体请<a href="http://bbs.xiaoma.com/thread-155879-1-1.html">点击查看</a>
					</p>
				</div>
				</div><!-- .form_right -->
			</div><!-- .form_container -->
		</div><!-- #content_container -->
		<div class="clear"></div>

