<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		
		<title>托福 IBT GRE SAT 留学 出国 写作 听力 美国高中 名校 学习资料 免费下载 - 最棒的英语学习社区</title>
		<%= stylesheet_link_tag "apps" %>
		<%= stylesheet_link_tag "common" %>
		<%= csrf_meta_tag %>
	</head>
<body>
	<div id="top-header">
		<div id="top_bar">
			<div class="fl">
				<a href="http://www.xiaoma.com">小马过河</a>&nbsp|&nbsp
				<a href="http://www.xiaoma.com">首页</a>
			</div>
			<div class="fr">
				<% if session[:login_user] %>
				欢迎您&nbsp|&nbsp<%= session[:login_user].username %>&nbsp|&nbsp
				<%= link_to '退出', logout_url %>&nbsp|&nbsp
				<% else %>
				<%= link_to '登录', login_url %>&nbsp|&nbsp
				<a href="http://www.xiaoma.com">注册</a>&nbsp|&nbsp
				<% end %>
				
				<a href="http://www.xiaoma.com">帮助</a>&nbsp|&nbsp
				<a href="http://www.xiaoma.com">设为首页</a>&nbsp|&nbsp
				<a href="http://www.xiaoma.com">收藏</a>
			</div>
		</div><!-- #top_bar -->	
		<div class="header">
			<div id="head_center">
				<a class="logo" href="http://www.xiaoma.com"></a>
				<div class="setlink fl">
					<dl class="nav_list fl">
						<dt>
							<a href="http://www.xiaoma.com">论坛</a>
						</dt>
						<dd>
							<a href="http://www.xiaoma.com">托福</a>
							<a href="http://www.xiaoma.com">雅思</a>
							<a href="http://www.xiaoma.com">托福</a>
							<a href="http://www.xiaoma.com">雅思</a>
							<br/>
							<a href="http://www.xiaoma.com">雅思</a>
							<a href="http://www.xiaoma.com">托福</a>
							<a href="http://www.xiaoma.com">雅思</a>
							<a href="http://www.xiaoma.com">雅思</a>
						</dd>
						
					</dl>
					<dl class="nav_list fl">
						<dt>
							<a href="http://www.xiaoma.com"><strong>论坛</strong></a>
						</dt>
						<dd>
							<a href="http://www.xiaoma.com">托福</a>
							<a href="http://www.xiaoma.com">雅思</a>
							<a href="http://www.xiaoma.com">托福</a>
							<a href="http://www.xiaoma.com">雅思</a>
							<br/>
							<a href="http://www.xiaoma.com">雅思</a>
							<a href="http://www.xiaoma.com">托福</a>
							<a href="http://www.xiaoma.com">雅思</a>
							<a href="http://www.xiaoma.com">雅思</a>
						</dd>
						
					</dl>
				</div>
			</div><!-- #head_center -->			
		</div><!-- .header -->
		<div class="clear"></div>
		<ul id="mainMenu" class="roundedLarge">
			<li class="current"><a href="http://www.xiaoma.com/">首页</a></li>
			<li><a href="http://www.xiaoma.com/category/appicons/">雅思</a></li>
			<li><a href="http://www.xiaoma.com/category/appinterfaces/">托福</a></li>
			<li><a href="http://www.xiaoma.com/category/appwebsites/">GRE</a></li>
			<li><a href="http://www.xiaoma.com/category/resources/">SAT</a></li>
			<li><a href="http://www.xiaoma.com/category/giveaways/">出国留学</a></li>
			<li><a href="http://www.xiaoma.com/category/top/">大闷锅</a></li>
			<li class="fr" id="submitLink"><a href="http://www.xiaoma.com/submit/" class="modal cboxElement">问答</a></li>
			<li class="fr"><a href="http://www.xiaoma.com/contact/" class="modal cboxElement">背单词</a></li>
			<li class="fr" id="submitLink"><a href="http://www.xiaoma.com/submit/" class="modal cboxElement">空间</a></li>
			<li class="fr" id="submitLink"><a href="http://www.xiaoma.com/submit/" class="modal cboxElement">论坛</a></li>
		</ul>
	</div><!-- #top-header -->
	
	<div class="clear"></div>
	<div id="wrap_xiaoma_form" class="container">
	<%= yield %>
	</div><!-- #wrap_xiaoma_form .container-->
	<div class="clear"></div>
	
	<div class="footer">
		<div class="container">
			<div class="friends-title">
				<a href="http://www.xiaoma.com">友情链接</a>
			</div>
			<div class="friends-link">
				<ul>	
					<li class="friends_first"><a href="http://www.xiaoma.com">小马过河论坛</a></li>
					<li><a href="http://www.xiaoma.com">雅思</a></li>
					<li><a href="http://www.xiaoma.com">英语四六级考试</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">小马过河论坛</a></li>
					<li><a href="http://www.xiaoma.com">英语四六级考试</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">小马过河论坛</a></li>
					<li><a href="http://www.xiaoma.com">英语四六级考试</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">小马过河论坛</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">小马过河论坛</a></li>
					<li><a href="http://www.xiaoma.com">英语四六级考试</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">小马过河论坛</a></li>
					<li><a href="http://www.xiaoma.com">英语四六级考试</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">小马过河论坛</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">小马过河论坛</a></li>
					<li><a href="http://www.xiaoma.com">英语四六级考试</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">小马过河论坛</a></li>
					<li><a href="http://www.xiaoma.com">英语四六级考试</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">托福</a></li>
					<li><a href="http://www.xiaoma.com">小马过河论坛</a></li>
				</ul>
			</div><!-- .friends-link-->
			<div class="clear"></div>
			<div class="copyright-link">
				<ul>	
					<li><a href="http://www.xiaoma.com">联系我们</a></li>
					<li><a href="http://www.xiaoma.com">关于我们</a></li>
					<li><a href="http://www.xiaoma.com">帮助中心</a></li>
					<li><a href="http://www.xiaoma.com">网站地图</a></li>
					<li><a href="http://www.xiaoma.com">诚聘英才</a></li>
					<li><a href="http://www.xiaoma.com">服务条款</a></li>
				</ul>
			</div><!-- .copyright-link -->
			<div class="clear"></div>
			<p>
				小马过河(北京)国际教育咨询有限公司
			</p>
			<p>
				经营许可证编号：京ICP备05067667 | 京ICP证060601号 | 京公安备1101084985
			</p>
			<p>
				版权所有 ? 2005-2010 小马XXXXX All Rights Reserved
			</p>
		</div><!-- .container-->
		<div class="clear"></div>
	</div><!-- .footer -->
</body>
</html>
