<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/dzstyle/css/common.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/dzstyle/css/top.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/dzstyle/css/Download.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/dzstyle/css/asksPage.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/dzstyle/css/Bottom.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://img.xiaoma.com/js/jquery_1.7.1.min.js"></script> 
<script type="text/javascript" src="/dzstyle/js/common.js"></script>
<script type="text/javascript" src="/dzstyle/js/asakPage.js"></script>
<%= yield :head %>
<%= csrf_meta_tag %>

</head>

<body>
<div class="MainDiv">
	<!--   头部   -->
	<div class="Top_top">
    	<ul>
        	<li class="Top_topA"><a href="http://www.xiaoma.com">小马过河</a></li>
            <li class="Top_topA"><a href="http://bbs.xiaoma.com/" onclick="addFavorite(this.href, '小马过河');return false;">收藏本站</a></li>
            <li><a href="http://toefl.xiaoma.com/">托福</a></li>
            <li><a href="http://sat.xiaoma.com/">SAT</a></li>
            <li><a href="http://gre.xiaoma.com/">GRE</a></li>
            <li><a href="http://toefl.xiaoma.com/tuofutingli/">托福听力</a></li>
            <li><a href="http://toefl.xiaoma.com/tuofukouyu/">托福口语</a></li>
            <li><a href="http://toefl.xiaoma.com/tuofuyuedu/">托福阅读</a></li>
            <li><a href="http://toefl.xiaoma.com/tuofuxiezuo/">托福写作</a></li>
            <li><a href="http://www.xiaoma.com/products/dianti.html">点题班</a></li>
            <li><a href="http://www.xiaoma.com/products/net/index.html">网络课程</a></li>
            <li><a href="http://bbs.xiaoma.com/forum-239-1.html">听写训练营</a></li>
            <li><a href="http://sat.xiaoma.com">SAT考试</a></li>
            <li><a href="http://sat.xiaoma.com/SSAT/">SSAT</a></li>
            <li><a href="http://www.xiaoma.com/products/toefl/index.html">托福培训</a></li>
            <li><a href="http://sat.xiaoma.com/AP/">AP</a></li>
            <li style="float:right;" class="Top_topA">
				<% if session[:login_user] %>
				<%= session[:login_user].username %>&nbsp;|&nbsp;
				<a href="<%= XMAPP_MAIN_DOMAIN_URL %>/logout">退出</a>
				<% else %>
				<a href="<%= XMAPP_MAIN_DOMAIN_URL %>/login">登录</a>
				<a href="http://bbs.xiaoma.com/member.php?mod=asdfasdf">注册</a>
				<% end %>
			</li>
        </ul>
    </div>

	<script src='http://www.xiaoma.com/plus/ad_js.php?aid=93' language='javascript'></script>
	<div style=" height:5px; width:100%; float:left;">	
	</div>
    <div class="Top_Nav">
    	<ul>
        	<li><a href="http://www.xiaoma.com">首页</a></li>
            <li><a href="http://bbs.xiaoma.com">论坛</a></li>
            <li><a href="http://group.xiaoma.com">小组</a></li>
            <li><a href="http://products.xiaoma.com">培训课程</a></li>
            <li><a href="http://space.xiaoma.com">空间</a></li>
            <li><a href="http://bbs.xiaoma.com/plugin.php?id=active:index">活动</a></li>
            <li><a href="http://www.xiaoma.com/asks">问答</a></li>
            <li class="Top_NavClick"><a href="http://www.xiaoma.com/dl">资料下载</a></li>
        </ul>
        
    </div>
	
    <div class="Top_List">
            	<div class="Top_ListDiv">
                	<a href="http://bbs.xiaoma.com/thread-263593-1-1.html" onclick="_gaq.push(['_trackEvent', 'tlad', 'clicked', 'bbs_i_b_1'])" target="_blank"><img src="/dzstyle/images/yyhd20120521.jpg" /></a>
                    <ul class="Top_ListLeft">
                    	<li><a class="xw1" target="_blank" href="http://products.xiaoma.com/toefl/index.html" style="color:red; margin-left:50px;" onclick="_gaq.push(['_trackEvent', 'tlad', 'clicked', 'bbs_i_b_2_1'])">托福高分学员工厂</a></li>
                    	<li><a class="xw1" style="color:#DE2FC9; margin-left:50px;" href="http://products.xiaoma.com/sj/" target="_blank" onclick="_gaq.push(['_trackEvent', 'tlad', 'clicked', 'bbs_i_b_2_2'])">暑假小马托福精品1对10</a></li>
                    	<li><a target="_blank" style="color:red; margin-left:50px;" href="http://bbs.xiaoma.com/plugin.php?id=active:index" onclick="_gaq.push(['_trackEvent', 'tlad', 'clicked', 'bbs_i_b_2_1'])">6月小马热门线下活动</a>  <a target="_blank" style="color:red;" href="http://bbs.xiaoma.com/thread-288870-1-1.html?source=bbs_topx2" onclick="_gaq.push(['_trackEvent', 'tlad', 'clicked', 'bbs_i_b_2_2'])">6月免费口语公开课</a></li>
                    </ul>
                    <ul class="Top_ListRigth">
                    	<li><a target="_blank" style="color:red;" href="http://products.xiaoma.com/dtb/" onclick="_gaq.push(['_trackEvent', 'tlad', 'clicked', 'bbs_i_b_3_1'])"> 6月托福点题班,快速提分</a></li>
                    	<li><a target="_blank" style="color:#DE2FC9;" href="http://products.xiaoma.com/sj/" onclick="_gaq.push(['_trackEvent', 'tlad', 'clicked', 'bbs_i_b_3_2'])">暑期托福sat精品班</a><a target="_blank" style="color:#DE2FC9;" href="http://products.xiaoma.com/txy/" onclick="_gaq.push(['_trackEvent', 'tlad', 'clicked', 'bbs_i_b_3_3'])">小马过河听写训练营</a></li>
                    	<li><a target="_blank" style="color:#19F711;" href="http://products.xiaoma.com/ch/" onclick="_gaq.push(['_trackEvent', 'tlad', 'clicked', 'bbs_i_b_3_4'])">10天搞定8000词汇</a><a target="_blank" style="color:#19F711;" href="http://bbs.xiaoma.com/thread-285379-1-1.html" onclick="_gaq.push(['_trackEvent', 'tlad', 'clicked', 'bbs_i_b_3_5'])">6月免费口语训练营</a></li>
                    </ul>
                </div>
    </div>
	<script src='http://www.xiaoma.com/plus/ad_js.php?aid=121' language='javascript'></script>
    <!--   头部结束   -->
        
    <%= yield %>
	
    <div class="Bot_Mian">
    	<ul class="Bot_Left">
        	<li>Powered by<b>小马过河国际教育</b></li>
            <li><font size="-6">© 2001-2012 xiaoma.com.</font></li>
        </ul>
        <ul class="Bot_Right">
        	<li>小马过河 ( 京ICP备09050588号 )</li>
            
        </ul>
    </div>
</div>

<div class="MainBg"></div>
<!-- ga统计代码开始 -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18258123-1']);
  _gaq.push(['_setDomainName', '.xiaoma.com']);
  _gaq.push(['_setAllowHash', false]);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_addOrganic', 'soso', 'w']);
  _gaq.push(['_addOrganic', 'yodao', 'q']);
  _gaq.push(['_addOrganic', 'sogou', 'query']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- ga统计代码结束 -->
</body>
</html>
